Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

feat(authz): gate plugin-config Configure tab + graceful signing 403s (#612)
  src/app/(app)/(admin)/signing/page.test.tsx
  src/app/(app)/(admin)/signing/page.tsx
  src/app/(app)/(protected)/plugins/page.test.tsx
  src/app/(app)/(protected)/plugins/page.tsx
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes

feat(repositories): add APT Release metadata fields to create/edit dialogs
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/lib/api/repositories.ts
Due: Require E2E for page changes

feat(setup): offer both single-line and DEB822 APT source formats
  src/app/(app)/setup/page.tsx
Due: Require E2E for page changes

docs: add ARCHITECTURE.md for the web frontend
  ARCHITECTURE.md
Due: none

docs: add ARCHITECTURE.md for the web frontend (#617)
  ARCHITECTURE.md
Due: none

feat(login): render backend-provided first-run setup hint
  src/app/(auth)/__tests__/login-lockout.test.tsx
  src/app/(auth)/login/page.tsx
  src/providers/auth-provider.tsx
Due: Require E2E for page changes

feat(login): render backend-provided first-run setup hint (#620)
  src/app/(auth)/__tests__/login-lockout.test.tsx
  src/app/(auth)/login/page.tsx
  src/providers/auth-provider.tsx
Due: Require E2E for page changes

fix(packages): use resizable master-detail layout like repos & staging
  src/app/(app)/packages/page.tsx
Due: Require E2E for page changes

fix: group members not showing in admin dialog (#525)
  src/app/(app)/(admin)/groups/page.tsx
  src/lib/api/__tests__/groups.test.ts
  src/lib/api/groups.ts
  src/lib/api/index.ts
Due: Require E2E for page changes

fix(settings): render Environment badge from settings API (#556)
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes

fix(peers): disable actions for the local self-peer (#581)
  e2e/suites/interactions/integrations/peers.spec.ts
  src/app/(app)/(protected)/peers/page.tsx
Due: Require E2E for page changes, Label E2E test changes

test(auth): wait for the captured context, not just the DOM, before changePassword (#583)
  src/providers/__tests__/auth-provider.test.tsx
Due: none

feat(setup): offer both single-line and DEB822 APT source formats (#595)
  src/app/(app)/setup/page.tsx
Due: Require E2E for page changes

fix(packages): use resizable master-detail layout like repos & staging (#622)
  src/app/(app)/packages/page.tsx
Due: Require E2E for page changes

fix(migration): label test-connection toast by connector type
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
Due: Require E2E for page changes

chore: allowlist known E2E JWT_SECRET test fixture in GitGuardian
  .gitguardian.yml
Due: none

chore: allowlist known E2E JWT_SECRET test fixture in GitGuardian (#627)
  .gitguardian.yml
Due: none

chore: rebase lockfile onto main
  package-lock.json
Due: none

chore: bump react and react-dom to 19.2.7
  package-lock.json
  package.json
Due: none

feat(groups): disable edit/add-member actions on SSO-synced groups
  src/app/(app)/(admin)/groups/page.tsx
  src/lib/api/__tests__/groups.test.ts
  src/lib/api/groups.ts
  src/types/groups.ts
Due: Require E2E for page changes

fix(groups): send name on description edit so PUT body deserializes
  src/app/(app)/(admin)/groups/page.tsx
Due: Require E2E for page changes

feat(repositories): folder-tree view for RAW/Generic artifacts
  src/app/(app)/repositories/_components/__tests__/artifact-browser-toggle.test.tsx
  src/app/(app)/repositories/_components/__tests__/artifact-folder-tree.test.tsx
  src/app/(app)/repositories/_components/artifact-browser-toggle.tsx
  src/app/(app)/repositories/_components/artifact-folder-tree.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/artifact-tree.test.ts
  src/lib/artifact-tree.ts
Due: Require E2E for page changes

feat(repositories): default to Packages tab for package-oriented formats
  e2e/suites/interactions/repositories/artifact-browser-grouping.spec.ts
  e2e/suites/interactions/repositories/maven-gav-search-pom.spec.ts
  e2e/suites/interactions/repositories/packages-default-tab.spec.ts
  e2e/suites/interactions/repositories/repo-detail.spec.ts
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/repo-tabs.test.ts
  src/lib/repo-tabs.ts
Due: Require E2E for page changes, Label E2E test changes

test(e2e): fix grouping-toggle spec for the RAW/Generic tree view
  e2e/suites/interactions/repositories/artifact-browser-grouping.spec.ts
Due: Label E2E test changes

feat(repositories): browseable folder tree for RAW/Generic repositories (#630)
  e2e/suites/interactions/repositories/artifact-browser-grouping.spec.ts
  src/app/(app)/repositories/_components/__tests__/artifact-browser-toggle.test.tsx
  src/app/(app)/repositories/_components/__tests__/artifact-folder-tree.test.tsx
  src/app/(app)/repositories/_components/artifact-browser-toggle.tsx
  src/app/(app)/repositories/_components/artifact-folder-tree.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/artifact-tree.test.ts
  src/lib/artifact-tree.ts
Due: Require E2E for page changes, Label E2E test changes

Add age-gate review queue admin page
  src/app/(app)/(admin)/age-gate/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/age-gate.test.ts
  src/lib/api/age-gate.ts
Due: Require E2E for page changes, Label UI component changes

Add age-gate review queue admin page (#635)
  src/app/(app)/(admin)/age-gate/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/age-gate.test.ts
  src/lib/api/age-gate.ts
Due: Require E2E for page changes, Label UI component changes

fix(repositories): scrollable create repository dialog
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

feat: let admins change an age-gate decision after the fact
  CHANGELOG.md
  src/app/(app)/(admin)/age-gate/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/lib/api/__tests__/age-gate.test.ts
  src/lib/api/age-gate.ts
Due: Require E2E for page changes

feat(quarantine): release and reject a held artifact from the web UI
  CHANGELOG.md
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/__tests__/repo-detail-quarantine.test.tsx
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/__tests__/quarantine-banner.test.tsx
  src/components/common/quarantine-banner.tsx
  src/lib/__tests__/quarantine.test.ts
  src/lib/api/__tests__/quarantine.test.ts
  src/lib/api/artifacts.ts
  src/lib/api/quarantine.ts
  src/lib/quarantine.ts
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

feat: detect the reopen endpoint instead of assuming the backend has it
  CHANGELOG.md
  src/app/(app)/(admin)/age-gate/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/lib/api/__tests__/age-gate.test.ts
  src/lib/api/__tests__/fetch.test.ts
  src/lib/api/age-gate.ts
  src/lib/api/fetch.ts
Due: Require E2E for page changes

Fix package age policy state not persisting across navigation (#665)
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/repositories.ts
  src/types/index.ts
Due: Require E2E for page changes

Fix package age policy state not persisting across navigation (#656)
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/lib/api/__tests__/repositories.test.ts
Due: Require E2E for page changes

Fix package age policy state not persisting across navigation (#656)
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
Due: Require E2E for page changes

Fix package age policy state not persisting across navigation (#656)
  e2e/suites/interactions/repositories/age-policy.spec.ts
Due: Label E2E test changes

feat(lifecycle): select repository scope in UI
  e2e/suites/interactions/operations/lifecycle.spec.ts
  src/app/(app)/(admin)/lifecycle/page.test.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/types/lifecycle.ts
Due: Require E2E for page changes, Label E2E test changes

fix(lifecycle): address repository selector review feedback
  src/app/(app)/(admin)/lifecycle/page.test.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/types/lifecycle.ts
Due: Require E2E for page changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
