Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "-title~=major"
      - check-success=lint
      - check-success=build
      - check-success=e2e
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update

  - name: Require E2E for page changes
    conditions:
      - "files~=^src/app/"
      - -draft
    actions:
      label:
        add:
          - needs-e2e
      comment:
        message: |
          This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.

  - name: Label UI component changes
    conditions:
      - "files~=^src/components/"
    actions:
      label:
        add:
          - ui

  - name: Label E2E test changes
    conditions:
      - "files~=^e2e/"
    actions:
      label:
        add:
          - e2e

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

fix(e2e): select lifecycle repositories through accessible roles
  e2e/suites/interactions/operations/lifecycle.spec.ts
Due: Label E2E test changes

fix(settings): read back release target and age policy from saved config
  CHANGELOG.md
  src/app/(app)/repositories/_components/release-target-settings.test.tsx
  src/app/(app)/repositories/_components/release-target-settings.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/types/index.ts
Due: Require E2E for page changes

fix(security): choose a repository in the policy form instead of a raw UUID (#489)
  CHANGELOG.md
  src/app/(app)/(admin)/security/policies/page.test.tsx
  src/app/(app)/(admin)/security/policies/page.tsx
Due: Require E2E for page changes

fix(settings): honor staging release target in promote dialog
  CHANGELOG.md
  src/app/(app)/staging/_components/promotion-dialog.test.tsx
  src/app/(app)/staging/_components/promotion-dialog.tsx
Due: Require E2E for page changes

chore(release): add CHANGELOG [1.6.0] section for the web 1.6.0 cut
  CHANGELOG.md
Due: none

fix(tokens): use granular scope values for token creation (1.7.0 compat)
  e2e/suites/interactions/dashboard/api-comprehensive.spec.ts
  e2e/suites/interactions/dashboard/api-integration.spec.ts
  e2e/suites/interactions/integrations/access-tokens.spec.ts
  npm-ci.log
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/components/common/__tests__/token-create-form.test.tsx
  src/lib/__tests__/constants.test.ts
  src/lib/api/__tests__/profile.test.ts
  src/lib/api/__tests__/service-accounts.test.ts
  src/lib/constants/token.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

chore: drop accidentally-committed npm-ci.log + gitignore it
  .gitignore
  npm-ci.log
Due: none

chore(release): web 1.6.0 prep — CHANGELOG + granular-scope token fix (1.7.0 compat) (#664)
  .gitignore
  CHANGELOG.md
  e2e/suites/interactions/dashboard/api-comprehensive.spec.ts
  e2e/suites/interactions/dashboard/api-integration.spec.ts
  e2e/suites/interactions/integrations/access-tokens.spec.ts
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/components/common/__tests__/token-create-form.test.tsx
  src/lib/__tests__/constants.test.ts
  src/lib/api/__tests__/profile.test.ts
  src/lib/api/__tests__/service-accounts.test.ts
  src/lib/constants/token.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

fix(security): choose a repository in the policy form instead of a raw UUID (#489) (#662)
  CHANGELOG.md
  src/app/(app)/(admin)/security/policies/page.test.tsx
  src/app/(app)/(admin)/security/policies/page.tsx
Due: Require E2E for page changes

fix(migration): label test-connection toast by connector type (#625)
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
Due: Require E2E for page changes

fix(repositories): scrollable create repository dialog (#652)
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

feat(quarantine): release and reject a held artifact from the web UI (#654)
  CHANGELOG.md
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/__tests__/repo-detail-quarantine.test.tsx
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/__tests__/quarantine-banner.test.tsx
  src/components/common/quarantine-banner.tsx
  src/lib/__tests__/quarantine.test.ts
  src/lib/api/__tests__/quarantine.test.ts
  src/lib/api/artifacts.ts
  src/lib/api/quarantine.ts
  src/lib/quarantine.ts
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

feat(repositories): default to Packages tab for package-oriented formats (#633)
  e2e/suites/interactions/repositories/artifact-browser-grouping.spec.ts
  e2e/suites/interactions/repositories/maven-gav-search-pom.spec.ts
  e2e/suites/interactions/repositories/packages-default-tab.spec.ts
  e2e/suites/interactions/repositories/repo-detail.spec.ts
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/repo-tabs.test.ts
  src/lib/repo-tabs.ts
Due: Require E2E for page changes, Label E2E test changes

feat(lifecycle): select repository scope in UI (#660)
  e2e/suites/interactions/operations/lifecycle.spec.ts
  src/app/(app)/(admin)/lifecycle/page.test.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/types/lifecycle.ts
Due: Require E2E for page changes, Label E2E test changes

chore(deps): bump @artifact-keeper/sdk to ^1.7.0
  package-lock.json
  package.json
  src/lib/api/__tests__/promotion.test.ts
  src/lib/api/__tests__/security.test.ts
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/repositories.ts
Due: none

feat(age-gate): let admins change a review decision after the fact (#655)
  CHANGELOG.md
  src/app/(app)/(admin)/age-gate/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/lib/api/__tests__/age-gate.test.ts
  src/lib/api/__tests__/fetch.test.ts
  src/lib/api/age-gate.ts
  src/lib/api/fetch.ts
Due: Require E2E for page changes

feat(repositories): add Scanning & enforcement settings panel
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/scan-config.test.ts
  src/lib/api/scan-config.ts
Due: Require E2E for page changes

fix(query): param-scope repositories-list cache keys (#668)
  src/app/(app)/(protected)/replication/page.tsx
  src/app/(app)/search/_components/search-content.tsx
Due: Require E2E for page changes

chore(deps): bump @artifact-keeper/sdk to ^1.7.0 (#667)
  package-lock.json
  package.json
  src/lib/api/__tests__/promotion.test.ts
  src/lib/api/__tests__/security.test.ts
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/repositories.ts
Due: none

feat(repositories): add Scanning & enforcement settings panel (#681)
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/scan-config.test.ts
  src/lib/api/scan-config.ts
Due: Require E2E for page changes

feat(curation): add curation Rules editor for publisher-trust and popularity gates
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.test.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.tsx
  src/app/(app)/(admin)/curation/page.tsx
  src/lib/api/__tests__/curation-rules.test.ts
  src/lib/api/curation-rules.ts
  src/lib/api/index.ts
Due: Require E2E for page changes

chore(ci): make dependency review blocking and add npm audit gate (#675)
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  package-lock.json
  package.json
Due: none

fix(permissions): resolve service account names
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
Due: Require E2E for page changes

fix(permissions): support service account principals
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/lib/api/__tests__/permissions.test.ts
  src/lib/api/permissions.ts
Due: Require E2E for page changes

fix(permissions): improve service account selection
  e2e/suites/interactions/admin/permissions.spec.ts
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
Due: Require E2E for page changes, Label E2E test changes

feat(curation): add curation Rules editor for publisher-trust and popularity gates (#683)
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.test.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.tsx
  src/app/(app)/(admin)/curation/page.tsx
  src/lib/api/__tests__/curation-rules.test.ts
  src/lib/api/curation-rules.ts
  src/lib/api/index.ts
Due: Require E2E for page changes

fix(a11y): remove nested interactive elements from repository list rows (#672)
  e2e/suites/interactions/repositories/repo-dialog-a11y.spec.ts
  src/app/(app)/repositories/_components/repo-list-item.test.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
Due: Require E2E for page changes, Label E2E test changes

feat(security): send custom header on mutations for CSRF defense-in-depth (#673)
  README.md
  src/app/(auth)/callback/page.tsx
  src/lib/__tests__/sdk-client.test.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/__tests__/fetch.test.ts
  src/lib/api/__tests__/promotion.test.ts
  src/lib/api/__tests__/uploads.test.ts
  src/lib/api/fetch.ts
  src/lib/api/promotion.ts
  src/lib/api/uploads.ts
  src/lib/sdk-client.ts
Due: Require E2E for page changes

fix(security): evaluate AK_ENFORCE_HTTPS at runtime instead of build time (#679)
  Dockerfile
  README.md
  next.config.ts
  src/__tests__/dockerfile.test.ts
  src/__tests__/middleware.test.ts
  src/instrumentation.ts
  src/lib/security-headers.ts
  src/middleware.ts
Due: none

refactor(query): consolidate repository-list queries into shared hooks (#669)
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.test.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.tsx
  src/app/(app)/(admin)/curation/page.test.tsx
  src/app/(app)/(admin)/curation/page.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/app/(app)/(admin)/promotion-rules/page.test.tsx
  src/app/(app)/(admin)/promotion-rules/page.tsx
  src/app/(app)/(admin)/security/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/security/policies/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/app/(app)/(protected)/replication/page.tsx
  src/app/(app)/packages/page.tsx
  src/app/(app)/repositories/_components/release-target-settings.tsx
  src/app/(app)/repositories/_components/repositories-content.test.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/app/(app)/repositories/_components/virtual-members-panel.tsx
  src/app/(app)/repositories/page.test.tsx
  src/app/(app)/search/_components/search-content.test.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/app/(app)/setup/page.tsx
  src/hooks/__tests__/use-repositories.test.ts
  src/hooks/use-repositories.ts
  src/lib/__tests__/query-keys.test.ts
  src/lib/query-keys.ts
Due: Require E2E for page changes

fix(lists): surface silent per_page truncation on admin list pages (#670)
  src/app/(app)/(admin)/backups/page.tsx
  src/app/(app)/(admin)/curation/page.tsx
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
  src/app/(app)/(protected)/peers/page.tsx
  src/app/(app)/(protected)/replication/page.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/app/(app)/repositories/_components/virtual-members-panel.tsx
  src/components/common/__tests__/list-truncation-notice.test.tsx
  src/components/common/list-truncation-notice.tsx
Due: Require E2E for page changes, Label UI component changes

test(e2e): adopt backend 1.7.0 grouped-metadata format in maven grouped browser spec (#665)
  e2e/suites/interactions/repositories/maven-grouped-browser.spec.ts
Due: Label E2E test changes

test(e2e): adopt backend 1.7.0 grouped-metadata format in maven grouped browser spec (#665) (#696)
  e2e/suites/interactions/repositories/maven-grouped-browser.spec.ts
Due: Label E2E test changes

chore(ci): make dependency review blocking and add npm audit gate (#675) (#686)
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  package-lock.json
  package.json
Due: none

fix(lists): surface silent per_page truncation on admin list pages (#670) (#688)
  src/app/(app)/(admin)/backups/page.tsx
  src/app/(app)/(admin)/curation/page.tsx
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
  src/app/(app)/(protected)/peers/page.tsx
  src/app/(app)/(protected)/replication/page.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/app/(app)/repositories/_components/virtual-members-panel.tsx
  src/components/common/__tests__/list-truncation-notice.test.tsx
  src/components/common/list-truncation-notice.tsx
Due: Require E2E for page changes, Label UI component changes

fix(a11y): remove nested interactive elements from repository list rows (#672) (#689)
  e2e/suites/interactions/repositories/repo-dialog-a11y.spec.ts
  src/app/(app)/repositories/_components/repo-list-item.test.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
Due: Require E2E for page changes, Label E2E test changes

feat(security): send custom header on mutations for CSRF defense-in-depth (#673) (#690)
  README.md
  src/app/(auth)/callback/page.tsx
  src/lib/__tests__/sdk-client.test.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/__tests__/fetch.test.ts
  src/lib/api/__tests__/promotion.test.ts
  src/lib/api/__tests__/uploads.test.ts
  src/lib/api/fetch.ts
  src/lib/api/promotion.ts
  src/lib/api/uploads.ts
  src/lib/sdk-client.ts
Due: Require E2E for page changes

fix(security): evaluate AK_ENFORCE_HTTPS at runtime instead of build time (#679) (#691)
  Dockerfile
  README.md
  next.config.ts
  src/__tests__/dockerfile.test.ts
  src/__tests__/middleware.test.ts
  src/instrumentation.ts
  src/lib/security-headers.ts
  src/middleware.ts
Due: none

feat(security): nonce-based CSP without script-src unsafe-inline (#674)
  next.config.ts
  src/__tests__/middleware.test.ts
  src/app/layout.test.tsx
  src/app/layout.tsx
  src/lib/__tests__/security-headers.test.ts
  src/lib/security-headers.ts
  src/middleware.ts
  src/providers/index.tsx
  src/providers/theme-provider.tsx
Due: Require E2E for page changes

refactor(query): consolidate repository-list queries into shared hooks (#669) (#692)
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.test.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.tsx
  src/app/(app)/(admin)/curation/page.test.tsx
  src/app/(app)/(admin)/curation/page.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/app/(app)/(admin)/promotion-rules/page.test.tsx
  src/app/(app)/(admin)/promotion-rules/page.tsx
  src/app/(app)/(admin)/security/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/security/policies/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/app/(app)/(protected)/replication/page.tsx
  src/app/(app)/packages/page.tsx
  src/app/(app)/repositories/_components/release-target-settings.tsx
  src/app/(app)/repositories/_components/repositories-content.test.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/app/(app)/repositories/_components/virtual-members-panel.tsx
  src/app/(app)/repositories/page.test.tsx
  src/app/(app)/search/_components/search-content.test.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/app/(app)/setup/page.tsx
  src/hooks/__tests__/use-repositories.test.ts
  src/hooks/use-repositories.ts
  src/lib/__tests__/query-keys.test.ts
  src/lib/query-keys.ts
Due: Require E2E for page changes
