Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "-title~=major"
      - check-success=lint
      - check-success=build
      - check-success=e2e
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update

  - name: Require E2E for page changes
    conditions:
      - "files~=^src/app/"
      - -draft
    actions:
      label:
        add:
          - needs-e2e
      comment:
        message: |
          This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.

  - name: Label UI component changes
    conditions:
      - "files~=^src/components/"
    actions:
      label:
        add:
          - ui

  - name: Label E2E test changes
    conditions:
      - "files~=^e2e/"
    actions:
      label:
        add:
          - e2e

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

feat(downloads): deep link the download audit to one artifact (#963)
  CHANGELOG.md
  src/app/(app)/(admin)/downloads/__tests__/page.test.tsx
  src/app/(app)/(admin)/downloads/page.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

feat(repositories): link the scan-on-proxy note to the coverage doc (#954)
  CHANGELOG.md
  src/app/(app)/repositories/_components/scan-on-proxy-note.test.tsx
  src/app/(app)/repositories/_components/scan-on-proxy-note.tsx
Due: Require E2E for page changes

feat(security): edit scan-policy conda and origin predicates (#911)
  CHANGELOG.md
  src/app/(app)/(admin)/security/policies/_components/predicate-fields.test.ts
  src/app/(app)/(admin)/security/policies/_components/predicate-fields.tsx
  src/app/(app)/(admin)/security/policies/page.test.tsx
  src/app/(app)/(admin)/security/policies/page.tsx
  src/lib/__tests__/policy-predicates.test.ts
  src/lib/api/security.ts
  src/lib/policy-predicates.ts
  src/types/security.ts
Due: Require E2E for page changes

fix(dashboard): the Repositories statistics tile links to Repositories (#822)
  CHANGELOG.md
  src/app/(app)/_components/__tests__/dashboard-content.test.tsx
  src/app/(app)/_components/dashboard-content.tsx
  src/components/common/__tests__/stat-card.test.tsx
  src/components/common/stat-card.tsx
Due: Require E2E for page changes, Label UI component changes

fix(security): show not-cataloged scans as not cataloged, never clean (#920)
  CHANGELOG.md
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/security/scans/page.test.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/app/(app)/repositories/_components/__tests__/artifact-scans-section.test.tsx
  src/app/(app)/repositories/_components/__tests__/security-tab-content.test.tsx
  src/app/(app)/repositories/_components/artifact-scans-section.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/lib/__tests__/scan-utils.test.ts
  src/lib/api/security.ts
  src/lib/scan-utils.ts
  src/types/security.ts
Due: Require E2E for page changes

fix(version): a release image reports the version of its tag (#842)
  CHANGELOG.md
  src/lib/__tests__/build-version.test.ts
  src/lib/build-version.ts
Due: none

fix(repositories): show a virtual repository's member bytes (#958)
  CHANGELOG.md
  src/app/(app)/_components/dashboard-content.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/__tests__/repo-size.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/repo-size.ts
  src/types/index.ts
Due: Require E2E for page changes

feat(artifacts): verified-publisher badge on conda packages (#921)
  CHANGELOG.md
  src/app/(app)/repositories/_components/artifact-attestation-section.test.tsx
  src/app/(app)/repositories/_components/conda-package-section.tsx
  src/components/package/publisher-badge.tsx
  src/lib/__tests__/attestation.test.ts
  src/lib/attestation.ts
Due: Require E2E for page changes, Label UI component changes

test(tree): a large folder lists every subfolder (#955)
  CHANGELOG.md
  src/app/(app)/repositories/_components/__tests__/artifact-folder-tree.test.tsx
Due: Require E2E for page changes

fix(replication): refresh re-reads subscriptions and topology, not only peers (#841)
  CHANGELOG.md
  src/app/(app)/(protected)/replication/_lib/refresh.test.ts
  src/app/(app)/(protected)/replication/_lib/refresh.ts
  src/app/(app)/(protected)/replication/page.tsx
Due: Require E2E for page changes

feat(environments): advisory changes feed on the Environments tab (#919)
  CHANGELOG.md
  src/app/(app)/repositories/_components/advisory-transitions-feed.tsx
  src/app/(app)/repositories/_components/environments-tab-content.test.tsx
  src/app/(app)/repositories/_components/environments-tab-content.tsx
  src/lib/api/__tests__/environments.test.ts
  src/lib/api/environments.ts
Due: Require E2E for page changes

fix(staging): label the backend's gate rule tokens and fold violations into their gate (#917)
  src/app/(app)/staging/_components/promotion-dialog.test.tsx
  src/app/(app)/staging/_components/promotion-result.tsx
Due: Require E2E for page changes

fix(layout): the repositories split view no longer widens the page past the viewport (#963)
  CHANGELOG.md
  e2e/suites/visual/pages/admin-pages.spec.ts-snapshots/analytics-desktop-admin-visual-linux.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/dashboard-mobile-admin-visual-linux.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/repositories-desktop-admin-visual-linux.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/repositories-mobile-admin-visual-linux.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/search-mobile-admin-visual-linux.png
  src/app/(app)/layout.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-detail-panel.tsx
Due: Require E2E for page changes, Label E2E test changes

fix(artifacts): show a key-signed attestation's key name and fingerprint, not a synthetic issuer (#961)
  src/app/(app)/repositories/_components/artifact-attestation-section.test.tsx
  src/app/(app)/repositories/_components/artifact-attestation-section.tsx
Due: Require E2E for page changes

test(holds): mock ShieldAlert and Ban in the sidebar lucide stub
  src/components/layout/__tests__/app-sidebar.test.tsx
Due: Label UI component changes

feat(signing): repository signing settings on the repo and keys pages
  src/app/(app)/(admin)/signing/page.tsx
  src/app/(app)/(admin)/signing/signing-repositories-panel.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/signing-settings.test.tsx
  src/app/(app)/repositories/_components/signing-settings.tsx
  src/lib/__tests__/signing-formats.test.ts
  src/lib/api/signing.ts
  src/lib/signing-formats.ts
Due: Require E2E for page changes

fix(signing): drop trust-attestation UI and mock signing-page queries
  src/app/(app)/(admin)/signing/page.test.tsx
  src/app/(app)/repositories/_components/signing-settings.test.tsx
  src/app/(app)/repositories/_components/signing-settings.tsx
Due: Require E2E for page changes

feat(repositories): allowlist editor for conda virtual repositories
  CHANGELOG.md
  src/app/(app)/(admin)/audit/__tests__/page.test.tsx
  src/app/(app)/(admin)/audit/page.tsx
  src/app/(app)/repositories/_components/conda-allowlist-settings.test.tsx
  src/app/(app)/repositories/_components/conda-allowlist-settings.tsx
  src/app/(app)/repositories/_components/conda-allowlist-summary.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/__tests__/conda-allowlist.test.ts
  src/lib/api/__tests__/conda-allowlist.test.ts
  src/lib/api/conda-allowlist.ts
  src/lib/conda-allowlist.ts
Due: Require E2E for page changes

test(e2e): enable, summarize and disable a conda virtual allowlist
  e2e/suites/interactions/repositories/conda-allowlist.spec.ts
Due: Label E2E test changes

test(e2e): skip the allowlist specs on a backend without the endpoint
  e2e/suites/interactions/repositories/conda-allowlist.spec.ts
Due: Label E2E test changes
