Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "-title~=major"
      - check-success=lint
      - check-success=build
      - check-success=e2e
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update

  - name: Require E2E for page changes
    conditions:
      - "files~=^src/app/"
      - -draft
    actions:
      label:
        add:
          - needs-e2e
      comment:
        message: |
          This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.

  - name: Label UI component changes
    conditions:
      - "files~=^src/components/"
    actions:
      label:
        add:
          - ui

  - name: Label E2E test changes
    conditions:
      - "files~=^e2e/"
    actions:
      label:
        add:
          - e2e

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

fix(ui): stop showing a green all-clear for proxy-cached artifacts
  src/app/(app)/repositories/_components/artifact-scans-section.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/lib/__tests__/artifact-analyzable.test.ts
  src/lib/artifact-analyzable.ts
Due: Require E2E for page changes

test(ui): cover the SecurityTabContent proxy-cached empty state
  src/app/(app)/repositories/_components/__tests__/security-tab-content.test.tsx
Due: Require E2E for page changes

fix(ui): stop claiming proxy-cached artifacts cannot be scanned
  src/app/(app)/repositories/_components/artifact-scans-section.tsx
Due: Require E2E for page changes

fix(ui): address review findings on proxy scan copy fix (#3344)
  src/app/(app)/repositories/_components/__tests__/artifact-scans-section.test.tsx
  src/app/(app)/repositories/_components/__tests__/sbom-tab-content.test.tsx
  src/app/(app)/repositories/_components/artifact-scans-section.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/artifact-analyzable.test.ts
  src/lib/artifact-analyzable.ts
Due: Require E2E for page changes

types(security): contract types for the proxy scan verdict endpoint
  src/types/proxy-scans.ts
Due: none

feat(security): proxy scan verdict types, client and presentation logic
  src/lib/__tests__/proxy-scan.test.ts
  src/lib/api/__tests__/proxy-scans.test.ts
  src/lib/api/proxy-scans.ts
  src/lib/proxy-scan.ts
Due: none

feat(security): replace the green all-clear with a proxy verdict panel
  src/app/(app)/repositories/_components/__tests__/proxy-scan-panel.test.tsx
  src/app/(app)/repositories/_components/__tests__/security-tab-content.test.tsx
  src/app/(app)/repositories/_components/proxy-scan-panel.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
Due: Require E2E for page changes

feat(security): repository proxy-cache scan summary and cached-path listing
  src/app/(app)/repositories/_components/__tests__/proxy-scan-summary.test.tsx
  src/app/(app)/repositories/_components/proxy-scan-summary.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/proxy-scan.test.ts
  src/lib/proxy-scan.ts
Due: Require E2E for page changes

test(security): pin the Security tab audience for proxy scan verdicts
  src/app/(app)/repositories/_components/__tests__/repo-detail-proxy-scan.test.tsx
Due: Require E2E for page changes

test(security): cover proxy summary sorting with an absent scanned_at
  src/app/(app)/repositories/_components/__tests__/proxy-scan-summary.test.tsx
Due: Require E2E for page changes

fix(security): narrow the proxy scan failure union to what the notice renders
  src/lib/proxy-scan.ts
Due: none

feat(sbom): serve the proxy-cache SBOM in the artifact SBOM tab
  src/app/(app)/repositories/_components/proxy-sbom-panel.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/sbom-tab-content.tsx
  src/lib/__tests__/proxy-sbom.test.ts
  src/lib/api/proxy-sbom.ts
  src/lib/proxy-sbom.ts
  src/types/proxy-sbom.ts
Due: Require E2E for page changes

test(sbom): cover the proxy SBOM panel, client and tab wiring
  src/app/(app)/repositories/_components/__tests__/proxy-sbom-panel.test.tsx
  src/app/(app)/repositories/_components/__tests__/sbom-tab-content.test.tsx
  src/app/(app)/repositories/_components/__tests__/sbom-tab-proxy.test.tsx
  src/lib/api/__tests__/proxy-sbom.test.ts
Due: Require E2E for page changes

test(sbom): cover proxy SBOM sorting and document download
  src/app/(app)/repositories/_components/__tests__/proxy-sbom-panel.test.tsx
  src/app/(app)/repositories/_components/proxy-sbom-panel.tsx
Due: Require E2E for page changes

feat(sbom): surface a scan-reported partial inventory, and explain the empty state
  src/app/(app)/repositories/_components/__tests__/proxy-sbom-panel.test.tsx
  src/app/(app)/repositories/_components/proxy-sbom-panel.tsx
  src/lib/__tests__/proxy-sbom.test.ts
  src/lib/proxy-sbom.ts
  src/types/proxy-sbom.ts
Due: Require E2E for page changes

feat(i18n): add next-intl localization framework with English/Chinese UI shell
  CHANGELOG.md
  messages/en.json
  messages/zh.json
  next.config.ts
  package-lock.json
  package.json
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/app/layout.tsx
  src/components/layout/app-header.tsx
  src/components/layout/app-sidebar.tsx
  src/components/layout/demo-banner.tsx
  src/components/layout/instance-switcher.tsx
  src/components/layout/locale-switcher.tsx
  src/components/layout/password-expiry-banner.tsx
  src/components/layout/skip-nav-link.tsx
  src/i18n/request.ts
  src/i18n/routing.ts
Due: Require E2E for page changes, Label UI component changes

docs: add Chinese translations of project documentation
  AGENTS-zh.md
  ARCHITECTURE-zh.md
  CHANGELOG-zh.md
  README-zh.md
  docs/TEST_PLAN-zh.md
  docs/features/repository-storage-usage-zh.md
  docs/plans/2026-02-21-comprehensive-playwright-testing-design-zh.md
  docs/plans/2026-02-21-comprehensive-playwright-testing-zh.md
  docs/plans/2026-02-21-tutorial-recording-infrastructure-design-zh.md
  docs/plans/2026-02-21-tutorial-recording-infrastructure-zh.md
  docs/plans/2026-03-04-staging-repo-creation-ui-design-zh.md
  docs/plans/2026-03-04-staging-repo-creation-ui-zh.md
  docs/release-history/v1.1.8-web-postmortem-zh.md
Due: none

test(i18n): add global next-intl mock and update assertions for translated UI
  src/app/(app)/(admin)/age-gate/page.test.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.test.tsx
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/sync-policies/page.test.tsx
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/webhooks/__tests__/page.test.tsx
  src/app/(app)/(protected)/webhooks/__tests__/regression-378.test.tsx
  src/app/(app)/__tests__/page.test.tsx
  src/app/(app)/_components/__tests__/dashboard-content.test.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/app/(app)/repositories/_components/release-target-settings.test.tsx
  src/app/(app)/repositories/_components/repo-list-item.test.tsx
  vitest.next-intl.setup.ts
Due: Require E2E for page changes

docs: add changelog entry for full UI localization
  CHANGELOG.md
Due: none

fix(i18n): translate remaining hardcoded pages and base components
  CHANGELOG.md
  messages/en.json
  messages/zh.json
  src/app/(app)/packages/[id]/page.tsx
  src/app/(app)/setup/page.tsx
  src/app/(auth)/callback/page.tsx
  src/app/(auth)/error.tsx
  src/app/error/403/page.tsx
  src/app/error/500/page.tsx
  src/components/setup/repo-setup-guide.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
Due: Require E2E for page changes, Label UI component changes

fix(i18n): guard setup dialog header against empty-key MISSING_MESSAGE
  CHANGELOG.md
  src/app/(app)/setup/page.test.tsx
  src/app/(app)/setup/page.tsx
Due: Require E2E for page changes

docs: remove Chinese document translations
  AGENTS-zh.md
  ARCHITECTURE-zh.md
  CHANGELOG-zh.md
  docs/TEST_PLAN-zh.md
  docs/features/repository-storage-usage-zh.md
  docs/plans/2026-02-21-comprehensive-playwright-testing-design-zh.md
  docs/plans/2026-02-21-comprehensive-playwright-testing-zh.md
  docs/plans/2026-02-21-tutorial-recording-infrastructure-design-zh.md
  docs/plans/2026-02-21-tutorial-recording-infrastructure-zh.md
  docs/plans/2026-03-04-staging-repo-creation-ui-design-zh.md
  docs/plans/2026-03-04-staging-repo-creation-ui-zh.md
  docs/release-history/v1.1.8-web-postmortem-zh.md
Due: none

refactor(i18n): consolidate message catalogs under src/i18n
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/i18n/en.json
  src/i18n/request.ts
  src/i18n/routing.ts
  src/i18n/zh.json
  vitest.next-intl.setup.ts
Due: Require E2E for page changes

fix(i18n): resolve duplicate keys overriding user-visible text
  CHANGELOG.md
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/app/(app)/(admin)/signing/page.tsx
  src/i18n/en.json
  src/i18n/zh.json
Due: Require E2E for page changes

refactor(i18n): nest message catalogs under src/i18n/locales
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/i18n/request.ts
  vitest.next-intl.setup.ts
Due: Require E2E for page changes

docs(i18n): document group-to-route correspondence in groups.ts
  src/i18n/groups.ts
Due: none

refactor(i18n): nest admin message namespaces under a single admin key
  CHANGELOG.md
  src/app/(app)/(admin)/age-gate/page.tsx
  src/app/(app)/(admin)/analytics/page.tsx
  src/app/(app)/(admin)/approvals/page.tsx
  src/app/(app)/(admin)/audit/page.tsx
  src/app/(app)/(admin)/backups/page.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.tsx
  src/app/(app)/(admin)/curation/page.tsx
  src/app/(app)/(admin)/downloads/page.tsx
  src/app/(app)/(admin)/error.tsx
  src/app/(app)/(admin)/format-handlers/page.tsx
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/license-policies/page.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/app/(app)/(admin)/monitoring/page.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/app/(app)/(admin)/promotion-rules/page.tsx
  src/app/(app)/(admin)/quality-checks/page.tsx
  src/app/(app)/(admin)/quality-gates/page.tsx
  src/app/(app)/(admin)/rate-limits/page.tsx
  src/app/(app)/(admin)/security/blast-radius/page.tsx
  src/app/(app)/(admin)/security/dt-projects/[uuid]/page.tsx
  src/app/(app)/(admin)/security/dt-projects/page.tsx
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/security/policies/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/app/(app)/(admin)/signing/page.tsx
  src/app/(app)/(admin)/sync-policies/page.tsx
  src/app/(app)/(admin)/system-health/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/i18n/groups.ts
  src/i18n/locales/en/admin.json
  src/i18n/locales/zh/admin.json
  vitest.next-intl.setup.ts
Due: Require E2E for page changes

refactor(i18n): drop redundant groups.ts manifest, derive group type from importers
  src/i18n/groups.ts
  src/i18n/load-messages.ts
  src/i18n/routing.ts
Due: none

chore(i18n): remove stray commit-message temp file
  .git-commit-msg.txt
Due: none

feat(theme): brand default theme - white background, navy primary (#023795), medium-blue secondary (#4690d2), white header
  CHANGELOG.md
  src/app/globals.css
  src/components/layout/app-header.tsx
Due: Require E2E for page changes, Label UI component changes

feat(theme): add depth to default theme - light-blue tinted page background with subtle gradient, header shadow
  CHANGELOG.md
  src/app/globals.css
  src/components/layout/app-header.tsx
Due: Require E2E for page changes, Label UI component changes

fix(theme): keep the body gradient light-only so dark mode stays a flat dark background
  src/app/globals.css
Due: Require E2E for page changes

feat(theme): make brand a separate default theme, keep original light/dark unchanged
  CHANGELOG.md
  src/app/globals.css
  src/components/layout/app-header.tsx
  src/providers/theme-provider.tsx
Due: Require E2E for page changes, Label UI component changes

docs: refresh README for current stack, i18n and themes
  README.md
Due: none

docs(zh): sync README-zh.md with the refreshed English README
  README-zh.md
Due: none

fix(build): add @swc/helpers 0.5.23 to satisfy @swc/core peer dep
  package-lock.json
  package.json
Due: none

fix(i18n): add missing npm upstream feed env-var descriptions
  CHANGELOG.md
  src/i18n/locales/en/components/settings/npm-upstream-feed-card.json
  src/i18n/locales/zh/components/settings/npm-upstream-feed-card.json
Due: none
