Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

test(e2e): Playwright coverage for the 1.8.x feature batch (#738/#740/#743/#744/#746/#748) (#765)
  e2e/setup/seed-data.ts
  e2e/suites/interactions/dashboard/dashboard-stats.spec.ts
  e2e/suites/interactions/operations/migration.spec.ts
  e2e/suites/interactions/repositories/repo-create-npm.spec.ts
  e2e/suites/interactions/repositories/repo-search.spec.ts
  e2e/suites/interactions/repositories/repo-setup-pub.spec.ts
  e2e/suites/interactions/repositories/repo-setup-tab.spec.ts
Due: Label E2E test changes

fix: request an exact total for the repository artifact list
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
Due: Require E2E for page changes

fix: cap and middle-elide the artifact name column
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/__tests__/middle-ellipsis.test.tsx
  src/components/common/middle-ellipsis.tsx
Due: Require E2E for page changes, Label UI component changes

fix(packages): split colon-joined Maven package names into groupId/artifactId in install snippets
  src/lib/__tests__/maven.test.ts
  src/lib/__tests__/package-utils.test.ts
  src/lib/maven.ts
  src/lib/package-utils.ts
Due: none

fix: request an exact total for the repository artifact list (#766)
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
Due: Require E2E for page changes

fix: cap and middle-elide the artifact name column (#769)
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/__tests__/middle-ellipsis.test.tsx
  src/components/common/middle-ellipsis.tsx
Due: Require E2E for page changes, Label UI component changes

fix(packages): split colon-joined Maven package names into groupId/artifactId in install snippets (#771)
  src/lib/__tests__/maven.test.ts
  src/lib/__tests__/package-utils.test.ts
  src/lib/maven.ts
  src/lib/package-utils.ts
Due: none

fix(auth): retry token refresh after tab unfreeze before redirecting to login (#558)
  src/lib/__tests__/sdk-client.test.ts
  src/lib/sdk-client.ts
  src/lib/tab-unfreeze.ts
  src/providers/query-provider.tsx
Due: none

fix(auth): retry token refresh after tab unfreeze before redirecting to login (#558) (#772)
  src/lib/__tests__/sdk-client.test.ts
  src/lib/sdk-client.ts
  src/lib/tab-unfreeze.ts
  src/providers/query-provider.tsx
Due: none

fix(search): split dotted Maven groupIds into separate FTS terms (#475)
  src/lib/__tests__/maven.test.ts
  src/lib/maven.ts
Due: none

fix(maven): parse the optional classifier and prefer backend-stored GAVC (#482)
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/maven.test.ts
  src/lib/maven.ts
Due: Require E2E for page changes

fix(repositories): add a classifier/extension column to the Maven flat view (#474)
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

fix(repositories): offer grouped view for the whole Docker family (#418)
  src/app/(app)/repositories/_components/__tests__/artifact-browser-toggle.test.tsx
  src/app/(app)/repositories/_components/artifact-browser-toggle.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

fix(repositories): save Maven artifact downloads under their real filename (#477)
  src/app/(app)/repositories/_components/artifact-versions-section.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

fix(repositories): omit member_repos when creating a member-less virtual repo (#754)
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

fix(repositories): show last-downloaded date in the artifact detail dialog (#472)
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
Due: Require E2E for page changes

fix(repositories): Maven GAVC parsing, download filenames, groupable formats, member-less virtual create (#773)
  src/app/(app)/repositories/_components/__tests__/artifact-browser-toggle.test.tsx
  src/app/(app)/repositories/_components/artifact-browser-toggle.tsx
  src/app/(app)/repositories/_components/artifact-versions-section.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/lib/__tests__/maven.test.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
  src/lib/maven.ts
Due: Require E2E for page changes

docs: backfill changelog entries for #767 and #768, require an entry per PR
  AGENTS.md
  CHANGELOG.md
Due: none

ci: fix Mergify Dependabot auto-merge check names and skip linked-issue check for bots
  .github/workflows/ci.yml
  .github/workflows/require-linked-issue.yml
  .mergify.yml
Due: none

fix(login): gate the local credentials form on auth.local_login_enabled
  CHANGELOG.md
  src/app/(auth)/__tests__/login-form-visibility.test.tsx
  src/app/(auth)/__tests__/login-lockout.test.tsx
  src/app/(auth)/__tests__/login-sso-button-label.test.tsx
  src/app/(auth)/login/page.tsx
  src/lib/api/__tests__/system-config.test.ts
  src/lib/api/system-config.ts
Due: Require E2E for page changes

feat(sso): add SAML "Map IdP groups to Artifact Keeper groups" toggle
  CHANGELOG.md
  e2e/suites/interactions/admin/sso-claim-mapping.spec.ts
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/sso.ts
  src/types/sso.ts
Due: Require E2E for page changes, Label E2E test changes

ci: gate Dependabot auto-merge on update-type metadata and harden E2E aggregate
  .github/workflows/ci.yml
  .github/workflows/require-linked-issue.yml
  .mergify.yml
Due: none

fix(sso): drop test id, cover collision refusal in SAML toggle help copy
  CHANGELOG.md
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/sso.ts
Due: Require E2E for page changes

test: pin grouped pagination.total as a component/tag count (#417)
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/__tests__/maven-component-list.test.tsx
  src/lib/api/__tests__/artifacts.test.ts
Due: Require E2E for page changes

fix(login): parse the anonymous system config and unblock the local form
  CHANGELOG.md
  src/app/(auth)/__tests__/login-form-visibility.test.tsx
  src/app/(auth)/__tests__/login-system-config-integration.test.tsx
  src/app/(auth)/login/page.tsx
  src/lib/api/__tests__/system-config.test.ts
  src/lib/api/system-config.ts
Due: Require E2E for page changes

feat(sidebar): add CI/CD OIDC link to admin sidebar
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/components/layout/app-sidebar.tsx
Due: Require E2E for page changes, Label UI component changes

feat(ci-oidc): enhance identity mapping to support repository access control
  src/app/(app)/(admin)/settings/sso/ci/page.tsx
  src/types/ci-oidc.ts
Due: Require E2E for page changes

feat(ci-oidc): admin UI for CI OIDC provider and identity mapping management
  src/app/(app)/(admin)/settings/sso/ci/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/ci-oidc.ts
  src/types/ci-oidc.ts
Due: Require E2E for page changes

chore: ui fixes for the oidc-token-exchange feature
  src/app/(app)/(admin)/settings/sso/ci/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/lib/__tests__/query-keys.test.ts
  src/lib/api/__tests__/ci-oidc.test.ts
  src/lib/api/ci-oidc.ts
  src/lib/query-keys.ts
  src/types/ci-oidc.ts
Due: Require E2E for page changes, Label UI component changes

test(ci-oidc): add admin page component tests
  src/app/(app)/(admin)/settings/sso/ci/__tests__/page.test.tsx
Due: Require E2E for page changes

ci: fix Mergify Dependabot auto-merge check names and skip linked-issue check for bots (#777)
  .github/workflows/ci.yml
  .github/workflows/require-linked-issue.yml
  .mergify.yml
Due: none

fix(login): gate the local credentials form on auth.local_login_enabled (#778)
  CHANGELOG.md
  src/app/(auth)/__tests__/login-form-visibility.test.tsx
  src/app/(auth)/__tests__/login-lockout.test.tsx
  src/app/(auth)/__tests__/login-sso-button-label.test.tsx
  src/app/(auth)/__tests__/login-system-config-integration.test.tsx
  src/app/(auth)/login/page.tsx
  src/lib/api/__tests__/system-config.test.ts
  src/lib/api/system-config.ts
Due: Require E2E for page changes

feat(sso): add SAML "Map IdP groups to Artifact Keeper groups" toggle (#779)
  CHANGELOG.md
  e2e/suites/interactions/admin/sso-claim-mapping.spec.ts
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/sso.ts
  src/types/sso.ts
Due: Require E2E for page changes, Label E2E test changes

test: pin grouped pagination.total as a component/tag count (#417) (#780)
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/__tests__/maven-component-list.test.tsx
  src/lib/api/__tests__/artifacts.test.ts
Due: Require E2E for page changes

docs: changelog entries for #767 and #768, and require one per PR
  AGENTS.md
  CHANGELOG.md
Due: none

docs: changelog entries for #767 and #768, and require one per PR (#775)
  AGENTS.md
  CHANGELOG.md
Due: none

fix: bump package.json to 1.8.0 and gate version against the release tag
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Dockerfile
  package-lock.json
  package.json
  scripts/assert-version-matches-tag.sh
Due: none

fix: bump package.json to 1.8.0 and gate version against the release tag (#785)
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Dockerfile
  package-lock.json
  package.json
  scripts/assert-version-matches-tag.sh
Due: none

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
