Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "-title~=major"
      - check-success=lint
      - check-success=build
      - check-success=e2e
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update

  - name: Require E2E for page changes
    conditions:
      - "files~=^src/app/"
      - -draft
    actions:
      label:
        add:
          - needs-e2e
      comment:
        message: |
          This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.

  - name: Label UI component changes
    conditions:
      - "files~=^src/components/"
    actions:
      label:
        add:
          - ui

  - name: Label E2E test changes
    conditions:
      - "files~=^e2e/"
    actions:
      label:
        add:
          - e2e

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

Fix path prefix mismatch and skip unnecessary fetches for images/PDFs
  src/app/(app)/repositories/_components/packages-tab-content.tsx
  src/components/package/file-viewer.tsx
Due: Require E2E for page changes, Label UI component changes

Add unit tests for Shiki highlighter singleton
  src/lib/__tests__/shiki.test.ts
Due: none

Add unit tests for tree API getContent method
  src/lib/api/__tests__/tree-content.test.ts
Due: none

Add unit tests for content type utilities
  src/lib/__tests__/content-type.test.ts
Due: none

Add unit tests for FileViewer component
  src/components/package/__tests__/file-viewer.test.tsx
Due: Label UI component changes

Add unit tests for content viewer utilities and components
  src/lib/__tests__/shiki.test.ts
Due: none

Add artifact content viewer with syntax highlighting (#154)
  package-lock.json
  package.json
  src/app/(app)/repositories/_components/packages-tab-content.tsx
  src/components/package/__tests__/file-viewer.test.tsx
  src/components/package/file-tree.tsx
  src/components/package/file-viewer.tsx
  src/lib/__tests__/content-type.test.ts
  src/lib/__tests__/shiki.test.ts
  src/lib/api/__tests__/tree-content.test.ts
  src/lib/api/tree.ts
  src/lib/content-type.ts
  src/lib/shiki.ts
Due: Require E2E for page changes, Label UI component changes

Add centralized error handling utility and fix apiFetch header merge bug
  src/app/(app)/(admin)/license-policies/page.tsx
  src/app/(app)/(protected)/profile/page.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/sbom-tab-content.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/app/(app)/repositories/_components/virtual-members-panel.tsx
  src/app/(app)/repositories/page.tsx
  src/app/(app)/staging/_components/promotion-dialog.tsx
  src/app/(app)/staging/_components/rejection-dialog.tsx
  src/app/(auth)/change-password/page.tsx
  src/app/(auth)/login/page.tsx
  src/lib/api/fetch.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes

Add error.tsx and loading.tsx to all major route groups
  src/app/(app)/(admin)/error.tsx
  src/app/(app)/(admin)/loading.tsx
  src/app/(app)/(protected)/loading.tsx
  src/app/(app)/error.tsx
  src/app/(app)/loading.tsx
  src/app/(app)/repositories/loading.tsx
  src/app/(app)/search/loading.tsx
  src/app/(app)/staging/loading.tsx
  src/app/(auth)/error.tsx
Due: Require E2E for page changes

Fix DataTable keyboard accessibility and add ARIA attributes
  src/app/(app)/repositories/page.tsx
  src/app/(app)/search/page.tsx
  src/components/common/data-table.tsx
  src/components/layout/app-header.tsx
Due: Require E2E for page changes, Label UI component changes

Eliminate as-any casts and eslint-disable comments in SDK wrapper layer
  src/lib/api/admin.ts
  src/lib/api/analytics.ts
  src/lib/api/artifacts.ts
  src/lib/api/auth.ts
  src/lib/api/builds.ts
  src/lib/api/dependency-track.ts
  src/lib/api/groups.ts
  src/lib/api/lifecycle.ts
  src/lib/api/migration.ts
  src/lib/api/monitoring.ts
  src/lib/api/packages.ts
  src/lib/api/permissions.ts
  src/lib/api/profile.ts
  src/lib/api/promotion.ts
  src/lib/api/replication.ts
  src/lib/api/repositories.ts
  src/lib/api/sbom.ts
  src/lib/api/search.ts
  src/lib/api/security.ts
  src/lib/api/sso.ts
  src/lib/api/telemetry.ts
  src/lib/api/totp.ts
  src/lib/api/tree.ts
  src/lib/api/webhooks.ts
  src/providers/auth-provider.tsx
Due: none

Convert dashboard, repositories, and search pages to Server Components
  src/app/(app)/_components/dashboard-content.tsx
  src/app/(app)/page.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/app/(app)/repositories/page.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/app/(app)/search/page.tsx
Due: Require E2E for page changes

Fix apiFetch test assertions to work with Headers API
  src/lib/api/__tests__/fetch.test.ts
Due: none

Add unit tests for new code and fix hardcoded demo credential
  src/app/(app)/(admin)/__tests__/error.test.tsx
  src/app/(app)/(admin)/__tests__/loading.test.tsx
  src/app/(app)/(protected)/__tests__/loading.test.tsx
  src/app/(app)/__tests__/error.test.tsx
  src/app/(app)/__tests__/loading.test.tsx
  src/app/(app)/repositories/__tests__/loading.test.tsx
  src/app/(app)/search/__tests__/loading.test.tsx
  src/app/(app)/staging/__tests__/loading.test.tsx
  src/app/(auth)/__tests__/error.test.tsx
  src/components/common/__tests__/data-table.test.tsx
  src/lib/__tests__/error-utils.test.ts
  src/providers/auth-provider.tsx
Due: Require E2E for page changes, Label UI component changes

Add comprehensive tests for extracted client components and API wrappers
  src/app/(app)/_components/__tests__/dashboard-content.test.tsx
  src/app/(app)/repositories/_components/repositories-content.test.tsx
  src/app/(app)/search/_components/search-content.test.tsx
  src/lib/api/__tests__/auth.test.ts
  src/lib/api/__tests__/search.test.ts
  src/lib/api/__tests__/tree-getchildren.test.ts
Due: Require E2E for page changes

Add tests for SDK wrapper layer and improve coverage on changed files
  src/app/(app)/repositories/_components/repositories-content.test.tsx
  src/components/common/__tests__/data-table.test.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/__tests__/analytics.test.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/__tests__/builds.test.ts
  src/lib/api/__tests__/dependency-track.test.ts
  src/lib/api/__tests__/groups.test.ts
  src/lib/api/__tests__/lifecycle.test.ts
  src/lib/api/__tests__/migration.test.ts
  src/lib/api/__tests__/monitoring.test.ts
  src/lib/api/__tests__/packages.test.ts
  src/lib/api/__tests__/permissions.test.ts
  src/lib/api/__tests__/promotion.test.ts
  src/lib/api/__tests__/replication.test.ts
  src/lib/api/__tests__/sbom.test.ts
  src/lib/api/__tests__/security.test.ts
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/__tests__/telemetry.test.ts
  src/lib/api/__tests__/totp.test.ts
  src/lib/api/__tests__/webhooks.test.ts
Due: Require E2E for page changes, Label UI component changes

Fix all 47 SonarCloud issues across 18 files
  src/app/(app)/(admin)/error.tsx
  src/app/(app)/(admin)/loading.tsx
  src/app/(app)/(protected)/loading.tsx
  src/app/(app)/_components/dashboard-content.tsx
  src/app/(app)/error.tsx
  src/app/(app)/loading.tsx
  src/app/(app)/repositories/_components/repositories-content.test.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/app/(app)/repositories/loading.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/app/(app)/search/loading.tsx
  src/app/(app)/staging/loading.tsx
  src/app/(auth)/error.tsx
  src/components/common/data-table.tsx
  src/lib/api/dependency-track.ts
  src/lib/api/fetch.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes, Label UI component changes

Fix remaining 16 SonarCloud issues across 10 files
  src/app/(app)/(admin)/loading.tsx
  src/app/(app)/(protected)/loading.tsx
  src/app/(app)/_components/dashboard-content.tsx
  src/app/(app)/loading.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/app/(app)/repositories/loading.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/app/(app)/search/loading.tsx
  src/app/(app)/staging/loading.tsx
  src/components/common/data-table.tsx
Due: Require E2E for page changes, Label UI component changes

feat(web): add upstream auth fields to remote repo create/edit dialogs
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/page.tsx
  src/lib/api/repositories.ts
  src/types/index.ts
Due: Require E2E for page changes

test: add coverage for upstream auth fields in repo create/edit dialogs
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
Due: Require E2E for page changes

test: boost coverage for upstream auth to pass SonarCloud gate
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/page.test.tsx
  src/lib/api/__tests__/repositories.test.ts
Due: Require E2E for page changes

feat: add storage quota field to repository create and edit dialogs
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

fix: use Number() for stricter quota parsing
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

fix: correct cargo and swift upstream URLs
  src/app/(app)/repositories/_lib/default-upstream-urls.ts
Due: Require E2E for page changes

fix(web): Add repository-scoped permission selection in admin UI
  src/app/(app)/(admin)/permissions/page.tsx
Due: Require E2E for page changes

fix(web): send full permission payload when creating and updating permissions
  src/lib/api/permissions.ts
Due: none

fix: include member_repos in virtual repo create, fix members list field mapping
  src/lib/api/repositories.ts
Due: none

test: add permissions page component tests for repository selection and full payload submit
  src/app/(app)/(admin)/permissions/page.test.tsx
Due: Require E2E for page changes

fix: allow admins to view and revoke other users' API tokens
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/admin.ts
Due: Require E2E for page changes

test: add Playwright E2E tests for admin token management
  e2e/suites/interactions/admin/users.spec.ts
Due: Label E2E test changes

test: boost coverage for admin token management
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
Due: Require E2E for page changes

fix: add rewrite so /auth/callback reaches the SSO callback page
  next.config.ts
Due: none

fix: add rewrite so /auth/callback reaches the SSO callback page (#201)
  next.config.ts
Due: none
