Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

refactor(format-handlers): address review nits (role=alert on failure, document test index order)
  src/app/(app)/(admin)/format-handlers/page.test.tsx
  src/app/(app)/(admin)/format-handlers/page.tsx
Due: Require E2E for page changes

feat(quality-checks): add Quality Checks admin UI
  src/app/(app)/(admin)/quality-checks/page.test.tsx
  src/app/(app)/(admin)/quality-checks/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/quality-checks.test.ts
  src/lib/api/index.ts
  src/lib/api/quality-checks.ts
Due: Require E2E for page changes, Label UI component changes

refactor(quality-checks): address review nits (truncate error_message, document subset mapping, error-path tests)
  src/app/(app)/(admin)/quality-checks/page.tsx
  src/lib/api/__tests__/quality-checks.test.ts
  src/lib/api/quality-checks.ts
Due: Require E2E for page changes

feat(repositories): add Labels tab for repository key/value labels
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-labels-panel.test.tsx
  src/app/(app)/repositories/_components/repo-labels-panel.tsx
  src/lib/api/__tests__/repo-labels.test.ts
  src/lib/api/index.ts
  src/lib/api/repo-labels.ts
Due: Require E2E for page changes

test(repo-labels): assert skeleton presence in loading state (review nit)
  src/app/(app)/repositories/_components/repo-labels-panel.test.tsx
Due: Require E2E for page changes

feat(repositories): Labels tab for repository key/value labels (#512)
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-labels-panel.test.tsx
  src/app/(app)/repositories/_components/repo-labels-panel.tsx
  src/lib/api/__tests__/repo-labels.test.ts
  src/lib/api/index.ts
  src/lib/api/repo-labels.ts
Due: Require E2E for page changes

test(e2e): Playwright specs for the 1.2.1 build-out features
  e2e/suites/interactions/integrations/format-handlers.spec.ts
  e2e/suites/interactions/integrations/sync-policies.spec.ts
  e2e/suites/interactions/operations/promotion-rules.spec.ts
  e2e/suites/interactions/repositories/repo-labels.spec.ts
  e2e/suites/interactions/security/curation.spec.ts
  e2e/suites/interactions/security/quality-checks.spec.ts
  e2e/suites/interactions/security/signing.spec.ts
  e2e/suites/visual/pages/buildout-pages.spec.ts
Due: Label E2E test changes

test(e2e): tighten curation empty-state locator to avoid strict-mode ambiguity
  e2e/suites/interactions/security/curation.spec.ts
Due: Label E2E test changes

fix(e2e): boot 1.2.1 backend in CI with a runtime-generated JWT_SECRET
  .github/workflows/ci.yml
  docker-compose.e2e.yml
Due: none

fix(e2e): share generated JWT_SECRET with teardown via GITHUB_ENV
  .github/workflows/ci.yml
Due: none

chore(release): bump version to 1.2.2
  package.json
Due: none

test(e2e): use high-entropy JWT secret to satisfy the #1829 startup gate
  docker-compose.e2e.yml
Due: none

fix(sso): surface SAML use_absolute_acs_url opt-in on the provider edit form
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/sso.ts
  src/types/sso.ts
Due: Require E2E for page changes

feat(sso): surface OIDC allow_legacy_rsa_keys opt-in on the provider edit form
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/sso.ts
  src/types/sso.ts
Due: Require E2E for page changes

chore(release): bump version to 1.2.3
  package.json
Due: none

chore(release): bump version to 1.2.3 (#532)
  package.json
Due: none

feat(sso): add OIDC "map groups to local groups" toggle
  e2e/suites/interactions/admin/sso.spec.ts
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/sso.ts
  src/types/sso.ts
Due: Require E2E for page changes, Label E2E test changes

fix: group members not showing in admin dialog
  src/app/(app)/(admin)/groups/page.tsx
  src/lib/api/__tests__/groups.test.ts
  src/lib/api/groups.ts
  src/lib/api/index.ts
Due: Require E2E for page changes

chore(release): bump web to 1.2.4
  package.json
Due: none

chore(release): bump web to 1.2.4 (#537)
  package.json
Due: none

chore(release): bump web to 1.2.5
  package.json
Due: none

feat(sso): backfill admin UI for backend SSO opt-ins + fix OIDC claim keys
  CHANGELOG.md
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/sso.ts
  src/types/sso.ts
Due: Require E2E for page changes

refactor(sso): drop OIDC allow_legacy_rsa_keys toggle (defer #522 to v1.4.0)
  CHANGELOG.md
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/sso.ts
  src/types/sso.ts
Due: Require E2E for page changes

feat(sso): expose OIDC "Map groups to local groups" in admin UI
  e2e/suites/interactions/admin/sso.spec.ts
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/sso.ts
  src/types/sso.ts
Due: Require E2E for page changes, Label E2E test changes

feat(migration): bring migration UI to parity with the backend API
  e2e/suites/interactions/admin/migration.spec.ts
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/types/migration.ts
Due: Require E2E for page changes, Label E2E test changes

feat(migration): bring migration UI to parity with the backend API (#543)
  e2e/suites/interactions/admin/migration.spec.ts
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/types/migration.ts
Due: Require E2E for page changes, Label E2E test changes

test(e2e): cover SSO claim mapping, SAML absolute-ACS, and migration config
  e2e/suites/interactions/admin/migration-config.spec.ts
  e2e/suites/interactions/admin/sso-claim-mapping.spec.ts
Due: Label E2E test changes

test(e2e): cover SSO claim mapping, SAML absolute-ACS, and migration config (#545)
  e2e/suites/interactions/admin/migration-config.spec.ts
  e2e/suites/interactions/admin/sso-claim-mapping.spec.ts
Due: Label E2E test changes

feat(sso): add OIDC "map groups to local groups" toggle
  e2e/suites/interactions/admin/sso.spec.ts
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/lib/api/__tests__/sso.test.ts
Due: Require E2E for page changes, Label E2E test changes

fix: gate HSTS + upgrade-insecure-requests behind AK_ENFORCE_HTTPS
  Dockerfile
  README.md
  next.config.ts
  src/lib/__tests__/security-headers.test.ts
  src/lib/security-headers.ts
Due: none

chore(release): bump version to 1.3.0
  package-lock.json
  package.json
Due: none

feat(security): gate SBOM/scan actions on artifact analyzable flag
  src/app/(app)/repositories/_components/__tests__/artifact-scans-section.test.tsx
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/__tests__/sbom-tab-content.test.tsx
  src/app/(app)/repositories/_components/artifact-scans-section.tsx
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/sbom-tab-content.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/lib/__tests__/artifact-analyzable.test.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
  src/lib/artifact-analyzable.ts
  src/types/index.ts
Due: Require E2E for page changes

chore: bump version to 1.4.0
  package-lock.json
  package.json
Due: none

chore: bump version to 1.4.0 (#553)
  package-lock.json
  package.json
Due: none

fix(repositories): use server-side docker_tag grouping in the Docker tag view
  e2e/suites/interactions/repositories/artifact-browser-grouping.spec.ts
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_lib/__tests__/docker-grouping.test.ts
  src/app/(app)/repositories/_lib/docker-grouping.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
  src/types/index.ts
Due: Require E2E for page changes, Label E2E test changes

chore(release): bump version to 1.4.1
  package-lock.json
  package.json
Due: none

chore(release): bump version to 1.4.2
  package-lock.json
  package.json
Due: none

feat(admin): audit log viewer page (#568)
  CHANGELOG.md
  e2e/fixtures/page-objects/AuditLogPage.ts
  e2e/fixtures/page-objects/index.ts
  e2e/suites/interactions/admin/audit.spec.ts
  src/app/(app)/(admin)/audit/__tests__/page.test.tsx
  src/app/(app)/(admin)/audit/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/audit.test.ts
  src/lib/api/audit.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
