Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

feat(security): nonce-based CSP without script-src unsafe-inline (#674) (#693)
  next.config.ts
  src/__tests__/middleware.test.ts
  src/app/layout.test.tsx
  src/app/layout.tsx
  src/lib/__tests__/security-headers.test.ts
  src/lib/security-headers.ts
  src/middleware.ts
  src/providers/index.tsx
  src/providers/theme-provider.tsx
Due: Require E2E for page changes

feat(a11y): page titles, skip-navigation link, and axe scanning (#671)
  e2e/suites/interactions/dashboard/axe-core.spec.ts
  package-lock.json
  package.json
  src/app/(app)/(admin)/age-gate/page.tsx
  src/app/(app)/(admin)/curation/page.tsx
  src/app/(app)/(admin)/format-handlers/page.tsx
  src/app/(app)/(admin)/promotion-rules/page.tsx
  src/app/(app)/(admin)/quality-checks/page.tsx
  src/app/(app)/(admin)/security/dt-projects/[uuid]/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/signing/page.tsx
  src/app/(app)/(admin)/sync-policies/page.tsx
  src/app/(app)/builds/page.tsx
  src/app/(app)/layout.tsx
  src/app/(app)/packages/[id]/page.tsx
  src/app/(app)/packages/page.tsx
  src/app/(app)/repositories/[key]/page.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/app/(app)/staging/[key]/page.tsx
  src/app/(app)/staging/page.tsx
  src/app/(auth)/callback/page.tsx
  src/app/(auth)/change-password/page.tsx
  src/app/(auth)/login/page.tsx
  src/app/error/403/page.tsx
  src/app/error/500/page.tsx
  src/components/common/__tests__/data-table.test.tsx
  src/components/common/page-header.tsx
  src/components/layout/__tests__/skip-nav-link.test.tsx
  src/components/layout/skip-nav-link.tsx
  src/hooks/__tests__/use-document-title.test.ts
  src/hooks/use-document-title.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

refactor(a11y): extract shared ErrorPage component for 403/500 pages
  src/app/error/403/page.tsx
  src/app/error/500/page.tsx
  src/components/common/error-page.tsx
Due: Require E2E for page changes, Label UI component changes

test(e2e): click the repository row, not the first link on the page
  e2e/suites/interactions/repositories/repo-edit.spec.ts
Due: Label E2E test changes

fix(a11y): give repository list filter selects accessible names
  src/app/(app)/repositories/_components/repositories-content.tsx
Due: Require E2E for page changes

feat(a11y): page titles, skip-navigation link, and axe scanning (#671) (#687)
  e2e/suites/interactions/dashboard/axe-core.spec.ts
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  package-lock.json
  package.json
  src/app/(app)/(admin)/age-gate/page.tsx
  src/app/(app)/(admin)/curation/page.tsx
  src/app/(app)/(admin)/format-handlers/page.tsx
  src/app/(app)/(admin)/promotion-rules/page.tsx
  src/app/(app)/(admin)/quality-checks/page.tsx
  src/app/(app)/(admin)/security/dt-projects/[uuid]/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/signing/page.tsx
  src/app/(app)/(admin)/sync-policies/page.tsx
  src/app/(app)/builds/page.tsx
  src/app/(app)/layout.tsx
  src/app/(app)/packages/[id]/page.tsx
  src/app/(app)/packages/page.tsx
  src/app/(app)/repositories/[key]/page.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/app/(app)/staging/[key]/page.tsx
  src/app/(app)/staging/page.tsx
  src/app/(auth)/callback/page.tsx
  src/app/(auth)/change-password/page.tsx
  src/app/(auth)/login/page.tsx
  src/app/error/403/page.tsx
  src/app/error/500/page.tsx
  src/components/common/__tests__/data-table.test.tsx
  src/components/common/error-page.tsx
  src/components/common/page-header.tsx
  src/components/layout/__tests__/skip-nav-link.test.tsx
  src/components/layout/skip-nav-link.tsx
  src/hooks/__tests__/use-document-title.test.ts
  src/hooks/use-document-title.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

fix(age-gate): direct re-decide for decided reviews, fix reopened-row display (#698)
  src/app/(app)/(admin)/age-gate/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/__tests__/age-gate.test.ts
  src/lib/api/admin.ts
  src/lib/api/age-gate.ts
Due: Require E2E for page changes

fix(quarantine): align listing badges with shipped backend contract (#697)
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/__tests__/repo-detail-quarantine.test.tsx
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/quarantine.test.ts
  src/lib/api/artifacts.ts
  src/lib/api/quarantine.ts
  src/lib/quarantine.ts
  src/types/index.ts
Due: Require E2E for page changes

fix(age-gate): direct re-decide for decided reviews, fix reopened-row display (#698) (#699)
  src/app/(app)/(admin)/age-gate/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/__tests__/age-gate.test.ts
  src/lib/api/admin.ts
  src/lib/api/age-gate.ts
Due: Require E2E for page changes

fix(quarantine): align listing badges with shipped backend contract (#697) (#700)
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/__tests__/repo-detail-quarantine.test.tsx
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/quarantine.test.ts
  src/lib/api/artifacts.ts
  src/lib/api/quarantine.ts
  src/lib/quarantine.ts
  src/types/index.ts
Due: Require E2E for page changes

chore(deps): combined dependency bump (supersedes 12 dependabot PRs)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/generate-tutorials.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  package-lock.json
  package.json
Due: none

feat(settings): npm upstream feed configuration UI (#702)
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/components/settings/__tests__/npm-upstream-feed-card.test.tsx
  src/components/settings/npm-upstream-feed-card.tsx
Due: Require E2E for page changes, Label UI component changes

feat(audit): SIEM audit-log export UI (#703)
  src/app/(app)/(admin)/audit/page.tsx
  src/lib/api/__tests__/audit.test.ts
  src/lib/api/audit.ts
Due: Require E2E for page changes

fix(repositories): select and display WASM plugin layouts in the UI (#591, #592)
  src/app/(app)/(admin)/format-handlers/page.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-list-item.test.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/hooks/use-format-handlers.ts
  src/lib/__tests__/repo-format.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/repo-format.ts
  src/types/index.ts
Due: Require E2E for page changes

chore(deps): combined dependency bump (supersedes 12 dependabot PRs) (#704)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/generate-tutorials.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  package-lock.json
  package.json
Due: none

feat(settings): npm upstream feed configuration UI (#702) (#705)
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/components/settings/__tests__/npm-upstream-feed-card.test.tsx
  src/components/settings/npm-upstream-feed-card.tsx
Due: Require E2E for page changes, Label UI component changes

feat(audit): SIEM audit-log export UI (#703) (#706)
  src/app/(app)/(admin)/audit/page.tsx
  src/lib/api/__tests__/audit.test.ts
  src/lib/api/audit.ts
Due: Require E2E for page changes

feat(groups): disable edit/add-member actions on SSO-synced groups
  src/app/(app)/(admin)/groups/page.tsx
  src/lib/api/__tests__/groups.test.ts
  src/lib/api/groups.ts
  src/types/groups.ts
Due: Require E2E for page changes

fix(groups): send name on description edit so PUT body deserializes
  src/app/(app)/(admin)/groups/page.tsx
Due: Require E2E for page changes

fix(groups): align groupsApi.update with backend PUT contract
  src/lib/api/__tests__/groups.test.ts
  src/lib/api/groups.ts
Due: none

fix(groups): type update mutation data as full GroupForm
  src/app/(app)/(admin)/groups/page.tsx
Due: Require E2E for page changes

Fix package age policy state not persisting across navigation (#665) (#657)
  e2e/suites/interactions/repositories/age-policy.spec.ts
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/types/index.ts
Due: Require E2E for page changes, Label E2E test changes

fix(repositories): select and display WASM plugin layouts in the UI (#591, #592) (#709)
  src/app/(app)/(admin)/format-handlers/page.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-list-item.test.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/hooks/use-format-handlers.ts
  src/lib/__tests__/repo-format.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/repo-format.ts
  src/types/index.ts
Due: Require E2E for page changes

fix(settings): read back release target and age policy from saved config
  CHANGELOG.md
  src/app/(app)/repositories/_components/release-target-settings.test.tsx
  src/app/(app)/repositories/_components/release-target-settings.tsx
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Require E2E for page changes

fix(settings): honor staging release target in promote dialog
  CHANGELOG.md
  src/app/(app)/staging/_components/promotion-dialog.test.tsx
  src/app/(app)/staging/_components/promotion-dialog.tsx
Due: Require E2E for page changes

fix(settings): restore useQuery import dropped by #692's narrower import
  src/app/(app)/repositories/_components/release-target-settings.tsx
Due: Require E2E for page changes

refactor(staging): skip release-repo list query when target is locked
  src/app/(app)/staging/_components/promotion-dialog.tsx
Due: Require E2E for page changes

feat(age-gate): per-repo settings panel and webhook event wiring (#701)
  src/app/(app)/(admin)/age-gate/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/app/(app)/(protected)/webhooks/__tests__/page.test.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/age-gate.test.ts
  src/lib/api/__tests__/webhooks.test.ts
  src/lib/api/age-gate.ts
  src/lib/api/webhooks.ts
Due: Require E2E for page changes

feat(age-gate): per-repo settings panel and webhook event wiring (#701) (#707)
  src/app/(app)/(admin)/age-gate/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/app/(app)/(protected)/webhooks/__tests__/page.test.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/age-gate.test.ts
  src/lib/api/__tests__/webhooks.test.ts
  src/lib/api/age-gate.ts
  src/lib/api/webhooks.ts
Due: Require E2E for page changes

fix(settings): read back and honor staging release target (adopts #661) (#712)
  CHANGELOG.md
  src/app/(app)/repositories/_components/release-target-settings.test.tsx
  src/app/(app)/repositories/_components/release-target-settings.tsx
  src/app/(app)/staging/_components/promotion-dialog.test.tsx
  src/app/(app)/staging/_components/promotion-dialog.tsx
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Require E2E for page changes

feat(groups): read-only UI for SSO-synced groups (adopts #629) (#711)
  src/app/(app)/(admin)/groups/page.tsx
  src/lib/api/__tests__/groups.test.ts
  src/lib/api/groups.ts
  src/types/groups.ts
Due: Require E2E for page changes

fix(permissions): support service account principals
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/lib/api/__tests__/permissions.test.ts
  src/lib/api/permissions.ts
Due: Require E2E for page changes

fix(permissions): reset picker state on dialog close, conform to useRepositories (#621)
  src/app/(app)/(admin)/permissions/page.tsx
Due: Require E2E for page changes

fix(permissions): resolve service account names
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
Due: Require E2E for page changes

fix(permissions): improve service account selection
  e2e/suites/interactions/admin/permissions.spec.ts
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
Due: Require E2E for page changes, Label E2E test changes

test(permissions): cover principal picker state reset and group options (#621)
  src/app/(app)/(admin)/permissions/page.test.tsx
Due: Require E2E for page changes

fix(permissions): support service account principals (#710)
  e2e/suites/interactions/admin/permissions.spec.ts
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/lib/api/__tests__/permissions.test.ts
  src/lib/api/permissions.ts
Due: Require E2E for page changes, Label E2E test changes

fix(settings): remove SMTP save flow that 404s against the backend (#555)
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/hooks/use-admin-settings.ts
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
