Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

feat(repositories): honour the builder's admin-only policy and show the pinned pip index
  src/app/(app)/repositories/_components/image-build-tab.tsx
  src/types/image-builds.ts
Due: Require E2E for page changes

fix(repositories): stop offering the age policy on remote/virtual repos
  CHANGELOG.md
  e2e/suites/interactions/repositories/age-policy.spec.ts
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Require E2E for page changes, Label E2E test changes

fix(web): 1.10.0 follow-ups - friendly status copy, migration progress
  CHANGELOG.md
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes

image-builder: package groups with a manager dropdown, two-stage builds and a Dockerfile mode
  src/app/(app)/repositories/_components/__tests__/image-build-tab.test.tsx
  src/app/(app)/repositories/_components/__tests__/image-build-wizard.test.tsx
  src/app/(app)/repositories/_components/image-build-wizard.tsx
  src/lib/api/__tests__/image-builds-api.test.ts
  src/lib/api/image-builds.ts
  src/types/image-builds.ts
Due: Require E2E for page changes

changelog: Build tab and Image inspector (#875)
  CHANGELOG.md
Due: none

fix(artifacts): send the CSRF header on the single-request upload XHR
  CHANGELOG.md
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
Due: none

feat(security): external scan type, scan-type filter and findings filters
  CHANGELOG.md
  src/app/(app)/(admin)/security/scans/[id]/page.test.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/security/scans/page.test.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/app/(app)/repositories/_components/__tests__/artifact-scans-section.test.tsx
  src/app/(app)/repositories/_components/artifact-scans-section.tsx
  src/components/common/__tests__/scan-type-badge.test.tsx
  src/components/common/scan-type-badge.tsx
  src/lib/api/__tests__/security.test.ts
  src/lib/api/security.ts
Due: Require E2E for page changes, Label UI component changes

feat(analytics): local+remote totals with a split toggle
  src/app/(app)/(admin)/analytics/__tests__/page.test.tsx
  src/app/(app)/(admin)/analytics/page.tsx
  src/app/(app)/_components/dashboard-content.tsx
  src/components/common/stat-breakdown.tsx
  src/lib/api/__tests__/analytics.test.ts
  src/lib/api/analytics.ts
  src/types/analytics.ts
Due: Require E2E for page changes, Label UI component changes

feat(repositories): AWS ECR and CodeArtifact upstream auth types
  CHANGELOG.md
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/upstream-auth-fields.test.tsx
  src/app/(app)/repositories/_components/upstream-auth-fields.tsx
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Require E2E for page changes

fix(packages): carry the virtual repository key into the package detail
  CHANGELOG.md
  src/app/(app)/packages/[id]/page.test.tsx
  src/app/(app)/packages/[id]/page.tsx
  src/app/(app)/packages/page.test.tsx
  src/app/(app)/packages/page.tsx
  src/app/(app)/repositories/_components/packages-tab-content.test.tsx
  src/app/(app)/repositories/_components/packages-tab-content.tsx
  src/lib/api/__tests__/packages.test.ts
  src/lib/api/packages.ts
Due: Require E2E for page changes

feat(settings): admin Maintenance card for the 1.10.0 backfills
  CHANGELOG.md
  e2e/suites/visual/pages/admin-pages.spec.ts-snapshots/settings-desktop-admin-visual-linux.png
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/components/settings/__tests__/maintenance-card.test.tsx
  src/components/settings/maintenance-card.tsx
  src/lib/api/__tests__/maintenance.test.ts
  src/lib/api/maintenance.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

feat(sso): SAML provider slug and slug-addressed login/ACS URLs
  CHANGELOG.md
  src/app/(app)/(admin)/settings/sso/__tests__/saml-slug-form.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/__tests__/saml-slug.test.ts
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/sso.ts
  src/lib/saml-slug.ts
  src/types/sso.ts
Due: Require E2E for page changes

feat(lifecycle): exclusions editor and a real preview size
  CHANGELOG.md
  src/app/(app)/(admin)/lifecycle/_components/exclusions-editor.test.tsx
  src/app/(app)/(admin)/lifecycle/_components/exclusions-editor.tsx
  src/app/(app)/(admin)/lifecycle/_components/preview-result-alert.test.tsx
  src/app/(app)/(admin)/lifecycle/_components/preview-result-alert.tsx
  src/app/(app)/(admin)/lifecycle/page.test.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/lib/api/__tests__/lifecycle.test.ts
  src/lib/api/lifecycle.ts
  src/types/lifecycle.ts
Due: Require E2E for page changes

feat(settings): admin API token expiry policy + minted expiry on token reveal
  CHANGELOG.md
  src/app/(app)/(admin)/service-accounts/__tests__/page.test.tsx
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/components/common/__tests__/token-created-alert.test.tsx
  src/components/common/token-created-alert.tsx
  src/components/settings/__tests__/token-expiry-policy-card.test.tsx
  src/components/settings/token-expiry-policy-card.tsx
  src/lib/api/__tests__/fetch.test.ts
  src/lib/api/__tests__/profile.test.ts
  src/lib/api/__tests__/service-accounts.test.ts
  src/lib/api/__tests__/token-policy.test.ts
  src/lib/api/fetch.ts
  src/lib/api/profile.ts
  src/lib/api/service-accounts.ts
  src/lib/api/token-policy.ts
Due: Require E2E for page changes, Label UI component changes

image-builder: filter the manager dropdown by what the base image is
  src/app/(app)/repositories/_components/__tests__/image-build-wizard.test.tsx
  src/app/(app)/repositories/_components/image-build-wizard.tsx
  src/lib/api/__tests__/image-builds-api.test.ts
  src/lib/api/image-builds.ts
  src/types/image-builds.ts
Due: Require E2E for page changes

changelog: probe-driven manager dropdown
  CHANGELOG.md
Due: none

fix(replication): show the real replication mode instead of defaulting to pull
  CHANGELOG.md
  src/app/(app)/(protected)/replication/page.tsx
  src/components/common/data-table.tsx
  src/lib/api/__tests__/replication.test.ts
  src/lib/api/replication.ts
Due: Require E2E for page changes, Label UI component changes

docs(changelog): drop the 1.9.0 bullets that #818's rebase re-added under Unreleased
  CHANGELOG.md
Due: none

image-builder: show the Build tab on local container repositories only
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

image-builder: repository may be undefined while loading
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

image-builder: generic examples — no Ray in labels, placeholders or the name heuristic
  src/app/(app)/repositories/_components/__tests__/image-build-tab.test.tsx
  src/app/(app)/repositories/_components/__tests__/image-build-wizard.test.tsx
  src/app/(app)/repositories/_components/image-build-wizard.tsx
  src/lib/api/__tests__/image-builds-api.test.ts
  src/lib/api/image-builds.ts
Due: Require E2E for page changes

sidebar: show the commit hash, not the version, for builds that are not a release tag
  Dockerfile
  next.config.ts
  src/app/(app)/(admin)/settings/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/__tests__/build-version.test.ts
  src/lib/build-version.ts
Due: Require E2E for page changes, Label UI component changes

chore(release): web 1.10.0 prep — CHANGELOG + version bump
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(analysis): surface package contents and vendored advisories
  CHANGELOG.md
  src/app/(app)/repositories/_components/__tests__/install-scripts-panel.test.tsx
  src/app/(app)/repositories/_components/__tests__/package-analysis-tab-content.test.tsx
  src/app/(app)/repositories/_components/__tests__/repo-detail-downloads.test.tsx
  src/app/(app)/repositories/_components/__tests__/repo-detail-quarantine.test.tsx
  src/app/(app)/repositories/_components/__tests__/vendored-advisories-summary.test.tsx
  src/app/(app)/repositories/_components/__tests__/vendored-components-panel.test.tsx
  src/app/(app)/repositories/_components/install-scripts-panel.tsx
  src/app/(app)/repositories/_components/package-analysis-tab-content.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/app/(app)/repositories/_components/vendored-advisories-summary.tsx
  src/app/(app)/repositories/_components/vendored-components-panel.tsx
  src/components/common/__tests__/scan-completeness-badge.test.tsx
  src/components/common/__tests__/severity-badge.test.tsx
  src/components/common/scan-completeness-badge.tsx
  src/components/common/severity-badge.tsx
  src/lib/__tests__/install-script-kinds.test.ts
  src/lib/__tests__/package-analysis-formats.test.ts
  src/lib/__tests__/vendored-advisories.test.ts
  src/lib/api/__tests__/package-analysis.test.ts
  src/lib/api/index.ts
  src/lib/api/package-analysis.ts
  src/lib/install-script-kinds.ts
  src/lib/package-analysis-formats.ts
  src/lib/query-keys.ts
  src/lib/vendored-advisories.ts
  src/types/package-analysis.ts
Due: Require E2E for page changes, Label UI component changes

fix(analysis): render vendored components the backend actually sends
  src/app/(app)/repositories/_components/__tests__/install-script-findings-summary.test.tsx
  src/app/(app)/repositories/_components/install-script-findings-summary.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/app/(app)/repositories/_components/vendored-components-panel.tsx
  src/lib/api/__tests__/package-analysis.test.ts
  src/lib/api/package-analysis.ts
  src/lib/vendored-advisories.ts
  src/types/package-analysis.ts
Due: Require E2E for page changes

fix(security): show proxy scan-on-proxy verdicts and drop the green all-clear on proxy-cached artifacts
  CHANGELOG.md
  src/app/(app)/repositories/_components/__tests__/artifact-scans-section.test.tsx
  src/app/(app)/repositories/_components/__tests__/package-analysis-tab-content.test.tsx
  src/app/(app)/repositories/_components/__tests__/proxy-sbom-panel.test.tsx
  src/app/(app)/repositories/_components/__tests__/proxy-scan-panel.test.tsx
  src/app/(app)/repositories/_components/__tests__/proxy-scan-summary.test.tsx
  src/app/(app)/repositories/_components/__tests__/repo-detail-proxy-scan.test.tsx
  src/app/(app)/repositories/_components/__tests__/sbom-tab-content.test.tsx
  src/app/(app)/repositories/_components/__tests__/sbom-tab-proxy.test.tsx
  src/app/(app)/repositories/_components/__tests__/security-tab-content.test.tsx
  src/app/(app)/repositories/_components/artifact-scans-section.tsx
  src/app/(app)/repositories/_components/proxy-sbom-panel.tsx
  src/app/(app)/repositories/_components/proxy-scan-panel.tsx
  src/app/(app)/repositories/_components/proxy-scan-summary.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/sbom-tab-content.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/lib/__tests__/artifact-analyzable.test.ts
  src/lib/__tests__/proxy-sbom.test.ts
  src/lib/__tests__/proxy-scan.test.ts
  src/lib/api/__tests__/proxy-sbom.test.ts
  src/lib/api/__tests__/proxy-scans.test.ts
  src/lib/api/proxy-sbom.ts
  src/lib/api/proxy-scans.ts
  src/lib/artifact-analyzable.ts
  src/lib/proxy-sbom.ts
  src/lib/proxy-scan.ts
  src/types/proxy-sbom.ts
  src/types/proxy-scans.ts
Due: Require E2E for page changes

fix(repositories): only offer scan-on-proxy on formats the backend gates
  CHANGELOG.md
  src/app/(app)/repositories/_components/__tests__/repo-detail-scan-on-proxy.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/scan-on-proxy-note.tsx
  src/lib/__tests__/proxy-scan.test.ts
  src/lib/__tests__/scan-on-proxy-formats.test.ts
  src/lib/proxy-scan.ts
  src/lib/scan-on-proxy-formats.ts
Due: Require E2E for page changes

chore(release): web 1.10.1 prep — CHANGELOG + version bump
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(users): list people only, not service accounts (#825)
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/admin.ts
Due: Require E2E for page changes

feat(repositories): three-state visibility control
  e2e/setup/seed-data.ts
  e2e/suites/roles/internal-repo-visibility-authenticated.spec.ts
  e2e/suites/roles/internal-repo-visibility.spec.ts
  playwright.config.ts
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-list-item.test.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/visibility-select.test.tsx
  src/app/(app)/repositories/_components/visibility-select.tsx
  src/types/index.ts
Due: Require E2E for page changes, Label E2E test changes

fix(repositories): carry visibility across the API client
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Label E2E test changes

chore(repositories): drop the now-unused Switch import
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

docs: track the backend migration renumber (212 -> 217)
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Label E2E test changes

fix(e2e): keep is_public in the seed alongside visibility
  e2e/setup/seed-data.ts
Due: Label E2E test changes

fix(repositories): maintainer fixes for #840
  CHANGELOG.md
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  e2e/suites/roles/internal-repo-visibility.spec.ts
  src/app/(app)/(admin)/security/blast-radius/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/blast-radius/page.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-list-item.test.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
  src/app/(app)/repositories/_components/visibility-select.tsx
  src/components/common/__tests__/visibility-badge.test.tsx
  src/components/common/visibility-badge.tsx
  src/lib/__tests__/repo-visibility.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/repo-visibility.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

fix(users): maintainer fixes for #826
  CHANGELOG.md
  e2e/suites/visual/components/components.spec.ts-snapshots/users-table-visual-linux.png
  e2e/suites/visual/pages/admin-pages.spec.ts-snapshots/users-desktop-admin-visual-linux.png
  src/lib/api/admin.ts
Due: Label E2E test changes

feat(docker): make web image arbitrary-UID compatible for OpenShift
  CHANGELOG.md
  Dockerfile
  src/__tests__/dockerfile.test.ts
Due: none

fix(setup): gate vscode gallery snippets to public Remote repos (#794)
  CHANGELOG.md
  src/app/(app)/setup/page.test.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
Due: Require E2E for page changes, Label UI component changes

feat(setup): add vscode gateway onboarding for VSCodium, code-server, and VS Code
  src/app/(app)/repositories/_lib/default-upstream-urls.test.ts
  src/app/(app)/repositories/_lib/default-upstream-urls.ts
  src/app/(app)/setup/page.test.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
Due: Require E2E for page changes, Label UI component changes

fix: stub monitoring API responses in visual test to remove boot-time race
  e2e/suites/visual/pages/admin-pages.spec.ts
Due: Label E2E test changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
