Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

test(e2e): drop the monitoring visual stub now that #838 fixes it upstream
  e2e/suites/visual/pages/admin-pages.spec.ts
Due: Label E2E test changes

fix: lazy-load artifact tree and preserve search (#852)
  CHANGELOG.md
  src/app/(app)/repositories/_components/__tests__/artifact-folder-tree.test.tsx
  src/app/(app)/repositories/_components/artifact-folder-tree.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/artifact-tree.test.ts
  src/lib/api/__tests__/tree-getchildren.test.ts
  src/lib/api/tree.ts
  src/lib/artifact-tree.ts
Due: Require E2E for page changes

fix(permissions): filter User principals server-side (#823)
  CHANGELOG.md
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
Due: Require E2E for page changes

fix(permissions): stop offering service accounts as User principals (#823)
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
Due: Require E2E for page changes

fix(permissions): stop offering service accounts as User principals (#823) (#824)
  CHANGELOG.md
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
Due: Require E2E for page changes

chore(deps): batch the nine open dependabot npm bumps
  package-lock.json
  package.json
Due: none

chore(deps): batch the nine open dependabot npm bumps (#891)
  package-lock.json
  package.json
Due: none

feat(lifecycle): add explicit reusable cleanup policy assignments
  README.md
  e2e/suites/interactions/operations/lifecycle.spec.ts
  src/app/(app)/(admin)/lifecycle/page.test.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/repositories/_components/cleanup-policy-settings.test.tsx
  src/app/(app)/repositories/_components/cleanup-policy-settings.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/components/common/lifecycle-capability-notice.tsx
  src/hooks/use-lifecycle-capabilities.ts
  src/lib/api/__tests__/lifecycle.test.ts
  src/lib/api/lifecycle.ts
  src/types/lifecycle.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

test(lifecycle): cover assignment conflicts and detach retries
  src/app/(app)/repositories/_components/cleanup-policy-settings.test.tsx
  src/lib/api/__tests__/lifecycle.test.ts
Due: Require E2E for page changes

fix(lifecycle): maintainer fixes for #848
  CHANGELOG.md
  README.md
  e2e/suites/visual/pages/admin-pages.spec.ts-snapshots/lifecycle-desktop-admin-visual-linux.png
  src/lib/api/__tests__/lifecycle.test.ts
  src/lib/api/lifecycle.ts
Due: Label E2E test changes

feat(lifecycle): add explicit reusable cleanup policy assignments (#848)
  CHANGELOG.md
  e2e/suites/interactions/operations/lifecycle.spec.ts
  e2e/suites/visual/pages/admin-pages.spec.ts-snapshots/lifecycle-desktop-admin-visual-linux.png
  src/app/(app)/(admin)/lifecycle/page.test.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/repositories/_components/cleanup-policy-settings.test.tsx
  src/app/(app)/repositories/_components/cleanup-policy-settings.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/components/common/lifecycle-capability-notice.tsx
  src/hooks/use-lifecycle-capabilities.ts
  src/lib/api/__tests__/lifecycle.test.ts
  src/lib/api/lifecycle.ts
  src/types/lifecycle.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

chore: ui fixes for the oidc-token-exchange feature
  src/app/(app)/(admin)/settings/sso/ci/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/lib/__tests__/query-keys.test.ts
  src/lib/api/__tests__/ci-oidc.test.ts
  src/lib/api/ci-oidc.ts
  src/lib/query-keys.ts
  src/types/ci-oidc.ts
Due: Require E2E for page changes, Label UI component changes

feat(ci-oidc): admin UI for CI OIDC provider and identity mapping management
  src/app/(app)/(admin)/settings/sso/ci/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/ci-oidc.ts
  src/types/ci-oidc.ts
Due: Require E2E for page changes

feat(sidebar): add CI/CD OIDC link to admin sidebar
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/components/layout/app-sidebar.tsx
Due: Require E2E for page changes, Label UI component changes

test(ci-oidc): add admin page component tests
  src/app/(app)/(admin)/settings/sso/ci/__tests__/page.test.tsx
Due: Require E2E for page changes

fix(ci-oidc): keep mapping repo scope on edit, validate claim values, label icon buttons
  CHANGELOG.md
  src/app/(app)/(admin)/settings/sso/ci/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/ci/page.tsx
  src/lib/api/__tests__/ci-oidc.test.ts
Due: Require E2E for page changes

feat(ci-oidc): enhance identity mapping to support repository access control
  src/app/(app)/(admin)/settings/sso/ci/page.tsx
  src/types/ci-oidc.ts
Due: Require E2E for page changes

feat(ci-oidc): admin UI for CI OIDC provider and identity mapping management (#390)
  CHANGELOG.md
  src/app/(app)/(admin)/settings/sso/ci/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/ci/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/__tests__/query-keys.test.ts
  src/lib/api/__tests__/ci-oidc.test.ts
  src/lib/api/ci-oidc.ts
  src/lib/query-keys.ts
  src/types/ci-oidc.ts
Due: Require E2E for page changes, Label UI component changes

fix(uploads): stop reporting every completion 409 as a checksum mismatch
  CHANGELOG.md
  src/hooks/__tests__/use-chunked-upload.test.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/__tests__/uploads.test.ts
  src/lib/api/uploads.ts
Due: none

fix(uploads): stop reporting every completion 409 as a checksum mismatch (#895)
  CHANGELOG.md
  src/hooks/__tests__/use-chunked-upload.test.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/__tests__/uploads.test.ts
  src/lib/api/uploads.ts
Due: none

ci(docker): build the web image's amd64 leg on ak-docker-runners
  .github/workflows/docker-publish.yml
Due: none

ci(docker): build the web image's amd64 leg on ak-docker-runners (#896)
  .github/workflows/docker-publish.yml
Due: none

fix(dialog): keep long content inside the dialog and the footer reachable
  CHANGELOG.md
  e2e/suites/interactions/admin/dialog-overflow.spec.ts
  src/app/(app)/(admin)/permissions/page.tsx
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/components/ui/dialog.test.tsx
  src/components/ui/dialog.tsx
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

test(dialog): maintainer fixes for #901
  CHANGELOG.md
  e2e/suites/interactions/admin/dialog-overflow.spec.ts
Due: Label E2E test changes

fix(dialog): keep long content inside the dialog and the footer reachable (#901)
  CHANGELOG.md
  e2e/suites/interactions/admin/dialog-overflow.spec.ts
  src/app/(app)/(admin)/permissions/page.tsx
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/components/ui/dialog.test.tsx
  src/components/ui/dialog.tsx
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

fix(access-tokens): stop offering a repository scope on personal tokens
  CHANGELOG.md
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/components/common/__tests__/token-create-form.test.tsx
  src/components/common/token-create-form.tsx
  src/lib/api/__tests__/profile.test.ts
  src/lib/api/profile.ts
Due: Require E2E for page changes, Label UI component changes

fix(access-tokens): stop offering a repository scope on personal tokens (#903)
  CHANGELOG.md
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/components/common/__tests__/token-create-form.test.tsx
  src/components/common/token-create-form.tsx
  src/lib/api/__tests__/profile.test.ts
  src/lib/api/profile.ts
Due: Require E2E for page changes, Label UI component changes

feat(repositories): add RPM Repodata Depth controls
  CHANGELOG.md
  README.md
  src/app/(app)/repositories/_components/format-config-fields.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/components/common/__tests__/file-upload.test.tsx
  src/components/common/file-upload.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
  src/hooks/use-rpm-repodata-capabilities.ts
  src/lib/__tests__/rpm-repodata.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/rpm-repodata.ts
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

feat(repositories): add GitHub, mise and aqua setup guides
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/repositories/_lib/constants.ts
  src/app/(app)/repositories/_lib/default-upstream-urls.test.ts
  src/app/(app)/repositories/_lib/default-upstream-urls.ts
  src/app/(app)/setup/page.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
  src/lib/__tests__/repo-tabs.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/package-utils.ts
  src/types/index.ts
  src/types/packages.ts
Due: Require E2E for page changes, Label UI component changes

fix(repositories): maintainer fixes for #846
  CHANGELOG.md
  src/__tests__/middleware.test.ts
  src/lib/__tests__/scan-on-proxy-formats.test.ts
  src/middleware.ts
Due: none

feat(repositories): add GitHub, mise and aqua mirror setup (#846)
  CHANGELOG.md
  src/__tests__/middleware.test.ts
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/repositories/_lib/constants.ts
  src/app/(app)/repositories/_lib/default-upstream-urls.test.ts
  src/app/(app)/repositories/_lib/default-upstream-urls.ts
  src/app/(app)/setup/page.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
  src/lib/__tests__/repo-tabs.test.ts
  src/lib/__tests__/scan-on-proxy-formats.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/package-utils.ts
  src/middleware.ts
  src/types/index.ts
  src/types/packages.ts
Due: Require E2E for page changes, Label UI component changes

feat(access-tokens): offer the repository selector on personal tokens from backend 1.11.0
  CHANGELOG.md
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/components/common/__tests__/repo-selector-form.test.tsx
  src/components/common/repo-selector-form.tsx
  src/lib/__tests__/backend-version.test.ts
  src/lib/api/__tests__/profile.test.ts
  src/lib/api/profile.ts
  src/lib/backend-version.ts
Due: Require E2E for page changes, Label UI component changes

feat(access-tokens): offer the repository selector on personal tokens from backend 1.11.0 (#923)
  CHANGELOG.md
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/components/common/__tests__/repo-selector-form.test.tsx
  src/components/common/repo-selector-form.tsx
  src/lib/__tests__/backend-version.test.ts
  src/lib/api/__tests__/profile.test.ts
  src/lib/api/profile.ts
  src/lib/backend-version.ts
Due: Require E2E for page changes, Label UI component changes

fix(repositories): default conda Remotes to the conda-forge channel
  CHANGELOG.md
  src/app/(app)/repositories/_lib/default-upstream-urls.test.ts
  src/app/(app)/repositories/_lib/default-upstream-urls.ts
Due: Require E2E for page changes

fix(repositories): default conda Remotes to the conda-forge channel (#924)
  CHANGELOG.md
  src/app/(app)/repositories/_lib/default-upstream-urls.test.ts
  src/app/(app)/repositories/_lib/default-upstream-urls.ts
Due: Require E2E for page changes

fix(setup): show conda channel setup for conda and conda_native repos
  CHANGELOG.md
  src/app/(app)/setup/page.test.tsx
  src/app/(app)/setup/page.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
Due: Require E2E for page changes, Label UI component changes

fix(setup): show conda channel setup for conda and conda_native repos (#925)
  CHANGELOG.md
  src/app/(app)/setup/page.test.tsx
  src/app/(app)/setup/page.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
Due: Require E2E for page changes, Label UI component changes

fix(curation): offer only backend-accepted publisher-trust options, add metadata tier
  CHANGELOG.md
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.test.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.tsx
  src/lib/api/__tests__/curation-rules.test.ts
  src/lib/api/curation-rules.ts
  src/lib/api/index.ts
Due: Require E2E for page changes

fix(curation): offer only backend-accepted publisher-trust options, add metadata tier (#926)
  CHANGELOG.md
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.test.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.tsx
  src/lib/api/__tests__/curation-rules.test.ts
  src/lib/api/curation-rules.ts
  src/lib/api/index.ts
Due: Require E2E for page changes

ci: cancel a superseded PR run when a newer push arrives
  .github/workflows/ci.yml
Due: none

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
