Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "-title~=major"
      - check-success=lint
      - check-success=build
      - check-success=e2e
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update

  - name: Require E2E for page changes
    conditions:
      - "files~=^src/app/"
      - -draft
    actions:
      label:
        add:
          - needs-e2e
      comment:
        message: |
          This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.

  - name: Label UI component changes
    conditions:
      - "files~=^src/components/"
    actions:
      label:
        add:
          - ui

  - name: Label E2E test changes
    conditions:
      - "files~=^e2e/"
    actions:
      label:
        add:
          - e2e

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

fix(migration): add Source Type selector to Add Connection dialog (#364)
  CHANGELOG.md
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/lib/api/__tests__/migration.test.ts
  src/lib/api/migration.ts
  src/types/migration.ts
Due: Require E2E for page changes

test(login): regression for username/password form visibility (#350)
  src/app/(auth)/__tests__/login-form-visibility.test.tsx
Due: Require E2E for page changes

fix(login): hide username/password form when only OIDC/SAML is enabled (#350)
  src/app/(auth)/__tests__/login-lockout.test.tsx
  src/app/(auth)/login/page.tsx
Due: Require E2E for page changes

fix(login): R1 review fixes for #350
  CHANGELOG.md
  src/app/(auth)/__tests__/login-form-visibility.test.tsx
  src/app/(auth)/__tests__/login-lockout.test.tsx
  src/app/(auth)/login/page.tsx
Due: Require E2E for page changes

refactor(login): R2 fixes — useSearchParams, simplifier cleanups (#350)
  src/app/(auth)/__tests__/login-form-visibility.test.tsx
  src/app/(auth)/__tests__/login-lockout.test.tsx
  src/app/(auth)/login/page.tsx
Due: Require E2E for page changes

fix(login): wrap useSearchParams in Suspense + R3 nits (#350)
  src/app/(auth)/login/page.tsx
Due: Require E2E for page changes

fix(login): hide username/password form when only OIDC/SAML is configured (#366)
  CHANGELOG.md
  src/app/(auth)/__tests__/login-form-visibility.test.tsx
  src/app/(auth)/__tests__/login-lockout.test.tsx
  src/app/(auth)/login/page.tsx
Due: Require E2E for page changes

test(login): regression for #351 SSO button reads "Sign in with default"
  src/app/(auth)/__tests__/login-sso-button-label.test.tsx
Due: Require E2E for page changes

fix(login): replace 'Sign in with default' with protocol-aware fallback (#351)
  src/app/(auth)/login/page.tsx
Due: Require E2E for page changes

docs(changelog): add #351 SSO button label entry under [Unreleased] / Fixed
  CHANGELOG.md
Due: none

refactor(login): R2 simplifier on #351 diff
  src/app/(auth)/__tests__/login-sso-button-label.test.tsx
  src/app/(auth)/login/page.tsx
Due: Require E2E for page changes

fix(login): protocol-aware SSO button label when provider name is generic (#367)
  CHANGELOG.md
  src/app/(auth)/__tests__/login-sso-button-label.test.tsx
  src/app/(auth)/login/page.tsx
Due: Require E2E for page changes

test(utils): regression tests for formatBytes pathological inputs (#348)
  src/lib/__tests__/utils.test.ts
Due: none

fix(utils): harden formatBytes against NaN/Infinity/negative input (#348)
  src/lib/utils.ts
Due: none

fix(utils): align sentinel with codebase convention; add CHANGELOG (#348)
  CHANGELOG.md
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
Due: none

fix(utils): also floor the unit-index clamp at 0 (#348)
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
Due: none

docs(test): align stale comment with actual sentinel '--' (#348)
  src/lib/__tests__/utils.test.ts
Due: none

fix(utils): harden formatBytes against pathological numeric input (#370)
  CHANGELOG.md
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
Due: none

feat(error-utils): add mutationErrorToast helper (#354)
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: none

refactor: use mutationErrorToast across mutation onError callsites (#354)
  src/app/(app)/(admin)/analytics/page.tsx
  src/app/(app)/(admin)/approvals/page.tsx
  src/app/(app)/(admin)/backups/page.tsx
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/license-policies/page.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/app/(app)/(admin)/monitoring/page.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/app/(app)/(admin)/quality-gates/page.tsx
  src/app/(app)/(admin)/security/dt-projects/[uuid]/page.tsx
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/security/policies/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/app/(app)/(protected)/peers/page.tsx
  src/app/(app)/(protected)/plugins/page.tsx
  src/app/(app)/(protected)/profile/page.tsx
  src/app/(app)/(protected)/replication/page.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/app/(app)/repositories/_components/sbom-tab-content.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/app/(app)/repositories/_components/virtual-members-panel.tsx
  src/app/(app)/staging/_components/promotion-dialog.tsx
  src/app/(app)/staging/_components/rejection-dialog.tsx
  src/components/common/repo-selector-form.tsx
Due: Require E2E for page changes, Label UI component changes

test: expose mutationErrorToast in error-utils mocks (#354)
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repositories-content.test.tsx
Due: Require E2E for page changes

docs(changelog): add #354 entry under [Unreleased] / Changed
  CHANGELOG.md
Due: none

test(error-utils): regression tests for HTTP status prefix on fallback (#355)
  src/lib/__tests__/error-utils.test.ts
Due: none

fix(error-utils): prefix fallback with HTTP status when present (#355)
  src/lib/error-utils.ts
Due: none

docs(changelog): add #355 HTTP status prefix entry
  CHANGELOG.md
Due: none

fix(error-utils): prefix fallback with HTTP status code (#372)
  CHANGELOG.md
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: none

test(error-utils): regression tests for long-message truncation (#356)
  src/lib/__tests__/error-utils.test.ts
Due: none

test(security-tab): expand coverage for loading/error/admin/total cases
  src/app/(app)/repositories/_components/security-tab-content.test.tsx
Due: Require E2E for page changes

fix(security-tab): show per-artifact scan results (closes #368)
  src/app/(app)/repositories/_components/security-tab-content.test.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
Due: Require E2E for page changes

fix(error-utils): truncate user-untrusted error text at 240 chars (#356)
  CHANGELOG.md
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: none

fix(security-tab): loading/error/admin gating + use SDK total + staleTime
  CHANGELOG.md
  src/app/(app)/repositories/_components/security-tab-content.test.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
Due: Require E2E for page changes

fix(error-utils): truncate long backend error messages at 240 chars (#373)
  CHANGELOG.md
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: none

test(settings): getPasswordPolicy/getSmtpConfig should throw on load failures (#347)
  src/lib/api/__tests__/settings.test.ts
Due: none

fix(settings): surface load failures in getPasswordPolicy and getSmtpConfig (#347)
  CHANGELOG.md
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/lib/api/settings.ts
Due: Require E2E for page changes

test(settings): cover schema-mismatch + alert error message + loading branches (#347)
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/lib/api/__tests__/settings.test.ts
Due: Require E2E for page changes

refactor(settings): replace nested ternary in Password Policy row with helper (#347)
  src/app/(app)/(admin)/settings/page.tsx
Due: Require E2E for page changes

test(settings): tighten R3 fixes — pin storage, type SMTP fixture, restore explicit guard (#347)
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
Due: Require E2E for page changes

refactor(settings): extract SmtpFieldsSchema to dedupe smtp_config / smtp branches (#347)
  src/lib/api/settings.ts
Due: none

fix(settings): surface load failures in getPasswordPolicy and getSmtpConfig (#374)
  CHANGELOG.md
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes
