Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

fix(sso): preserve attribute_mapping keys not rendered by OIDC form (closes #406)
  src/app/(app)/(admin)/settings/sso/page.tsx
Due: Require E2E for page changes

test(webhooks): regression for #378 — payload_template form field is placebo
  src/app/(app)/(protected)/webhooks/__tests__/regression-378.test.tsx
Due: Require E2E for page changes

fix(webhooks): remove payload_template placebo form field (closes #378)
  src/app/(app)/(protected)/webhooks/__tests__/page.test.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/lib/api/webhooks.ts
  src/lib/constants/__tests__/webhook.test.ts
  src/lib/constants/webhook.ts
Due: Require E2E for page changes

feat(artifact-browser): add grouping toggle infrastructure
  src/app/(app)/repositories/_components/artifact-browser-toggle.tsx
  src/lib/api/artifacts.ts
  src/types/index.ts
Due: Require E2E for page changes

test(artifact-browser): cover ArtifactBrowserToggle + listGrouped (#254, #330)
  src/app/(app)/repositories/_components/__tests__/artifact-browser-toggle.test.tsx
  src/lib/api/__tests__/artifacts.test.ts
Due: Require E2E for page changes

feat(artifact-browser): Maven component grouping (refs #254)
  src/app/(app)/repositories/_components/maven-component-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

test(maven-component-list): cover GAV grouping rendering (#254)
  src/app/(app)/repositories/_components/__tests__/maven-component-list.test.tsx
Due: Require E2E for page changes

feat(artifact-browser): Docker tag grouping (refs #330)
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_lib/docker-grouping.ts
Due: Require E2E for page changes

test(artifact-browser): cover both modes
  e2e/suites/interactions/repositories/artifact-browser-grouping.spec.ts
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_lib/__tests__/docker-grouping.test.ts
Due: Require E2E for page changes, Label E2E test changes

test(sso): regression for #406 sibling — SAML attribute_mapping overwrite
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
Due: Require E2E for page changes

fix(sso): extend #406 attribute_mapping merge fix to SAML provider
  src/app/(app)/(admin)/settings/sso/page.tsx
Due: Require E2E for page changes

fix(artifact-browser): address R1 review findings (S1-S3, MINOR-1)
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
Due: Require E2E for page changes

fix(artifact-browser): address R1 Moderate + Minor a11y findings (M1-M7, N1-N4)
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/__tests__/maven-component-list.test.tsx
  src/app/(app)/repositories/_components/artifact-browser-toggle.tsx
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/maven-component-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

feat(ci-oidc): enhance identity mapping to support repository access control
  src/app/(app)/(admin)/settings/sso/ci/page.tsx
  src/types/ci-oidc.ts
Due: Require E2E for page changes

feat(ci-oidc): admin UI for CI OIDC provider and identity mapping management
  src/app/(app)/(admin)/settings/sso/ci/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/ci-oidc.ts
  src/types/ci-oidc.ts
Due: Require E2E for page changes

feat(sidebar): add CI/CD OIDC link to admin sidebar
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/components/layout/app-sidebar.tsx
Due: Require E2E for page changes, Label UI component changes

fix(repositories): reset create form when dialog reopens
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

fix(repositories): sort Format options alphabetically in Create dialog
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

fix(repositories): always render secondary name line for consistent card heights
  src/app/(app)/repositories/_components/repo-list-item.tsx
Due: Require E2E for page changes

chore: bump react to 19.2.6 to match react-dom peer requirement
  package-lock.json
  package.json
Due: none

fix(setup): use download endpoint for Generic artifact example (#409)
  src/app/(app)/setup/page.test.tsx
  src/app/(app)/setup/page.tsx
Due: Require E2E for page changes

experiment(design): terminal-native restyle
  CLAUDE.md
  README.md
  next.config.ts
  src/app/(app)/_components/__tests__/dashboard-content.test.tsx
  src/app/(app)/_components/dashboard-content.tsx
  src/app/globals.css
  src/app/layout.test.tsx
  src/app/layout.tsx
  src/components/layout/app-header.tsx
  src/components/layout/app-sidebar.tsx
Due: Require E2E for page changes, Label UI component changes

feat(repo-browser): add 'Invalidate cache' action to artifact details dialog (#446)
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
Due: Require E2E for page changes

feat(settings): show + edit proxy cache TTL on Remote repo Settings tab (#448)
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Require E2E for page changes

test(settings): add component tests for new Proxy Cache section
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
Due: Require E2E for page changes

feat: age-gate UI — admin review queue and per-repo config panel
  e2e/suites/interactions/operations/age-gate.spec.ts
  src/app/(app)/(admin)/age-gate/__tests__/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/app/(app)/repositories/_components/age-gate-settings.test.tsx
  src/app/(app)/repositories/_components/age-gate-settings.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/age-gate.ts
  src/lib/api/index.ts
  src/lib/api/webhooks.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

fix(tickets): bind download/stream ticket resource_path to the request path
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/__tests__/migration.test.ts
  src/lib/api/artifacts.ts
  src/lib/api/migration.ts
Due: none

fix: absolute download URL and resilient server version display
  e2e/suites/interactions/repositories/download-url-and-version.spec.ts
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/admin.ts
  src/lib/api/artifacts.ts
Due: Require E2E for page changes, Label E2E test changes

feat(maven): search by GAV and surface POM in the UI
  e2e/suites/interactions/repositories/maven-gav-search-pom.spec.ts
  src/app/(app)/repositories/_components/maven-component-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/lib/__tests__/maven.test.ts
  src/lib/maven.ts
Due: Require E2E for page changes, Label E2E test changes

fix(a11y): repo dialog and SSO form WCAG 2.2 AA gaps
  e2e/suites/interactions/repositories/repo-dialog-a11y.spec.ts
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
Due: Require E2E for page changes, Label E2E test changes

fix(repositories): pagination, file click-through, and full file listing in Maven grouped view
  e2e/suites/interactions/repositories/maven-grouped-browser.spec.ts
  src/app/(app)/repositories/_components/__tests__/maven-component-list.test.tsx
  src/app/(app)/repositories/_components/__tests__/maven-component-path.test.ts
  src/app/(app)/repositories/_components/maven-component-list.tsx
  src/app/(app)/repositories/_components/maven-component-path.ts
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/data-table-pagination.tsx
  src/components/common/data-table.tsx
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

test(e2e): verify remote-repo cached artifacts show in the browser (#424)
  e2e/suites/interactions/repositories/remote-cached-artifacts.spec.ts
Due: Label E2E test changes

feat(search): surface OpenSearch capabilities in the search UI
  e2e/suites/interactions/search/opensearch-search.spec.ts
  src/app/(app)/_components/dashboard-content.tsx
  src/app/(app)/search/_components/search-content.test.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/admin.ts
  src/lib/api/search.ts
  src/types/index.ts
Due: Require E2E for page changes, Label E2E test changes

feat(repositories): add release target and routing rules settings
  e2e/suites/interactions/repositories/release-target-settings.spec.ts
  e2e/suites/interactions/repositories/routing-rules-settings.spec.ts
  src/app/(app)/repositories/_components/release-target-settings.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/routing-rules-settings.tsx
  src/lib/api/repositories.ts
Due: Require E2E for page changes, Label E2E test changes

Add package age policy and upload size limit configuration UIs
  e2e/suites/interactions/admin/upload-size-limit.spec.ts
  e2e/suites/interactions/repositories/age-policy.spec.ts
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/repositories.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes, Label E2E test changes

feat: system config feature flags and rate-limit exemption admin UI
  e2e/suites/interactions/admin/rate-limits.spec.ts
  e2e/suites/interactions/admin/system-config-feature-flags.spec.ts
  src/app/(app)/(admin)/rate-limits/page.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/file-upload.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/rate-limits.test.ts
  src/lib/api/__tests__/system-config.test.ts
  src/lib/api/rate-limits.ts
  src/lib/api/system-config.ts
  src/providers/__tests__/system-config-provider.test.tsx
  src/providers/index.tsx
  src/providers/system-config-provider.tsx
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

fix(settings): reflect persisted max upload size in editor (review #464)
  src/app/(app)/(admin)/settings/page.tsx
Due: Require E2E for page changes

fix(repositories): a11y error association + write-through guards (review #462/#464)
  src/app/(app)/repositories/_components/release-target-settings.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/routing-rules-settings.tsx
Due: Require E2E for page changes

fix(search,admin): aria-live result announcements + exemption a11y, harden e2e (review #463/#465/#464)
  e2e/suites/interactions/admin/rate-limits.spec.ts
  e2e/suites/interactions/admin/upload-size-limit.spec.ts
  e2e/suites/interactions/repositories/age-policy.spec.ts
  src/app/(app)/(admin)/rate-limits/page.tsx
  src/app/(app)/search/_components/search-content.tsx
Due: Require E2E for page changes, Label E2E test changes

chore: bump web version to 1.2.0
  package.json
Due: none

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
