Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

fix(admin): paginate users list and group member picker (#564)
  src/app/(app)/(admin)/groups/__tests__/page.test.tsx
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/admin.ts
Due: Require E2E for page changes

docs(storage): update runGc comments now the per-repo storage-gc endpoint exists (#708)
  src/lib/api/storage.ts
Due: none

fix(settings): remove SMTP save flow that 404s against the backend (#555) (#713)
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/hooks/use-admin-settings.ts
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes

fix(admin): paginate users list and group member picker (#564) (#715)
  src/app/(app)/(admin)/groups/__tests__/page.test.tsx
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/admin.ts
Due: Require E2E for page changes

docs(storage): update runGc comments now the per-repo storage-gc endpoint exists (#708) (#716)
  src/lib/api/storage.ts
Due: none

fix(repositories): use server-side docker_tag grouping in the Docker tag view
  e2e/suites/interactions/repositories/artifact-browser-grouping.spec.ts
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_lib/__tests__/docker-grouping.test.ts
  src/app/(app)/repositories/_lib/docker-grouping.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
  src/types/index.ts
Due: Require E2E for page changes, Label E2E test changes

docs(repositories): record why the Docker tag rollup shows no quarantine/analyzable state
  src/app/(app)/repositories/_components/docker-tag-list.tsx
Due: Require E2E for page changes

test(repositories): cover the Docker grouped view's interactive callbacks
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
Due: Require E2E for page changes

fix(repositories): use server-side docker_tag grouping in the Docker tag view (adopts #561) (#714)
  e2e/suites/interactions/repositories/artifact-browser-grouping.spec.ts
  src/app/(app)/repositories/_components/__tests__/docker-tag-list.test.tsx
  src/app/(app)/repositories/_components/docker-tag-list.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_lib/__tests__/docker-grouping.test.ts
  src/app/(app)/repositories/_lib/docker-grouping.ts
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
  src/types/index.ts
Due: Require E2E for page changes, Label E2E test changes

chore(release): web 1.7.0 prep — CHANGELOG + version bump
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): web 1.7.0 prep — CHANGELOG + version bump (#717)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(repositories): private-by-default create form, hide public toggle when guest access is off
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

fix(repositories): private-by-default create form, hide public toggle when guest access is off (#733)
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

chore(release): v1.8.0 changelog
  CHANGELOG.md
Due: none

docs(changelog): scope [1.8.0] to the actual change; restore backlog to [Unreleased]
  CHANGELOG.md
Due: none

docs(changelog): scope [1.8.0] to the actual change; restore backlog to [Unreleased] (#736)
  CHANGELOG.md
Due: none

feat(dashboard): include proxy cache in storage/artifact stats with hover breakdown
  src/app/(app)/__tests__/page.test.tsx
  src/app/(app)/_components/__tests__/dashboard-content.test.tsx
  src/app/(app)/_components/dashboard-content.tsx
  src/components/common/stat-card.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/admin.ts
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

fix(repositories): show search matches from every page, not just the current one
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/lib/api/repositories.ts
Due: Require E2E for page changes

feat(migration): repo remapping support (rename repos + show repo scope)
  src/app/(app)/(admin)/migration/page.tsx
  src/types/migration.ts
Due: Require E2E for page changes

fix(migration): show 100% and effective totals on completed jobs
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
Due: Require E2E for page changes

test(migration): cover repo remapping, scope display, and path copy
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
Due: Require E2E for page changes

feat(repositories): add a Setup tab with the per-repo client-setup guide (#560)
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/setup/page.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
Due: Require E2E for page changes, Label UI component changes

fix(repositories): stop sending npm scope policy for non-remote repos (#745)
  CHANGELOG.md
  src/app/(app)/repositories/_components/format-config-fields.test.tsx
  src/app/(app)/repositories/_components/format-config-fields.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/repositories/_lib/constants.ts
Due: Require E2E for page changes

fix(setup): give Pub repositories Dart-specific setup snippets
  src/app/(app)/setup/page.test.tsx
  src/app/(app)/setup/page.tsx
Due: Require E2E for page changes

feat(dashboard): include proxy cache in storage/artifact stats with hover breakdown (#738)
  src/app/(app)/__tests__/page.test.tsx
  src/app/(app)/_components/__tests__/dashboard-content.test.tsx
  src/app/(app)/_components/dashboard-content.tsx
  src/components/common/stat-card.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/admin.ts
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

chore(deps): fix npm audit failures (nanoid 3.3.18, postcss 8.5.26)
  package-lock.json
Due: none

chore(deps): fix npm audit failures (nanoid 3.3.18, postcss 8.5.26) (#750)
  package-lock.json
Due: none

feat(sso): surface OIDC allow_legacy_rsa_keys opt-in on the provider edit form
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/sso.ts
  src/types/sso.ts
Due: Require E2E for page changes

fix(repositories): show search matches from every page, not just the current one (#740)
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/lib/api/repositories.ts
Due: Require E2E for page changes

fix(repositories): stop sending npm scope policy for non-remote repos (#745) (#746)
  CHANGELOG.md
  src/app/(app)/repositories/_components/format-config-fields.test.tsx
  src/app/(app)/repositories/_components/format-config-fields.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/repositories/_lib/constants.ts
Due: Require E2E for page changes

feat(migration): repo remapping, useful job labels, and correct completion totals (#743)
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/types/migration.ts
Due: Require E2E for page changes

feat(repositories): add a Setup tab with the per-repo client-setup guide (#560) (#744)
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/setup/page.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
Due: Require E2E for page changes, Label UI component changes

fix(setup): give Pub repositories Dart-specific setup snippets
  src/app/(app)/setup/page.test.tsx
  src/components/setup/repo-setup-guide.tsx
Due: Require E2E for page changes, Label UI component changes

feat(sso): surface OIDC allow_legacy_rsa_keys opt-in on the provider edit form (#524)
  src/app/(app)/(admin)/settings/sso/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/api/sso.ts
  src/types/sso.ts
Due: Require E2E for page changes

ci(codeql): pin init to v4.37.6 to match analyze
  .github/workflows/codeql.yml
Due: none

ci(dependabot): group codeql-action updates so init/analyze bump together
  .github/dependabot.yml
Due: none

ci(codeql): pin init to v4.37.6 to match analyze (#730 follow-up) (#753)
  .github/dependabot.yml
  .github/workflows/codeql.yml
Due: none

test(e2e): Playwright specs for the 1.8.x feature merges
  e2e/suites/interactions/dashboard/dashboard-stats.spec.ts
  e2e/suites/interactions/operations/migration.spec.ts
  e2e/suites/interactions/repositories/repo-create-npm.spec.ts
  e2e/suites/interactions/repositories/repo-search.spec.ts
  e2e/suites/interactions/repositories/repo-setup-tab.spec.ts
Due: Label E2E test changes

fix(setup): give Pub repositories Dart-specific setup snippets (#748)
  src/app/(app)/setup/page.test.tsx
  src/components/setup/repo-setup-guide.tsx
Due: Require E2E for page changes, Label UI component changes

test(e2e): Pub/Dart setup-guide spec + e2e-pub-local seed (#748)
  e2e/setup/seed-data.ts
  e2e/suites/interactions/repositories/repo-setup-pub.spec.ts
Due: Label E2E test changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
