Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "-title~=major"
      - check-success=lint
      - check-success=build
      - check-success=e2e
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update

  - name: Require E2E for page changes
    conditions:
      - "files~=^src/app/"
      - -draft
    actions:
      label:
        add:
          - needs-e2e
      comment:
        message: |
          This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.

  - name: Label UI component changes
    conditions:
      - "files~=^src/components/"
    actions:
      label:
        add:
          - ui

  - name: Label E2E test changes
    conditions:
      - "files~=^e2e/"
    actions:
      label:
        add:
          - e2e

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

fix: resolve flaky E2E tests for security scans and access tokens
  e2e/suites/interactions/integrations/access-tokens.spec.ts
  e2e/suites/interactions/security/security-scans.spec.ts
Due: Label E2E test changes

fix: resolve flaky E2E tests for security scans and access tokens (#119)
  e2e/suites/interactions/integrations/access-tokens.spec.ts
  e2e/suites/interactions/security/security-scans.spec.ts
Due: Label E2E test changes

fix: correct download URL pattern to match backend route (#313) (#115)
  e2e/suites/interactions/repositories/artifact-download.spec.ts
  src/lib/api/artifacts.ts
Due: Label E2E test changes

test: add E2E tests for edit, toggle, and action button interactions
  e2e/suites/interactions/integrations/webhooks-crud.spec.ts
  e2e/suites/interactions/operations/lifecycle-actions.spec.ts
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  e2e/suites/interactions/security/license-policies-crud.spec.ts
  e2e/suites/interactions/security/quality-gates-crud.spec.ts
  e2e/suites/interactions/security/security-policies-crud.spec.ts
  e2e/suites/interactions/security/security-scans-actions.spec.ts
Due: Label E2E test changes

fix: replace networkidle with domcontentloaded in all E2E tests
  e2e/suites/interactions/integrations/access-tokens.spec.ts
  e2e/suites/interactions/integrations/webhooks-crud.spec.ts
  e2e/suites/interactions/operations/lifecycle-actions.spec.ts
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  e2e/suites/interactions/security/license-policies-crud.spec.ts
  e2e/suites/interactions/security/quality-gates-crud.spec.ts
  e2e/suites/interactions/security/security-policies-crud.spec.ts
  e2e/suites/interactions/security/security-scans-actions.spec.ts
  e2e/suites/interactions/security/security-scans.spec.ts
Due: Label E2E test changes

fix: use auto-retrying expect assertions instead of isVisible for data-dependent tests
  e2e/suites/interactions/integrations/access-tokens.spec.ts
  e2e/suites/interactions/security/quality-gates.spec.ts
  e2e/suites/interactions/security/security-scans.spec.ts
Due: Label E2E test changes

fix: scope revoke confirm to alertdialog, fix strict mode violations
  e2e/suites/interactions/integrations/access-tokens.spec.ts
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  e2e/suites/interactions/security/quality-gates.spec.ts
Due: Label E2E test changes

fix: add network response interception to verify revoke API call succeeds
  e2e/suites/interactions/integrations/access-tokens.spec.ts
Due: Label E2E test changes

fix: remove reload+verify from revoke tests, keep API response validation
  e2e/suites/interactions/integrations/access-tokens.spec.ts
Due: Label E2E test changes

test: add E2E tests for edit, toggle, and action button interactions (#121)
  e2e/suites/interactions/integrations/access-tokens.spec.ts
  e2e/suites/interactions/integrations/webhooks-crud.spec.ts
  e2e/suites/interactions/operations/lifecycle-actions.spec.ts
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  e2e/suites/interactions/security/license-policies-crud.spec.ts
  e2e/suites/interactions/security/quality-gates-crud.spec.ts
  e2e/suites/interactions/security/quality-gates.spec.ts
  e2e/suites/interactions/security/security-policies-crud.spec.ts
  e2e/suites/interactions/security/security-scans-actions.spec.ts
  e2e/suites/interactions/security/security-scans.spec.ts
Due: Label E2E test changes

fix: update tutorial 03-06 selectors to match current UI
  e2e/tutorials/03-proxy-setup.tutorial.ts
  e2e/tutorials/04-virtual-repositories.tutorial.ts
  e2e/tutorials/05-security-quality-gates.tutorial.ts
  e2e/tutorials/06-user-management.tutorial.ts
Due: Label E2E test changes

fix: fill required Name field in repo dialogs, fix Create User button selector
  e2e/tutorials/03-proxy-setup.tutorial.ts
  e2e/tutorials/04-virtual-repositories.tutorial.ts
  e2e/tutorials/06-user-management.tutorial.ts
Due: Label E2E test changes

feat: add compatibility release gate for tagged releases
  .github/workflows/docker-publish.yml
Due: none

Add compatibility release gate for tagged releases (#122)
  .github/workflows/docker-publish.yml
  e2e/tutorials/03-proxy-setup.tutorial.ts
  e2e/tutorials/04-virtual-repositories.tutorial.ts
  e2e/tutorials/05-security-quality-gates.tutorial.ts
  e2e/tutorials/06-user-management.tutorial.ts
Due: Label E2E test changes

chore: add GitHub issue templates (#136)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: remove documentation template, link to artifact-keeper-site instead
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
Due: none

chore: remove documentation template, link to artifact-keeper-site for doc issues
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
Due: none

chore: remove documentation template, link to artifact-keeper-site for doc issues (#137)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
Due: none

fix: use correct type parameter for staging repo filtering
  src/lib/api/promotion.ts
Due: none

fix: use correct type param for staging repo filtering (#138)
  src/lib/api/promotion.ts
Due: none

chore: temporarily ignore eslint v10 in dependabot
  .github/dependabot.yml
Due: none

feat: add staging to repository type options
  src/app/(app)/repositories/_lib/constants.ts
Due: Require E2E for page changes

feat: show inline hint when staging type is selected
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

feat: show staging-specific toast with link after creation
  src/app/(app)/repositories/page.tsx
Due: Require E2E for page changes

test: add Playwright tests for staging repository creation
  e2e/suites/interactions/repositories/repo-create-staging.spec.ts
Due: Label E2E test changes

fix: render Toaster in root layout and improve E2E toast locators
  e2e/suites/interactions/repositories/repo-create-staging.spec.ts
  src/app/layout.tsx
Due: Require E2E for page changes, Label E2E test changes

test: add unit tests for staging repo creation (46 new tests)
  package-lock.json
  package.json
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/repositories/page.test.tsx
  src/app/layout.test.tsx
Due: Require E2E for page changes

fix: resolve lint errors in page.test.tsx
  src/app/(app)/repositories/page.test.tsx
Due: Require E2E for page changes

chore: temporarily ignore eslint v10 in dependabot (#140)
  .github/dependabot.yml
Due: none

test: add E2E tests for API key and access token creation
  e2e/suites/interactions/auth/access-tokens.spec.ts
Due: Label E2E test changes

test: add E2E tests for API key and access token creation (#151)
  e2e/suites/interactions/auth/access-tokens.spec.ts
Due: Label E2E test changes

test: add unit tests for git SHA display in sidebar and settings
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
Due: Require E2E for page changes, Label UI component changes

fix(e2e): expect 401 from native format handler on private repos
  e2e/suites/roles/private-repo-visibility.spec.ts
Due: Label E2E test changes

feat: show git commit hash in sidebar and settings for dev/RC builds
  .github/workflows/docker-publish.yml
  Dockerfile
  next.config.ts
  src/app/(app)/(admin)/settings/page.tsx
  src/components/layout/app-sidebar.tsx
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

feat: show git commit hash in sidebar and settings (#153)
  .github/workflows/docker-publish.yml
  Dockerfile
  e2e/suites/roles/private-repo-visibility.spec.ts
  next.config.ts
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

Add shiki and react-markdown dependencies
  package-lock.json
  package.json
Due: none

Add tree content API client for artifact viewing
  src/lib/api/tree.ts
Due: none

Add content type classification and hex dump utilities
  src/lib/content-type.ts
Due: none

Add lazy-loaded Shiki highlighter singleton
  src/lib/shiki.ts
Due: none

Wire file tree to content viewer with resizable split panel
  src/app/(app)/repositories/_components/packages-tab-content.tsx
  src/components/package/file-tree.tsx
Due: Require E2E for page changes, Label UI component changes
