Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "-title~=major"
      - check-success=lint
      - check-success=build
      - check-success=e2e
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update

  - name: Require E2E for page changes
    conditions:
      - "files~=^src/app/"
      - -draft
    actions:
      label:
        add:
          - needs-e2e
      comment:
        message: |
          This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.

  - name: Label UI component changes
    conditions:
      - "files~=^src/components/"
    actions:
      label:
        add:
          - ui

  - name: Label E2E test changes
    conditions:
      - "files~=^e2e/"
    actions:
      label:
        add:
          - e2e

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

test(admin): cover audit page filter/pagination/refresh paths (#568)
  src/app/(app)/(admin)/audit/__tests__/page.test.tsx
Due: Require E2E for page changes

feat(admin): Audit Log viewer page (#568) (#572)
  CHANGELOG.md
  e2e/fixtures/page-objects/AuditLogPage.ts
  e2e/fixtures/page-objects/index.ts
  e2e/suites/interactions/admin/audit.spec.ts
  src/app/(app)/(admin)/audit/__tests__/page.test.tsx
  src/app/(app)/(admin)/audit/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/audit.test.ts
  src/lib/api/audit.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

feat(admin): Download Attribution & Network-Topology dashboard (#569)
  CHANGELOG.md
  e2e/fixtures/page-objects/DownloadsPage.ts
  e2e/fixtures/page-objects/index.ts
  e2e/suites/interactions/admin/downloads.spec.ts
  src/app/(app)/(admin)/downloads/__tests__/page.test.tsx
  src/app/(app)/(admin)/downloads/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/downloads.test.ts
  src/lib/api/downloads.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

feat(security): CVE Blast-Radius view (#570)
  CHANGELOG.md
  e2e/fixtures/page-objects/BlastRadiusPage.ts
  e2e/fixtures/page-objects/index.ts
  e2e/suites/interactions/admin/blast-radius.spec.ts
  src/app/(app)/(admin)/security/blast-radius/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/blast-radius/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/blast-radius.test.ts
  src/lib/api/blast-radius.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

feat(repositories): generic artifact version history UI
  CHANGELOG.md
  e2e/fixtures/page-objects/ArtifactVersionsPage.ts
  e2e/fixtures/page-objects/index.ts
  e2e/setup/seed-data.ts
  e2e/suites/interactions/repositories/artifact-version-history.spec.ts
  src/app/(app)/repositories/_components/artifact-versions-section.test.tsx
  src/app/(app)/repositories/_components/artifact-versions-section.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/__tests__/versions.test.ts
  src/lib/api/repositories.ts
  src/lib/api/versions.ts
  src/types/index.ts
Due: Require E2E for page changes, Label E2E test changes

test(e2e): harden flaky interaction specs (selectors/timing)
  e2e/fixtures/page-objects/ArtifactVersionsPage.ts
  e2e/suites/interactions/admin/migration.spec.ts
  e2e/suites/interactions/dashboard/live-updates.spec.ts
  e2e/suites/interactions/repositories/artifact-version-history.spec.ts
  e2e/suites/interactions/security/security-scans.spec.ts
Due: Label E2E test changes

chore(web): migrate to @artifact-keeper/sdk@1.5.0 + drop narrowed casts + bump to 1.5.0
  package-lock.json
  package.json
  src/app/(app)/(admin)/curation/page.tsx
  src/lib/api/__tests__/curation.test.ts
  src/lib/api/__tests__/promotion.test.ts
  src/lib/api/__tests__/quality-checks.test.ts
  src/lib/api/__tests__/security.test.ts
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/audit.ts
  src/lib/api/blast-radius.ts
  src/lib/api/curation.ts
  src/lib/api/downloads.ts
  src/lib/api/lifecycle.ts
  src/lib/api/quality-checks.ts
  src/lib/api/repositories.ts
  src/lib/api/versions.ts
Due: Require E2E for page changes

chore(web): migrate to @artifact-keeper/sdk@1.5.0 + drop narrowed casts + bump to 1.5.0 (#579)
  package-lock.json
  package.json
  src/app/(app)/(admin)/curation/page.tsx
  src/lib/api/__tests__/curation.test.ts
  src/lib/api/__tests__/promotion.test.ts
  src/lib/api/__tests__/quality-checks.test.ts
  src/lib/api/__tests__/security.test.ts
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/audit.ts
  src/lib/api/blast-radius.ts
  src/lib/api/curation.ts
  src/lib/api/downloads.ts
  src/lib/api/lifecycle.ts
  src/lib/api/quality-checks.ts
  src/lib/api/repositories.ts
  src/lib/api/versions.ts
Due: Require E2E for page changes

test(e2e): cover disabled local peer actions
  e2e/suites/interactions/integrations/peers.spec.ts
Due: Label E2E test changes

fix(peers): disable actions for the local self-peer
  src/app/(app)/(protected)/peers/page.tsx
Due: Require E2E for page changes

test(auth): wait for the captured context, not just the DOM, before changePassword
  src/providers/__tests__/auth-provider.test.tsx
Due: none

chore(release): v1.5.1
  package-lock.json
  package.json
Due: none

chore(release): v1.5.2
  package-lock.json
  package.json
Due: none

fix(quality-checks): point admin list at /admin/quality-checks list-all (#2419)
  src/lib/api/__tests__/quality-checks.test.ts
  src/lib/api/quality-checks.ts
Due: none

chore(release): v1.5.3
  package-lock.json
  package.json
Due: none

chore(release): v1.5.3 (#587)
  package-lock.json
  package.json
Due: none

chore(release): v1.5.4 (align with backend SAML XSW hotfix)
  package-lock.json
  package.json
Due: none

fix(settings): render Environment badge from settings API
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes

fix(migration): guard reconciliation report render against absent category summaries
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/types/migration.ts
Due: Require E2E for page changes

fix(migration): guard reconciliation report render against absent category summaries (#589)
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/types/migration.ts
Due: Require E2E for page changes

chore(release): v1.5.5 (migration report modal crash fix, #2455)
  package-lock.json
  package.json
Due: none

chore(release): v1.5.6 (align web image with backend #2477 hotfix)
  package-lock.json
  package.json
Due: none

chore: release web v1.5.7
  package-lock.json
  package.json
Due: none

chore(release): v1.5.8 (align with backend #2457/#2570 hotfix)
  package-lock.json
  package.json
Due: none

feat(storage): repository dedup storage usage panel (#2056)
  CHANGELOG.md
  docs/features/repository-storage-usage.md
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-storage-panel.test.tsx
  src/app/(app)/repositories/_components/repo-storage-panel.tsx
  src/lib/api/__tests__/storage.test.ts
  src/lib/api/storage.ts
  src/types/index.ts
  src/types/storage.ts
Due: Require E2E for page changes

feat(storage): repository dedup storage usage panel (#2056) (#594)
  CHANGELOG.md
  docs/features/repository-storage-usage.md
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-storage-panel.test.tsx
  src/app/(app)/repositories/_components/repo-storage-panel.tsx
  src/lib/api/__tests__/storage.test.ts
  src/lib/api/storage.ts
  src/types/index.ts
  src/types/storage.ts
Due: Require E2E for page changes

chore(release): bump web version to 1.6.0
  package-lock.json
  package.json
Due: none

chore(release): bump web version to 1.6.0 (#598)
  package-lock.json
  package.json
Due: none

chore(deps): bump @artifact-keeper/sdk to 1.6.0
  package-lock.json
  package.json
  src/lib/api/__tests__/promotion.test.ts
  src/lib/api/__tests__/sso.test.ts
Due: none

chore(deps): bump @artifact-keeper/sdk to 1.6.0 (#601)
  package-lock.json
  package.json
  src/lib/api/__tests__/promotion.test.ts
  src/lib/api/__tests__/sso.test.ts
Due: none

feat(audit): add SIEM export (CSV + versioned JSON) to audit log
  src/app/(app)/(admin)/audit/__tests__/page.test.tsx
  src/app/(app)/(admin)/audit/page.tsx
  src/lib/__tests__/download.test.ts
  src/lib/api/__tests__/audit.test.ts
  src/lib/api/audit.ts
  src/lib/download.ts
Due: Require E2E for page changes

feat(security): add accessible-not-downloaded latent exposure to blast radius
  src/app/(app)/(admin)/security/blast-radius/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/blast-radius/page.tsx
  src/lib/api/__tests__/blast-radius.test.ts
  src/lib/api/blast-radius.ts
Due: Require E2E for page changes

feat(storage): per-folder deduplicated usage + migrate storage.ts to SDK
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-folder-storage-panel.test.tsx
  src/app/(app)/repositories/_components/repo-folder-storage-panel.tsx
  src/app/(app)/repositories/_components/repo-storage-panel.tsx
  src/lib/api/__tests__/storage.test.ts
  src/lib/api/__tests__/tree-getchildren.test.ts
  src/lib/api/storage.ts
  src/lib/api/tree.ts
  src/types/storage.ts
  src/types/tree.ts
Due: Require E2E for page changes

feat(repositories): add 1.6.0 format-specific config to create & settings
  src/app/(app)/repositories/_components/format-config-fields.test.tsx
  src/app/(app)/repositories/_components/format-config-fields.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/repositories/_lib/constants.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/types/index.ts
Due: Require E2E for page changes

feat(audit): add SIEM export (CSV + versioned JSON) to audit log (#606)
  src/app/(app)/(admin)/audit/__tests__/page.test.tsx
  src/app/(app)/(admin)/audit/page.tsx
  src/lib/__tests__/download.test.ts
  src/lib/api/__tests__/audit.test.ts
  src/lib/api/audit.ts
  src/lib/download.ts
Due: Require E2E for page changes

feat(security): add accessible-not-downloaded latent exposure to blast radius (#607)
  src/app/(app)/(admin)/security/blast-radius/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/blast-radius/page.tsx
  src/lib/api/__tests__/blast-radius.test.ts
  src/lib/api/blast-radius.ts
Due: Require E2E for page changes

feat(storage): per-folder deduplicated usage + migrate storage.ts to SDK (#608)
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-folder-storage-panel.test.tsx
  src/app/(app)/repositories/_components/repo-folder-storage-panel.tsx
  src/app/(app)/repositories/_components/repo-storage-panel.tsx
  src/lib/api/__tests__/storage.test.ts
  src/lib/api/__tests__/tree-getchildren.test.ts
  src/lib/api/storage.ts
  src/lib/api/tree.ts
  src/types/storage.ts
  src/types/tree.ts
Due: Require E2E for page changes

feat(repositories): add 1.6.0 format-specific config to create & settings (#609)
  src/app/(app)/repositories/_components/format-config-fields.test.tsx
  src/app/(app)/repositories/_components/format-config-fields.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/repositories/_lib/constants.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/types/index.ts
Due: Require E2E for page changes

feat(authz): gate plugin-config Configure tab + graceful signing 403s
  src/app/(app)/(admin)/signing/page.test.tsx
  src/app/(app)/(admin)/signing/page.tsx
  src/app/(app)/(protected)/plugins/page.test.tsx
  src/app/(app)/(protected)/plugins/page.tsx
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes
