Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

ci: cancel a superseded PR run when a newer push arrives (#927)
  .github/workflows/ci.yml
Due: none

chore: conda housekeeping after the conda handler key split
  CHANGELOG.md
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/proxy-downloads.test.ts
  src/lib/__tests__/proxy-scan.test.ts
  src/lib/__tests__/scan-on-proxy-formats.test.ts
  src/lib/proxy-downloads.ts
  src/lib/scan-on-proxy-formats.ts
Due: Require E2E for page changes

chore: conda housekeeping after the conda handler key split (#928)
  CHANGELOG.md
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/proxy-downloads.test.ts
  src/lib/__tests__/proxy-scan.test.ts
  src/lib/__tests__/scan-on-proxy-formats.test.ts
  src/lib/proxy-downloads.ts
  src/lib/scan-on-proxy-formats.ts
Due: Require E2E for page changes

feat(repositories): show the repository storage backend read-only
  CHANGELOG.md
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/storage-backend-badge.tsx
  src/lib/__tests__/storage-backend.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/storage-backend.ts
  src/types/index.ts
Due: Require E2E for page changes

feat(repositories): show the repository storage backend read-only (#929)
  CHANGELOG.md
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/storage-backend-badge.tsx
  src/lib/__tests__/storage-backend.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/storage-backend.ts
  src/types/index.ts
Due: Require E2E for page changes

feat(artifacts): show the artifact's origin in the detail dialog
  CHANGELOG.md
  src/app/(app)/repositories/_components/artifact-origin-section.test.tsx
  src/app/(app)/repositories/_components/artifact-origin-section.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
  src/lib/query-keys.ts
  src/types/index.ts
Due: Require E2E for page changes

feat(artifacts): show the artifact's origin in the detail dialog (#930)
  CHANGELOG.md
  src/app/(app)/repositories/_components/artifact-origin-section.test.tsx
  src/app/(app)/repositories/_components/artifact-origin-section.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
  src/lib/query-keys.ts
  src/types/index.ts
Due: Require E2E for page changes

fix(tokens): scope a token to the members of a virtual repository
  CHANGELOG.md
  e2e/suites/interactions/admin/service-accounts.spec.ts
  src/components/common/__tests__/repo-selector-form.test.tsx
  src/components/common/repo-selector-form.tsx
  src/lib/api/service-accounts.ts
Due: Label UI component changes, Label E2E test changes

fix(tokens): refuse a virtual-members flag without a filter (maintainer fixes for #898)
  CHANGELOG.md
  src/app/(app)/(admin)/service-accounts/__tests__/page.test.tsx
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/components/common/__tests__/repo-selector-form.test.tsx
  src/components/common/repo-selector-form.tsx
Due: Require E2E for page changes, Label UI component changes

fix(access-tokens): refuse the virtual-members flag without a filter
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
Due: Require E2E for page changes

feat(tokens): flag a token that cannot reach a virtual repository
  CHANGELOG.md
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/components/common/__tests__/repo-selector-form.test.tsx
  src/components/common/repo-selector-form.tsx
  src/components/common/token-create-form.tsx
  src/components/common/token-scope-warning.test.tsx
  src/components/common/token-scope-warning.tsx
  src/lib/api/service-accounts.ts
Due: Require E2E for page changes, Label UI component changes

fix(tokens): a failed scope check never reads as the all-clear
  CHANGELOG.md
  src/components/common/token-scope-warning.test.tsx
  src/components/common/token-scope-warning.tsx
  src/lib/api/service-accounts.ts
Due: Label UI component changes

test(e2e): cover a migration job that finished with errors (#886)
  e2e/suites/interactions/admin/migration-completed-with-errors.spec.ts
Due: Label E2E test changes

fix(migration): recognise the completed_with_errors job status (#886)
  CHANGELOG.md
  src/app/(app)/(admin)/migration/__tests__/page.test.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/lib/api/__tests__/migration.test.ts
  src/lib/api/migration.ts
  src/types/migration.ts
Due: Require E2E for page changes

fix(tokens): no verdict heading over a failed scope check
  src/components/common/token-scope-warning.test.tsx
  src/components/common/token-scope-warning.tsx
Due: Label UI component changes

feat(holds): quarantine and policy-block admin queues
  src/app/(app)/(admin)/age-gate/page.tsx
  src/app/(app)/(admin)/policy-blocks/page.test.tsx
  src/app/(app)/(admin)/policy-blocks/page.tsx
  src/app/(app)/(admin)/quarantine/page.test.tsx
  src/app/(app)/(admin)/quarantine/page.tsx
  src/components/common/__tests__/holds-nav.test.tsx
  src/components/common/holds-nav.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/holds.test.ts
  src/lib/api/holds.ts
Due: Require E2E for page changes, Label UI component changes

feat(signing): repository signing settings on the repo and keys pages
  src/app/(app)/(admin)/signing/page.tsx
  src/app/(app)/(admin)/signing/signing-repositories-panel.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/signing-settings.test.tsx
  src/app/(app)/repositories/_components/signing-settings.tsx
  src/lib/__tests__/signing-formats.test.ts
  src/lib/api/signing.ts
  src/lib/signing-formats.ts
Due: Require E2E for page changes

build(node): build and run the web image on Node.js 24
  .github/workflows/ci.yml
  .github/workflows/generate-tutorials.yml
  .github/workflows/visual-baselines.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.dev
Due: none

fix(repositories): re-offer the age policy on remote repos from backend 1.11.0
  CHANGELOG.md
  e2e/suites/interactions/repositories/age-policy.spec.ts
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/backend-version.ts
Due: Require E2E for page changes, Label E2E test changes

fix(repositories): re-offer the age policy on remote repos from backend 1.11.0 (#939)
  CHANGELOG.md
  e2e/suites/interactions/repositories/age-policy.spec.ts
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/backend-version.ts
Due: Require E2E for page changes, Label E2E test changes

fix(curation): list conda_native for publisher trust; say invalid rules predate validation
  CHANGELOG.md
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.test.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.tsx
  src/lib/api/__tests__/curation-rules.test.ts
  src/lib/api/curation-rules.ts
Due: Require E2E for page changes

fix(curation): list conda_native for publisher trust; say invalid rules predate validation (#938)
  CHANGELOG.md
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.test.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.tsx
  src/lib/api/__tests__/curation-rules.test.ts
  src/lib/api/curation-rules.ts
Due: Require E2E for page changes

feat(repositories): three-state visibility control
  e2e/setup/seed-data.ts
  e2e/suites/roles/internal-repo-visibility-authenticated.spec.ts
  e2e/suites/roles/internal-repo-visibility.spec.ts
  playwright.config.ts
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-list-item.test.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/visibility-select.test.tsx
  src/app/(app)/repositories/_components/visibility-select.tsx
  src/types/index.ts
Due: Require E2E for page changes, Label E2E test changes

chore(repositories): drop the now-unused Switch import
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

fix(e2e): keep is_public in the seed alongside visibility
  e2e/setup/seed-data.ts
Due: Label E2E test changes

fix(repositories): carry visibility across the API client
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Label E2E test changes

docs: track the backend migration renumber (212 -> 217)
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Label E2E test changes

fix(repositories): maintainer fixes for #840
  CHANGELOG.md
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  e2e/suites/roles/internal-repo-visibility.spec.ts
  src/app/(app)/(admin)/security/blast-radius/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/blast-radius/page.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-list-item.test.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
  src/app/(app)/repositories/_components/visibility-select.tsx
  src/components/common/__tests__/visibility-badge.test.tsx
  src/components/common/visibility-badge.tsx
  src/lib/__tests__/repo-visibility.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/repo-visibility.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

fix(packages): include registry host and repository in OCI and Helm install commands
  CHANGELOG.md
  src/app/(app)/packages/[id]/page.tsx
  src/app/(app)/packages/page.tsx
  src/app/(app)/repositories/_components/packages-tab-content.tsx
  src/lib/__tests__/package-utils.test.ts
  src/lib/package-utils.ts
Due: Require E2E for page changes

fix(repositories): full type filter label, staging colour, middle-elided paths (#957)
  CHANGELOG.md
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/lib/utils.ts
Due: Require E2E for page changes

feat(repositories): virtual members show hosted/remote type and the conda name-ownership rule (#962)
  CHANGELOG.md
  src/app/(app)/repositories/_components/virtual-members-panel.test.tsx
  src/app/(app)/repositories/_components/virtual-members-panel.tsx
  src/lib/api/repositories.ts
  src/types/index.ts
Due: Require E2E for page changes

feat(repositories): subdir and build columns for conda artifact lists (#961)
  CHANGELOG.md
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/conda.test.ts
  src/lib/conda.ts
Due: Require E2E for page changes

feat(artifacts): attestation panel and conda package fields in the artifact detail (#961)
  CHANGELOG.md
  src/app/(app)/repositories/_components/artifact-attestation-section.test.tsx
  src/app/(app)/repositories/_components/artifact-attestation-section.tsx
  src/app/(app)/repositories/_components/conda-package-section.tsx
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/__tests__/attestation.test.ts
  src/lib/api/artifacts.ts
  src/lib/attestation.ts
  src/types/index.ts
Due: Require E2E for page changes

feat(staging): per-artifact bulk promotion results with rule and severity (#917)
  CHANGELOG.md
  src/app/(app)/staging/_components/promotion-dialog.test.tsx
  src/app/(app)/staging/_components/promotion-dialog.tsx
  src/app/(app)/staging/_components/promotion-result.tsx
  src/lib/api/__tests__/promotion-gates.test.ts
  src/lib/api/promotion.ts
  src/types/promotion.ts
Due: Require E2E for page changes

feat(environments): Environments tab with lockfile SBOMs, registration and component lookup (#912)
  CHANGELOG.md
  src/app/(app)/(admin)/security/blast-radius/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/blast-radius/page.tsx
  src/app/(app)/repositories/_components/environment-lockfile-tools.tsx
  src/app/(app)/repositories/_components/environments-tab-content.test.tsx
  src/app/(app)/repositories/_components/environments-tab-content.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/environment-lookup.tsx
  src/lib/api/__tests__/environments.test.ts
  src/lib/api/environments.ts
Due: Require E2E for page changes, Label UI component changes

feat(signing): read-only attestation trust policy card (#961)
  CHANGELOG.md
  src/app/(app)/(admin)/signing/_components/attestation-policy-card.test.tsx
  src/app/(app)/(admin)/signing/_components/attestation-policy-card.tsx
  src/app/(app)/(admin)/signing/page.test.tsx
  src/app/(app)/(admin)/signing/page.tsx
  src/lib/api/__tests__/attestation-policy.test.ts
  src/lib/api/attestation-policy.ts
Due: Require E2E for page changes

feat(curation): conda version-constraint help in the rule form (#916)
  CHANGELOG.md
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.test.tsx
  src/app/(app)/(admin)/curation/_components/curation-rules-manager.tsx
Due: Require E2E for page changes

feat(conda): withdraw a package from a channel and list channel notices (#913)
  CHANGELOG.md
  src/app/(app)/repositories/_components/channel-notices-panel.tsx
  src/app/(app)/repositories/_components/conda-withdraw-dialog.test.tsx
  src/app/(app)/repositories/_components/conda-withdraw-dialog.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/__tests__/quarantine-badge.test.tsx
  src/components/common/__tests__/quarantine-banner.test.tsx
  src/components/common/quarantine-badge.tsx
  src/components/common/quarantine-banner.tsx
  src/lib/__tests__/conda.test.ts
  src/lib/api/__tests__/conda.test.ts
  src/lib/api/conda.ts
  src/lib/conda.ts
Due: Require E2E for page changes, Label UI component changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
