Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

fix: handle forced password change in E2E test setup
  e2e/setup/auth-states.ts
  e2e/setup/global-setup.ts
Due: Label E2E test changes

fix: tighten CSP by removing unsafe-eval and overly broad img-src
  next.config.ts
Due: none

fix: use crypto.getRandomValues() for password generation
  src/app/(app)/(admin)/users/page.tsx
Due: Require E2E for page changes

fix: map SSO callback errors to safe client-side messages
  src/app/(auth)/callback/page.tsx
Due: Require E2E for page changes

fix: remove SSO callback rewrite workaround (#583)
  next.config.ts
Due: none

fix(devops): exclude pre-release tags from Docker Hub :latest
  .github/workflows/docker-publish.yml
Due: none

feat: chunked upload support in web UI for large artifacts (#563)
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/file-upload.tsx
  src/hooks/use-chunked-upload.ts
  src/lib/api/uploads.ts
Due: Require E2E for page changes, Label UI component changes

test: add unit tests for chunked upload hook and API client
  src/hooks/__tests__/use-chunked-upload.test.ts
  src/lib/api/__tests__/uploads.test.ts
Due: none

test: add 46 unit tests for chunked upload hook and API client
  src/hooks/__tests__/use-chunked-upload.test.ts
Due: none

fix: await async cancel() calls in chunked upload tests
  src/hooks/__tests__/use-chunked-upload.test.ts
Due: none

refactor: use generated SDK types for chunked upload API
  package-lock.json
  package.json
  src/lib/api/__tests__/uploads.test.ts
  src/lib/api/uploads.ts
Due: none

fix: resolve TypeScript error in uploads error helper
  src/lib/api/uploads.ts
Due: none

fix: handle SDK plain-object errors in errorMessage helper
  src/lib/api/uploads.ts
Due: none

chore: bump @artifact-keeper/sdk to 1.1.0-dev.3
  package-lock.json
  package.json
Due: none

fix: resolve admin token management E2E test flake
  e2e/suites/interactions/admin/users.spec.ts
  src/app/(app)/(admin)/users/page.tsx
Due: Require E2E for page changes, Label E2E test changes

fix(devops): exclude pre-release tags from Docker Hub :latest (#223)
  .github/workflows/docker-publish.yml
Due: none

chore: update SDK to v1.1.0
  package-lock.json
  package.json
Due: none

fix: create writable .next/cache directory for image optimization
  Dockerfile
Due: none

fix: replace insecure default admin passwords in E2E tests
  .github/workflows/ci.yml
  docker-compose.e2e.yml
  e2e/setup/global-setup.ts
  e2e/suites/interactions/auth/login.spec.ts
  e2e/suites/interactions/dashboard/live-updates.spec.ts
  e2e/tutorials/01-getting-started.tutorial.ts
Due: Label E2E test changes

fix: skip release gate on workflow_dispatch to allow manual image publishing
  .github/workflows/docker-publish.yml
Due: none

fix: restructure Docker publish to build first, gate after
  .github/workflows/docker-publish.yml
Due: none

chore: use self-hosted runners (ak-ci-runners) for CI
  .github/workflows/docker-publish.yml
Due: none

chore: use self-hosted runners (ak-ci-runners) for CI (#277)
  .github/workflows/docker-publish.yml
Due: none

feat: add /api/version endpoint with SCM-derived version
  .github/workflows/docker-publish.yml
  Dockerfile
  e2e/suites/visual/components/components.spec.ts-snapshots/create-user-dialog-visual-darwin.png
  e2e/suites/visual/components/components.spec.ts-snapshots/users-table-visual-darwin.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/login-desktop-admin-visual-darwin.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/login-mobile-admin-visual-darwin.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/packages-desktop-admin-visual-darwin.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/packages-mobile-admin-visual-darwin.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/search-desktop-admin-visual-darwin.png
  e2e/suites/visual/states/states.spec.ts-snapshots/empty-packages-visual-darwin.png
  e2e/suites/visual/states/states.spec.ts-snapshots/error-403-visual-darwin.png
  e2e/suites/visual/states/states.spec.ts-snapshots/error-500-visual-darwin.png
  e2e/suites/visual/states/states.spec.ts-snapshots/error-dashboard-visual-darwin.png
  e2e/suites/visual/states/states.spec.ts-snapshots/loading-repositories-visual-darwin.png
  package.json
  src/app/api/version/route.ts
Due: Require E2E for page changes, Label E2E test changes

feat: add /api/version endpoint with SCM-derived version (#278)
  .github/workflows/docker-publish.yml
  Dockerfile
  e2e/suites/visual/components/components.spec.ts-snapshots/create-user-dialog-visual-darwin.png
  e2e/suites/visual/components/components.spec.ts-snapshots/users-table-visual-darwin.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/login-desktop-admin-visual-darwin.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/login-mobile-admin-visual-darwin.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/packages-desktop-admin-visual-darwin.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/packages-mobile-admin-visual-darwin.png
  e2e/suites/visual/pages/core-pages.spec.ts-snapshots/search-desktop-admin-visual-darwin.png
  e2e/suites/visual/states/states.spec.ts-snapshots/empty-packages-visual-darwin.png
  e2e/suites/visual/states/states.spec.ts-snapshots/error-403-visual-darwin.png
  e2e/suites/visual/states/states.spec.ts-snapshots/error-500-visual-darwin.png
  e2e/suites/visual/states/states.spec.ts-snapshots/error-dashboard-visual-darwin.png
  e2e/suites/visual/states/states.spec.ts-snapshots/loading-repositories-visual-darwin.png
  package.json
  src/app/api/version/route.ts
Due: Require E2E for page changes, Label E2E test changes

feat: display password policy requirements on password fields (#252)
  src/app/(app)/(admin)/settings/page.tsx
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/app/(app)/(protected)/profile/page.tsx
  src/app/(auth)/change-password/page.tsx
  src/components/common/__tests__/password-policy-hint.test.tsx
  src/components/common/password-policy-hint.tsx
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes, Label UI component changes

feat: add /api/health endpoint for container health checks
  src/app/api/health/route.ts
Due: Require E2E for page changes

fix: remove /simple/ suffix from PyPI setup page URLs
  src/app/(app)/setup/page.tsx
Due: Require E2E for page changes

feat: add password expiry warning banner and force-change flow (#259)
  src/app/(app)/layout.tsx
  src/components/auth/__tests__/require-auth.test.tsx
  src/components/auth/require-auth.tsx
  src/components/layout/__tests__/password-expiry-banner.test.tsx
  src/components/layout/password-expiry-banner.tsx
  src/providers/auth-provider.tsx
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

fix: handle empty response bodies in apiFetch to prevent stale cache (#256)
  src/lib/api/__tests__/fetch.test.ts
  src/lib/api/fetch.ts
Due: none

feat: display password policy requirements on password fields (#252) (#281)
  src/app/(app)/(admin)/settings/page.tsx
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/app/(app)/(protected)/profile/page.tsx
  src/app/(auth)/change-password/page.tsx
  src/components/common/__tests__/password-policy-hint.test.tsx
  src/components/common/password-policy-hint.tsx
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes, Label UI component changes

feat: add /api/health endpoint for container health checks (#282)
  src/app/api/health/route.ts
Due: Require E2E for page changes

ci: replace SonarCloud with native coverage (80%) and duplication (3%) gates
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

ci: replace SonarCloud with native coverage (80%) and duplication (3%) gates (#289)
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

fix: resolve mustChangePassword sticky state, dead "expires today" branch, and NaN guard
  src/components/layout/__tests__/password-expiry-banner.test.tsx
  src/components/layout/password-expiry-banner.tsx
  src/providers/auth-provider.tsx
Due: Label UI component changes

fix: treat whitespace-only response bodies as empty in apiFetch
  src/lib/api/__tests__/fetch.test.ts
  src/lib/api/fetch.ts
Due: none

test: add unit tests for security dashboard repo name display
  src/app/(app)/(admin)/security/__tests__/page.test.tsx
Due: Require E2E for page changes

fix: show repository name in security dashboard scores table
  src/app/(app)/(admin)/security/page.tsx
Due: Require E2E for page changes

test: expand security dashboard test coverage to meet 80% gate
  src/app/(app)/(admin)/security/__tests__/page.test.tsx
Due: Require E2E for page changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
