Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

fix(i18n): translate repository-type choices in the create-repo dialog
  CHANGELOG.md
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/i18n/locales/en/(app)/repositories/_components/repo-dialogs.json
  src/i18n/locales/zh/(app)/repositories/_components/repo-dialogs.json
Due: Require E2E for page changes

test: fix the 7 unit tests that broke the CI Unit Tests gate
  src/__tests__/dockerfile.test.ts
  src/lib/__tests__/cache-time.test.ts
  src/lib/cache-time.ts
  vitest.next-intl.setup.ts
Due: none

test(e2e): adapt interaction specs to i18n'd copy and type labels
  e2e/suites/interactions/admin/service-accounts.spec.ts
  e2e/suites/interactions/admin/sso-claim-mapping.spec.ts
  e2e/suites/interactions/repositories/repo-create-staging.spec.ts
  e2e/suites/interactions/repositories/repo-dialog-a11y.spec.ts
Due: Label E2E test changes

test(e2e): locate interactive/verification targets by stable id/data attrs
  e2e/suites/interactions/admin/service-accounts.spec.ts
  e2e/suites/interactions/repositories/repo-create-staging.spec.ts
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
Due: Require E2E for page changes, Label E2E test changes

test(e2e): stable data-testids on shared confirm-dialog + repo Upload tab
  e2e/suites/interactions/repositories/repo-detail.spec.ts
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/confirm-dialog.tsx
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

feat(theme): restore light as the default, keep brand as an optional theme
  CHANGELOG.md
  src/providers/theme-provider.tsx
Due: none

feat(theme): three-state theme toggle + brand stays the default
  CHANGELOG.md
  src/components/layout/app-header.tsx
  src/providers/theme-provider.tsx
Due: Label UI component changes

feat(docker): make web image arbitrary-UID compatible for OpenShift
  Dockerfile
  src/__tests__/dockerfile.test.ts
Due: none

fix(repositories): distinguish untracked proxy downloads from a measured zero
  CHANGELOG.md
  src/app/(app)/repositories/_components/__tests__/repo-detail-downloads.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/lib/__tests__/proxy-downloads.test.ts
  src/lib/api/format-handlers.ts
  src/lib/proxy-downloads.ts
Due: Require E2E for page changes

fix(repositories): distinguish untracked proxy downloads from a measured zero (#809)
  CHANGELOG.md
  src/app/(app)/repositories/_components/__tests__/repo-detail-downloads.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/lib/__tests__/proxy-downloads.test.ts
  src/lib/api/format-handlers.ts
  src/lib/proxy-downloads.ts
Due: Require E2E for page changes

fix: stub monitoring API responses in visual test to remove boot-time race
  e2e/suites/visual/pages/admin-pages.spec.ts
Due: Label E2E test changes

feat(setup): add vscode gateway onboarding for VSCodium, code-server, and VS Code
  CHANGELOG.md
  src/app/(app)/repositories/_lib/default-upstream-urls.test.ts
  src/app/(app)/repositories/_lib/default-upstream-urls.ts
  src/app/(app)/setup/page.test.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
Due: Require E2E for page changes, Label UI component changes

feat(auth): silent SSO auto-login (check-sso) with fail-open iframe probe
  CHANGELOG.md
  src/__tests__/middleware.test.ts
  src/app/(auth)/__tests__/callback-silent-sso.test.tsx
  src/app/(auth)/callback/page.tsx
  src/components/auth/__tests__/silent-sso-bootstrap.test.tsx
  src/components/auth/silent-sso-bootstrap.tsx
  src/lib/__tests__/security-headers.test.ts
  src/lib/__tests__/silent-sso.test.ts
  src/lib/api/__tests__/system-config.test.ts
  src/lib/api/system-config.ts
  src/lib/security-headers.ts
  src/lib/silent-sso.ts
  src/middleware.ts
  src/providers/auth-provider.tsx
  src/providers/index.tsx
Due: Require E2E for page changes, Label UI component changes

fix(csp): allow the silent-SSO probe iframe to traverse the IdP redirect
  src/lib/__tests__/security-headers.test.ts
  src/lib/security-headers.ts
Due: none

refactor(auth): silent SSO via preflight-gated top-level redirect, not an iframe
  CHANGELOG.md
  src/__tests__/middleware.test.ts
  src/app/(auth)/__tests__/callback-silent-sso.test.tsx
  src/app/(auth)/callback/page.tsx
  src/components/auth/__tests__/silent-sso-bootstrap.test.tsx
  src/components/auth/silent-sso-bootstrap.tsx
  src/lib/__tests__/security-headers.test.ts
  src/lib/__tests__/silent-sso.test.ts
  src/lib/security-headers.ts
  src/lib/silent-sso.ts
  src/middleware.ts
Due: Require E2E for page changes, Label UI component changes

ci(docker-publish): fail the publish when build provenance cannot be attached
  .github/workflows/docker-publish.yml
  CHANGELOG.md
Due: none

fix(permissions): stop offering service accounts as User principals (#823)
  CHANGELOG.md
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
Due: Require E2E for page changes

fix(users): list people only, not service accounts (#825)
  CHANGELOG.md
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/lib/api/__tests__/admin.test.ts
  src/lib/api/admin.ts
Due: Require E2E for page changes

feat(repositories): JupyterLab Extensions format in the dropdown with Extension Manager set-me-up
  CHANGELOG.md
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/repositories/_lib/constants.ts
  src/app/(app)/setup/page.test.tsx
  src/app/(app)/setup/page.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
  src/lib/__tests__/package-utils.test.ts
  src/lib/__tests__/repo-tabs.test.ts
  src/lib/api/repositories.ts
  src/lib/package-utils.ts
  src/lib/proxy-downloads.ts
  src/lib/repo-tabs.ts
  src/middleware.ts
  src/types/index.ts
  src/types/packages.ts
Due: Require E2E for page changes, Label UI component changes

chore(deps): clear high/critical npm audit advisories
  CHANGELOG.md
  package-lock.json
  package.json
  src/app/(app)/(admin)/audit/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/blast-radius/__tests__/page.test.tsx
Due: Require E2E for page changes

fix(setup): gate the JupyterLab Extension Manager step on repo type, add auth guidance and REPO_FORMATS test (#833)
  CHANGELOG.md
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/setup/page.test.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
  src/lib/api/__tests__/repositories.test.ts
Due: Require E2E for page changes, Label UI component changes

test(e2e): refresh the admin monitoring desktop visual baseline
  e2e/setup/seed-data.ts
  e2e/suites/visual/pages/admin-pages.spec.ts-snapshots/monitoring-desktop-admin-visual-linux.png
Due: Label E2E test changes

chore(deps): clear high/critical npm audit advisories (#837)
  CHANGELOG.md
  package-lock.json
  package.json
  src/app/(app)/(admin)/audit/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/blast-radius/__tests__/page.test.tsx
Due: Require E2E for page changes

test(e2e): refresh the admin monitoring desktop visual baseline (#838)
  e2e/setup/seed-data.ts
  e2e/suites/visual/pages/admin-pages.spec.ts-snapshots/monitoring-desktop-admin-visual-linux.png
Due: Label E2E test changes

feat(auth): silent SSO auto-login (check-sso) with fail-open iframe probe (#813)
  CHANGELOG.md
  src/app/(auth)/__tests__/callback-silent-sso.test.tsx
  src/app/(auth)/callback/page.tsx
  src/components/auth/__tests__/silent-sso-bootstrap.test.tsx
  src/components/auth/silent-sso-bootstrap.tsx
  src/lib/__tests__/silent-sso.test.ts
  src/lib/api/__tests__/system-config.test.ts
  src/lib/api/system-config.ts
  src/lib/silent-sso.ts
  src/providers/auth-provider.tsx
  src/providers/index.tsx
Due: Require E2E for page changes, Label UI component changes

feat(repositories): JupyterLab Extensions format in the dropdown with Extension Manager set-me-up (#834)
  CHANGELOG.md
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/repositories/_lib/constants.ts
  src/app/(app)/setup/page.test.tsx
  src/app/(app)/setup/page.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
  src/lib/__tests__/package-utils.test.ts
  src/lib/__tests__/repo-tabs.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/package-utils.ts
  src/lib/proxy-downloads.ts
  src/lib/repo-tabs.ts
  src/middleware.ts
  src/types/index.ts
  src/types/packages.ts
Due: Require E2E for page changes, Label UI component changes

feat(repositories): three-state visibility control
  CHANGELOG.md
  e2e/setup/seed-data.ts
  e2e/suites/roles/internal-repo-visibility-authenticated.spec.ts
  e2e/suites/roles/internal-repo-visibility.spec.ts
  playwright.config.ts
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_components/repo-dialogs.tsx
  src/app/(app)/repositories/_components/repo-list-item.test.tsx
  src/app/(app)/repositories/_components/repo-list-item.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/app/(app)/repositories/_components/visibility-select.test.tsx
  src/app/(app)/repositories/_components/visibility-select.tsx
  src/types/index.ts
Due: Require E2E for page changes, Label E2E test changes

chore(repositories): drop the now-unused Switch import
  src/app/(app)/repositories/_components/repo-dialogs.tsx
Due: Require E2E for page changes

fix(repositories): carry visibility across the API client
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Label E2E test changes

docs(changelog): reference the tracking issue (#839)
  CHANGELOG.md
Due: none

fix(e2e): keep is_public in the seed alongside visibility
  e2e/setup/seed-data.ts
Due: Label E2E test changes

docs: track the backend migration renumber (212 -> 217)
  CHANGELOG.md
  e2e/suites/interactions/repositories/repo-edit.spec.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
Due: Label E2E test changes

chore(release): web 1.9.0 prep — CHANGELOG + version bump
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): web 1.9.0 prep — CHANGELOG + version bump (#843)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

test(e2e): drop the monitoring visual stub now that #838 fixes it upstream
  e2e/suites/visual/pages/admin-pages.spec.ts
Due: Label E2E test changes

feat(repositories): add GitHub, mise and aqua setup guides
  CHANGELOG.md
  src/app/(app)/repositories/_lib/constants.test.ts
  src/app/(app)/repositories/_lib/constants.ts
  src/app/(app)/repositories/_lib/default-upstream-urls.test.ts
  src/app/(app)/repositories/_lib/default-upstream-urls.ts
  src/app/(app)/setup/page.tsx
  src/components/setup/repo-setup-guide.test.tsx
  src/components/setup/repo-setup-guide.tsx
  src/lib/__tests__/repo-tabs.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/repositories.ts
  src/lib/package-utils.ts
  src/types/index.ts
  src/types/packages.ts
Due: Require E2E for page changes, Label UI component changes

feat(lifecycle): add explicit reusable cleanup policy assignments
  CHANGELOG.md
  README.md
  e2e/suites/interactions/operations/lifecycle.spec.ts
  src/app/(app)/(admin)/lifecycle/page.test.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/repositories/_components/cleanup-policy-settings.test.tsx
  src/app/(app)/repositories/_components/cleanup-policy-settings.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/components/common/lifecycle-capability-notice.tsx
  src/hooks/use-lifecycle-capabilities.ts
  src/lib/api/__tests__/lifecycle.test.ts
  src/lib/api/lifecycle.ts
  src/types/lifecycle.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

test(lifecycle): cover assignment conflicts and detach retries
  src/app/(app)/repositories/_components/cleanup-policy-settings.test.tsx
  src/lib/api/__tests__/lifecycle.test.ts
Due: Require E2E for page changes

feat(repositories): Build tab and Image inspector for container repositories
  src/app/(app)/repositories/_components/__tests__/image-inspect-panel.test.tsx
  src/app/(app)/repositories/_components/image-build-tab.tsx
  src/app/(app)/repositories/_components/image-build-wizard.tsx
  src/app/(app)/repositories/_components/image-inspect-panel.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/api/__tests__/image-builds.test.ts
  src/lib/api/image-builds.ts
  src/types/image-builds.ts
Due: Require E2E for page changes

fix(repositories): let the image build dialogs take their intended width
  src/app/(app)/repositories/_components/image-build-tab.tsx
  src/app/(app)/repositories/_components/image-build-wizard.tsx
Due: Require E2E for page changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
