Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "-title~=major"
      - check-success=lint
      - check-success=build
      - check-success=e2e
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update

  - name: Require E2E for page changes
    conditions:
      - "files~=^src/app/"
      - -draft
    actions:
      label:
        add:
          - needs-e2e
      comment:
        message: |
          This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.

  - name: Label UI component changes
    conditions:
      - "files~=^src/components/"
    actions:
      label:
        add:
          - ui

  - name: Label E2E test changes
    conditions:
      - "files~=^e2e/"
    actions:
      label:
        add:
          - e2e

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

feat(e2e): add admin RBAC role spec
  e2e/suites/roles/admin.spec.ts
Due: Label E2E test changes

feat(e2e): add unauthenticated RBAC role spec
  e2e/suites/roles/unauthenticated.spec.ts
Due: Label E2E test changes

feat(e2e): add developer RBAC role spec
  e2e/suites/roles/regular-user.spec.ts
Due: Label E2E test changes

feat(e2e): add viewer, security-auditor, and restricted RBAC role specs
  e2e/suites/roles/restricted.spec.ts
  e2e/suites/roles/security-auditor.spec.ts
  e2e/suites/roles/viewer.spec.ts
Due: Label E2E test changes

feat(e2e): add page-level visual regression specs (core + admin)
  e2e/suites/visual/pages/admin-pages.spec.ts
  e2e/suites/visual/pages/core-pages.spec.ts
Due: Label E2E test changes

feat(e2e): add component-level visual regression specs
  e2e/suites/visual/components/components.spec.ts
Due: Label E2E test changes

feat(e2e): add state visual regression specs (loading, empty, error)
  e2e/suites/visual/states/states.spec.ts
Due: Label E2E test changes

feat(e2e): add docs-export manifest generator script
  e2e/scripts/generate-docs-manifest.ts
  package.json
Due: Label E2E test changes

feat(ci): update E2E pipeline with parallel suites, sharding, and docs export
  .github/workflows/ci.yml
Due: none

feat(e2e): add remaining 29 page objects for full route coverage
  e2e/fixtures/page-objects/AccessTokensPage.ts
  e2e/fixtures/page-objects/AnalyticsPage.ts
  e2e/fixtures/page-objects/ApprovalsPage.ts
  e2e/fixtures/page-objects/BackupsPage.ts
  e2e/fixtures/page-objects/BuildsPage.ts
  e2e/fixtures/page-objects/DependencyTrackPage.ts
  e2e/fixtures/page-objects/LicensePoliciesPage.ts
  e2e/fixtures/page-objects/LifecyclePage.ts
  e2e/fixtures/page-objects/MigrationPage.ts
  e2e/fixtures/page-objects/MonitoringPage.ts
  e2e/fixtures/page-objects/PackageDetailPage.ts
  e2e/fixtures/page-objects/PeersPage.ts
  e2e/fixtures/page-objects/PermissionsPage.ts
  e2e/fixtures/page-objects/PluginsPage.ts
  e2e/fixtures/page-objects/ProfilePage.ts
  e2e/fixtures/page-objects/QualityGatesPage.ts
  e2e/fixtures/page-objects/ReplicationPage.ts
  e2e/fixtures/page-objects/RepositoryDetailPage.ts
  e2e/fixtures/page-objects/SSOPage.ts
  e2e/fixtures/page-objects/SearchPage.ts
  e2e/fixtures/page-objects/SecurityDashboardPage.ts
  e2e/fixtures/page-objects/SecurityPoliciesPage.ts
  e2e/fixtures/page-objects/SecurityScansPage.ts
  e2e/fixtures/page-objects/ServiceAccountsPage.ts
  e2e/fixtures/page-objects/SettingsPage.ts
  e2e/fixtures/page-objects/StagingPage.ts
  e2e/fixtures/page-objects/SystemHealthPage.ts
  e2e/fixtures/page-objects/TelemetryPage.ts
  e2e/fixtures/page-objects/WebhooksPage.ts
  e2e/fixtures/page-objects/index.ts
Due: Label E2E test changes

feat(e2e): add missing interaction specs for security sub-routes, change-password, and error pages
  e2e/suites/interactions/auth/change-password.spec.ts
  e2e/suites/interactions/auth/error-pages.spec.ts
  e2e/suites/interactions/security/dependency-track.spec.ts
  e2e/suites/interactions/security/security-policies.spec.ts
  e2e/suites/interactions/security/security-scans.spec.ts
Due: Label E2E test changes

fix(e2e): restore API login pre-flight and correct user API paths
  e2e/setup/global-setup.ts
  e2e/setup/seed-data.ts
Due: Label E2E test changes

fix(e2e): correct locators and role test assertions
  e2e/suites/interactions/admin/service-accounts.spec.ts
  e2e/suites/interactions/auth/logout.spec.ts
  e2e/suites/roles/admin.spec.ts
  e2e/suites/roles/restricted.spec.ts
  e2e/suites/roles/security-auditor.spec.ts
  e2e/suites/roles/viewer.spec.ts
  e2e/suites/visual/components/components.spec.ts
Due: Label E2E test changes

fix(e2e): align tests with actual route auth behavior
  e2e/suites/interactions/admin/service-accounts.spec.ts
  e2e/suites/interactions/auth/logout.spec.ts
  e2e/suites/roles/unauthenticated.spec.ts
Due: Label E2E test changes

fix(e2e): fix remaining test failures across all jobs
  .github/workflows/ci.yml
  e2e/fixtures/test-fixtures.ts
  e2e/suites/interactions/dashboard/api-comprehensive.spec.ts
  e2e/suites/interactions/security/dependency-track.spec.ts
  e2e/suites/interactions/security/health-dashboard.spec.ts
Due: Label E2E test changes

fix(e2e): fix visual stylePath resolution and token button viewport issue
  e2e/fixtures/test-fixtures.ts
  e2e/suites/visual/pages/admin-pages.spec.ts
  e2e/suites/visual/pages/core-pages.spec.ts
Due: Label E2E test changes

fix(e2e): use JS click fallback for dialog submit button outside viewport
  e2e/fixtures/test-fixtures.ts
Due: Label E2E test changes

fix(e2e): use Escape key to close dialogs instead of clicking Cancel
  e2e/suites/interactions/admin/service-accounts.spec.ts
Due: Label E2E test changes

fix(e2e): fix remaining service-accounts dialog locator issues
  e2e/suites/interactions/admin/service-accounts.spec.ts
Due: Label E2E test changes

fix(e2e): use alertdialog role for delete confirmation dialog
  e2e/suites/interactions/admin/service-accounts.spec.ts
Due: Label E2E test changes

Add design doc for live data refresh (cache tuning + SSE)
  docs/plans/2026-02-21-live-data-refresh-design.md
Due: none

feat: tune query defaults for live data (30s stale, refetch on focus)
  src/providers/query-provider.tsx
Due: none

Add implementation plan for live data refresh
  docs/plans/2026-02-21-live-data-refresh.md
Due: none

feat: broaden repo mutation invalidation to all repo query keys
  src/app/(app)/repositories/page.tsx
Due: Require E2E for page changes

feat: user mutations also invalidate admin-groups queries
  src/app/(app)/(admin)/users/page.tsx
Due: Require E2E for page changes

feat: group mutations also invalidate admin-permissions queries
  src/app/(app)/(admin)/groups/page.tsx
Due: Require E2E for page changes

chore: remove design/plan docs from branch
  docs/plans/2026-02-21-live-data-refresh-design.md
  docs/plans/2026-02-21-live-data-refresh.md
Due: none

feat: add SSE event stream consumer with central query key registry
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/app/(app)/layout.tsx
  src/app/(app)/repositories/page.tsx
  src/components/layout/event-stream-provider.tsx
  src/hooks/use-event-stream.ts
  src/lib/__tests__/query-keys.test.ts
  src/lib/query-keys.ts
  src/providers/query-provider.tsx
Due: Require E2E for page changes, Label UI component changes

test: add SSE hook tests, reduce duplication in query-keys tests
  src/hooks/__tests__/use-event-stream.test.ts
  src/lib/__tests__/query-keys.test.ts
Due: none

fix: make SSE hook resilient to missing endpoint, filter E2E errors
  e2e/suites/interactions/admin/permissions.spec.ts
  e2e/suites/interactions/admin/users.spec.ts
  src/hooks/__tests__/use-event-stream.test.ts
  src/hooks/use-event-stream.ts
Due: Label E2E test changes

fix(e2e): standardize console error filtering across all interaction tests
  e2e/suites/interactions/admin/backups.spec.ts
  e2e/suites/interactions/admin/migration.spec.ts
  e2e/suites/interactions/operations/analytics.spec.ts
  e2e/suites/interactions/operations/lifecycle.spec.ts
  e2e/suites/interactions/operations/monitoring.spec.ts
  e2e/suites/interactions/operations/telemetry.spec.ts
  e2e/suites/interactions/packages/packages.spec.ts
  e2e/suites/interactions/security/license-policies.spec.ts
  e2e/suites/interactions/staging/staging-list.spec.ts
  e2e/suites/interactions/staging/staging-rejection.spec.ts
Due: Label E2E test changes

fix(e2e): fix remaining console error filters in dashboard and integrations tests
  e2e/suites/interactions/dashboard/api-integration.spec.ts
  e2e/suites/interactions/dashboard/builds.spec.ts
  e2e/suites/interactions/dashboard/search.spec.ts
  e2e/suites/interactions/dashboard/setup.spec.ts
  e2e/suites/interactions/integrations/peers.spec.ts
  e2e/suites/interactions/integrations/plugins.spec.ts
  e2e/suites/interactions/integrations/replication.spec.ts
  e2e/suites/interactions/integrations/webhooks.spec.ts
Due: Label E2E test changes

feat: add SSE streaming proxy and two-window live update E2E test
  e2e/suites/interactions/dashboard/live-updates.spec.ts
  src/app/api/v1/events/stream/route.ts
  src/middleware.ts
Due: Require E2E for page changes, Label E2E test changes

fix: exclude test files from SonarCloud coverage analysis
  sonar-project.properties
Due: none

test: add unit tests for SSE proxy, middleware, and providers
  src/__tests__/middleware.test.ts
  src/app/api/v1/events/stream/__tests__/route.test.ts
  src/components/layout/__tests__/event-stream-provider.test.ts
  src/providers/__tests__/query-provider.test.tsx
Due: Require E2E for page changes, Label UI component changes

fix: ignore worktrees, playwright-report, and coverage in eslint config
  eslint.config.mjs
  src/providers/__tests__/query-provider.test.tsx
Due: none

Live data refresh: cache tuning, cross-page invalidation, and SSE event stream (#77)
  e2e/suites/interactions/admin/backups.spec.ts
  e2e/suites/interactions/admin/migration.spec.ts
  e2e/suites/interactions/admin/permissions.spec.ts
  e2e/suites/interactions/admin/users.spec.ts
  e2e/suites/interactions/dashboard/api-integration.spec.ts
  e2e/suites/interactions/dashboard/builds.spec.ts
  e2e/suites/interactions/dashboard/live-updates.spec.ts
  e2e/suites/interactions/dashboard/search.spec.ts
  e2e/suites/interactions/dashboard/setup.spec.ts
  e2e/suites/interactions/integrations/peers.spec.ts
  e2e/suites/interactions/integrations/plugins.spec.ts
  e2e/suites/interactions/integrations/replication.spec.ts
  e2e/suites/interactions/integrations/webhooks.spec.ts
  e2e/suites/interactions/operations/analytics.spec.ts
  e2e/suites/interactions/operations/lifecycle.spec.ts
  e2e/suites/interactions/operations/monitoring.spec.ts
  e2e/suites/interactions/operations/telemetry.spec.ts
  e2e/suites/interactions/packages/packages.spec.ts
  e2e/suites/interactions/security/license-policies.spec.ts
  e2e/suites/interactions/staging/staging-list.spec.ts
  e2e/suites/interactions/staging/staging-rejection.spec.ts
  eslint.config.mjs
  sonar-project.properties
  src/__tests__/middleware.test.ts
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/app/(app)/layout.tsx
  src/app/(app)/repositories/page.tsx
  src/app/api/v1/events/stream/__tests__/route.test.ts
  src/app/api/v1/events/stream/route.ts
  src/components/layout/__tests__/event-stream-provider.test.ts
  src/components/layout/event-stream-provider.tsx
  src/hooks/__tests__/use-event-stream.test.ts
  src/hooks/use-event-stream.ts
  src/lib/__tests__/query-keys.test.ts
  src/lib/query-keys.ts
  src/middleware.ts
  src/providers/__tests__/query-provider.test.tsx
  src/providers/query-provider.tsx
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

chore: scaffold tutorial recording directory structure
  .gitignore
  e2e/tutorials/fixtures/.gitkeep
  e2e/tutorials/scripts/.gitkeep
Due: Label E2E test changes

feat: add Playwright config for tutorial recordings
  package.json
  playwright-tutorials.config.ts
Due: none
