Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "-title~=major"
      - check-success=lint
      - check-success=build
      - check-success=e2e
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update

  - name: Require E2E for page changes
    conditions:
      - "files~=^src/app/"
      - -draft
    actions:
      label:
        add:
          - needs-e2e
      comment:
        message: |
          This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.

  - name: Label UI component changes
    conditions:
      - "files~=^src/components/"
    actions:
      label:
        add:
          - ui

  - name: Label E2E test changes
    conditions:
      - "files~=^e2e/"
    actions:
      label:
        add:
          - e2e

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

refactor: extract shared scan status helpers and use positive check
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/lib/__tests__/scan-utils.test.ts
  src/lib/scan-utils.ts
Due: Require E2E for page changes

fix: show correct scan status when scan fails to execute (#266)
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
Due: Require E2E for page changes

test: add unit tests for VulnIdLink component
  src/components/common/__tests__/vuln-id-link.test.tsx
Due: Label UI component changes

fix: prefer CVE identifiers over GHSA and link to correct advisory URLs
  src/app/(app)/(admin)/security/dt-projects/[uuid]/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/repositories/_components/sbom-tab-content.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/components/common/vuln-id-link.tsx
  src/lib/__tests__/vuln-utils.test.ts
  src/lib/vuln-utils.ts
Due: Require E2E for page changes, Label UI component changes

fix: handle empty response bodies in apiFetch to prevent stale cache (#287)
  src/lib/api/__tests__/fetch.test.ts
  src/lib/api/fetch.ts
Due: none

test: add VulnIdLink edge case tests for branch coverage
  src/components/common/__tests__/vuln-id-link.test.tsx
Due: Label UI component changes

fix: remove unused INCOMPLETE_STATUSES constant
  src/lib/scan-utils.ts
Due: none

test: add auth-provider and password-expiry-banner tests
  src/components/layout/__tests__/password-expiry-banner.test.tsx
  src/providers/__tests__/auth-provider.test.tsx
Due: Label UI component changes

test: add unit tests for FileUpload error display
  src/components/common/__tests__/file-upload.test.tsx
Due: Label UI component changes

test: add upload method and file-upload component tests for coverage gate
  src/components/common/__tests__/file-upload.test.tsx
  src/lib/api/__tests__/artifacts.test.ts
Due: Label UI component changes

fix: increase proxy body size limit to allow large artifact uploads
  next.config.ts
  src/components/common/file-upload.tsx
  src/lib/api/artifacts.ts
Due: Label UI component changes

fix: show repository name in security dashboard scores table (#279)
  src/app/(app)/(admin)/security/__tests__/page.test.tsx
  src/app/(app)/(admin)/security/page.tsx
Due: Require E2E for page changes

fix: resolve lint errors
  src/providers/__tests__/auth-provider.test.tsx
Due: none

fix: show correct scan status when scan fails to execute (#288)
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/lib/__tests__/scan-utils.test.ts
  src/lib/scan-utils.ts
Due: Require E2E for page changes

fix: tighten isAccountLocked pattern to require "account" prefix
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: none

Show account lockout status on login failure
  src/app/(auth)/login/page.tsx
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes

test: add login page component tests for lockout UI
  src/app/(auth)/__tests__/login-lockout.test.tsx
Due: Require E2E for page changes

fix: resolve lint errors
  src/app/(auth)/__tests__/login-lockout.test.tsx
Due: Require E2E for page changes

test: increase new code coverage to pass 80% gate
  src/app/(auth)/__tests__/login-lockout.test.tsx
Due: Require E2E for page changes

Fix CVE findings showing GHSA instead of CVE identifier (#280)
  src/app/(app)/(admin)/security/dt-projects/[uuid]/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/repositories/_components/sbom-tab-content.tsx
  src/app/(app)/repositories/_components/security-tab-content.tsx
  src/components/common/__tests__/vuln-id-link.test.tsx
  src/components/common/vuln-id-link.tsx
  src/lib/__tests__/vuln-utils.test.ts
  src/lib/vuln-utils.ts
Due: Require E2E for page changes, Label UI component changes

fix: increase proxy body size limit for large artifact uploads (#285)
  next.config.ts
  src/components/common/__tests__/file-upload.test.tsx
  src/components/common/file-upload.tsx
  src/lib/api/__tests__/artifacts.test.ts
  src/lib/api/artifacts.ts
Due: Label UI component changes

feat: add password expiry warning banner and force-change flow (#286)
  src/app/(app)/layout.tsx
  src/components/auth/__tests__/require-auth.test.tsx
  src/components/auth/require-auth.tsx
  src/components/layout/__tests__/password-expiry-banner.test.tsx
  src/components/layout/password-expiry-banner.tsx
  src/providers/__tests__/auth-provider.test.tsx
  src/providers/auth-provider.tsx
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

feat: add global-error and root error boundary pages
  src/app/__tests__/error.test.tsx
  src/app/__tests__/global-error.test.tsx
  src/app/error.tsx
  src/app/global-error.tsx
Due: Require E2E for page changes

feat: show auth source badge on admin users list and edit dialog (#273)
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/components/common/__tests__/auth-source-badge.test.tsx
  src/components/common/auth-source-badge.tsx
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

feat: show artifact quarantine status in list and detail views
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/components/common/__tests__/quarantine-badge.test.tsx
  src/components/common/__tests__/quarantine-banner.test.tsx
  src/components/common/quarantine-badge.tsx
  src/components/common/quarantine-banner.tsx
  src/lib/__tests__/quarantine.test.ts
  src/lib/api/search.ts
  src/lib/quarantine.ts
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

feat: add notification configuration tab to repository settings (#267)
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

feat: add SMTP configuration to admin settings (#262)
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes

Show account lockout status on login failure (#284)
  src/app/(auth)/__tests__/login-lockout.test.tsx
  src/app/(auth)/login/page.tsx
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes

feat: add global-error and root error boundary pages (#290)
  src/app/__tests__/error.test.tsx
  src/app/__tests__/global-error.test.tsx
  src/app/error.tsx
  src/app/global-error.tsx
Due: Require E2E for page changes

feat: show auth source badge on admin users list and edit dialog (#273) (#291)
  src/app/(app)/(admin)/users/__tests__/page.test.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/components/common/__tests__/auth-source-badge.test.tsx
  src/components/common/auth-source-badge.tsx
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

feat: show artifact quarantine status in list and detail views (#292)
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/search/_components/search-content.tsx
  src/components/common/__tests__/quarantine-badge.test.tsx
  src/components/common/__tests__/quarantine-banner.test.tsx
  src/components/common/quarantine-badge.tsx
  src/components/common/quarantine-banner.tsx
  src/lib/__tests__/quarantine.test.ts
  src/lib/api/search.ts
  src/lib/quarantine.ts
  src/types/index.ts
Due: Require E2E for page changes, Label UI component changes

fix: add delete confirmation, per-webhook pending state, and URL validation
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.tsx
Due: Require E2E for page changes

fix: do not populate SMTP password from server response
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
Due: Require E2E for page changes

feat: add notification configuration tab to repository settings (#293)
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

Add SMTP configuration to admin settings (#299)
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes

chore: bump @artifact-keeper/sdk to v1.1.4
  package-lock.json
  package.json
  scripts/patch-sdk.js
Due: none

feat: add Settings tab to repository detail view for inline editing
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
Due: Require E2E for page changes

chore: bump @artifact-keeper/sdk to v1.1.4 (#297)
  package-lock.json
  package.json
  scripts/patch-sdk.js
Due: none

feat: add Settings tab to repository detail view for inline editing (#298)
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.test.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
Due: Require E2E for page changes

feat: add repository-scoped access token management (#250)
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/lib/api/__tests__/profile.test.ts
  src/lib/api/index.ts
  src/lib/api/profile.ts
Due: Require E2E for page changes
