Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

feat: add TutorialHelper class for tutorial recordings
  e2e/tutorials/fixtures/.gitkeep
  e2e/tutorials/fixtures/tutorial-helper.ts
Due: Label E2E test changes

feat: add tutorial-specific seed data with realistic names
  e2e/tutorials/fixtures/tutorial-seed.ts
Due: Label E2E test changes

feat: add Tutorial 01 - Getting Started
  e2e/tutorials/01-getting-started.tutorial.ts
Due: Label E2E test changes

feat: add Tutorial 02 - Creating Repositories
  e2e/tutorials/02-create-repositories.tutorial.ts
Due: Label E2E test changes

feat: add Tutorial 03 - Proxy Setup
  e2e/tutorials/03-proxy-setup.tutorial.ts
Due: Label E2E test changes

fix: remove unused imports from tutorials 01 and 02
  e2e/tutorials/01-getting-started.tutorial.ts
  e2e/tutorials/02-create-repositories.tutorial.ts
Due: Label E2E test changes

feat: add Tutorial 04 - Virtual Repositories
  e2e/tutorials/04-virtual-repositories.tutorial.ts
Due: Label E2E test changes

feat: add Tutorial 05 - Security and Quality Gates
  e2e/tutorials/05-security-quality-gates.tutorial.ts
Due: Label E2E test changes

feat: add Tutorial 06 - User Management
  e2e/tutorials/06-user-management.tutorial.ts
Due: Label E2E test changes

feat: add combined manifest generator for tutorials
  e2e/tutorials/scripts/.gitkeep
  e2e/tutorials/scripts/generate-manifest.ts
Due: Label E2E test changes

chore: add @aws-sdk/client-polly for tutorial voiceover
  package-lock.json
  package.json
Due: none

feat: add shared types for video pipeline
  e2e/tutorials/scripts/lib/types.ts
Due: Label E2E test changes

feat: add content hash change detection for tutorials
  e2e/tutorials/scripts/lib/content-hash.ts
  e2e/tutorials/scripts/lib/trigger-map.ts
Due: Label E2E test changes

feat: add narration script parser
  e2e/tutorials/scripts/lib/narration-parser.ts
Due: Label E2E test changes

feat: add Amazon Polly TTS integration
  e2e/tutorials/scripts/lib/polly-tts.ts
Due: Label E2E test changes

feat: add title card generator
  e2e/tutorials/scripts/lib/title-card.ts
Due: Label E2E test changes

feat: add ffmpeg video composition pipeline
  e2e/tutorials/scripts/lib/ffmpeg-compose.ts
Due: Label E2E test changes

feat: add YouTube metadata generator
  e2e/tutorials/scripts/lib/youtube-metadata.ts
Due: Label E2E test changes

feat: add tutorial video generation orchestrator
  e2e/tutorials/scripts/generate-videos.ts
Due: Label E2E test changes

feat: add GitHub Actions workflow for tutorial generation
  .github/workflows/generate-tutorials.yml
Due: none

fix: resolve eslint no-explicit-any errors in pipeline modules
  e2e/tutorials/scripts/lib/content-hash.ts
  e2e/tutorials/scripts/lib/polly-tts.ts
Due: Label E2E test changes

Add tutorial video post-processing pipeline (#79)
  .github/workflows/generate-tutorials.yml
  .gitignore
  e2e/tutorials/01-getting-started.tutorial.ts
  e2e/tutorials/02-create-repositories.tutorial.ts
  e2e/tutorials/03-proxy-setup.tutorial.ts
  e2e/tutorials/04-virtual-repositories.tutorial.ts
  e2e/tutorials/05-security-quality-gates.tutorial.ts
  e2e/tutorials/06-user-management.tutorial.ts
  e2e/tutorials/fixtures/tutorial-helper.ts
  e2e/tutorials/fixtures/tutorial-seed.ts
  e2e/tutorials/scripts/generate-manifest.ts
  e2e/tutorials/scripts/generate-videos.ts
  e2e/tutorials/scripts/lib/content-hash.ts
  e2e/tutorials/scripts/lib/ffmpeg-compose.ts
  e2e/tutorials/scripts/lib/narration-parser.ts
  e2e/tutorials/scripts/lib/polly-tts.ts
  e2e/tutorials/scripts/lib/title-card.ts
  e2e/tutorials/scripts/lib/trigger-map.ts
  e2e/tutorials/scripts/lib/types.ts
  e2e/tutorials/scripts/lib/youtube-metadata.ts
  package-lock.json
  package.json
  playwright-tutorials.config.ts
Due: Label E2E test changes

fix: correct API paths and config in E2E seed data
  e2e/setup/seed-data.ts
Due: Label E2E test changes

fix(security): validate URLs in package metadata and add CSP header
  next.config.ts
  src/app/(app)/(protected)/peers/page.tsx
  src/app/(app)/(protected)/plugins/page.tsx
  src/app/(app)/packages/[id]/page.tsx
  src/app/(app)/packages/page.tsx
  src/app/(app)/repositories/_components/package-metadata-viewer.tsx
  src/lib/utils.ts
Due: Require E2E for page changes

fix(security): harden instance URL validation and remove legacy token storage
  src/components/layout/instance-switcher.tsx
  src/lib/api/auth.ts
  src/lib/sdk-client.ts
  src/lib/utils.ts
  src/providers/auth-provider.tsx
  src/providers/instance-provider.tsx
Due: Label UI component changes

fix: add unit tests for URL validation and fix IPv6 loopback check
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
Due: none

fix: add unit tests for isSafeUrl to meet SonarCloud coverage
  src/lib/__tests__/utils.test.ts
Due: none

fix(ci): skip SonarCloud scan when SONAR_TOKEN is unavailable
  .github/workflows/ci.yml
Due: none

fix(ci): skip SonarCloud scan when SONAR_TOKEN is unavailable (#94)
  .github/workflows/ci.yml
Due: none

chore(deps): upgrade GitHub Actions dependencies
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/generate-tutorials.yml
Due: none

chore(deps): upgrade lucide-react to 0.575.0 and tailwindcss to 4.2.0
  package-lock.json
  package.json
Due: none

chore(deps): upgrade react-resizable-panels from 3.x to 4.6.5
  package-lock.json
  package.json
  src/app/(app)/repositories/page.tsx
  src/app/(app)/staging/page.tsx
  src/components/ui/resizable.tsx
Due: Require E2E for page changes, Label UI component changes

test: add unit tests for sdk-client and auth API to boost coverage
  src/lib/__tests__/sdk-client.test.ts
  src/lib/api/__tests__/auth.test.ts
Due: none

test: add request interceptor tests for sdk-client
  src/lib/__tests__/sdk-client.test.ts
Due: none

chore(deps): upgrade lucide-react and tailwindcss
  package-lock.json
  package.json
Due: none

chore(deps): upgrade react-resizable-panels to v4
  package-lock.json
  package.json
  src/app/(app)/repositories/page.tsx
  src/app/(app)/staging/page.tsx
  src/components/ui/resizable.tsx
Due: Require E2E for page changes, Label UI component changes

Security: validate URLs in package metadata and add CSP header (#92)
  e2e/setup/seed-data.ts
  next.config.ts
  src/app/(app)/(protected)/peers/page.tsx
  src/app/(app)/(protected)/plugins/page.tsx
  src/app/(app)/packages/[id]/page.tsx
  src/app/(app)/packages/page.tsx
  src/app/(app)/repositories/_components/package-metadata-viewer.tsx
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
Due: Require E2E for page changes, Label E2E test changes

Security: harden instance URL validation and remove legacy token storage (#93)
  src/components/layout/instance-switcher.tsx
  src/lib/__tests__/sdk-client.test.ts
  src/lib/__tests__/utils.test.ts
  src/lib/api/__tests__/auth.test.ts
  src/lib/api/auth.ts
  src/lib/sdk-client.ts
  src/lib/utils.ts
  src/providers/auth-provider.tsx
  src/providers/instance-provider.tsx
Due: Label UI component changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
