Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

test(e2e): apply round-3 review fixes for Docker /v2/* header tests
  e2e/suites/docker-proxy/header-forwarding.spec.ts
  playwright-docker-proxy.config.ts
Due: Label E2E test changes

docs(postmortem): apply round-1 review fixes
  .mergify.yml
  docs/release-history/v1.1.8-web-postmortem.md
Due: none

docs(postmortem): apply round-3 review fixes
  .mergify.yml
  docs/release-history/v1.1.8-web-postmortem.md
Due: none

fix(middleware): harden SSE early-return against trailing-slash variants (#339)
  src/__tests__/middleware.test.ts
  src/middleware.ts
Due: none

test(e2e): add Docker /v2/* header forwarding suite (#340)
  .github/workflows/ci.yml
  .gitignore
  e2e/fixtures/docker-registry-fixture.ts
  e2e/fixtures/run-docker-registry-fixture.ts
  e2e/suites/docker-proxy/header-forwarding.spec.ts
  eslint.config.mjs
  package.json
  playwright-docker-proxy.config.ts
Due: Label E2E test changes

ci(release): add release/1.1.x branch + :1.1-dev tag rule + v1.1.8 postmortem (#341)
  .github/workflows/docker-publish.yml
  .mergify.yml
  CHANGELOG.md
  docs/release-history/v1.1.8-web-postmortem.md
Due: none

chore: bump react and react-dom from 19.2.4 to 19.2.5
  package-lock.json
  package.json
Due: none

chore: pin react and react-dom to 19.2.5 (drop caret)
  package.json
Due: none

chore: bump typescript from 5.x to 6.0.3
  package-lock.json
  package.json
Due: none

chore: bump typescript from 5.x to 6.0.3 (#344)
  package-lock.json
  package.json
Due: none

chore: bump react and react-dom from 19.2.4 to 19.2.5 (combined) (#343)
  package-lock.json
  package.json
Due: none

chore: bump react-hook-form from 7.72.1 to 7.74.0
  package-lock.json
  package.json
Due: none

chore: also bump to 7.75.0 (latest)
  package-lock.json
  package.json
Due: none

chore: bump react-hook-form from 7.72.1 to 7.74.0 (#345)
  package-lock.json
  package.json
Due: none

chore: refresh fast-xml-parser and @aws-sdk/xml-builder
  package-lock.json
Due: none

chore: refresh fast-xml-parser and @aws-sdk/xml-builder (#346)
  package-lock.json
Due: none

fix(settings): wire Storage tab to runtime config (#335)
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes

ci(codeql): pin actions to commit SHAs (#205)
  .github/workflows/codeql.yml
Due: none

ci(dependency-review): pin actions to commit SHAs (#205)
  .github/workflows/dependency-review.yml
Due: none

ci(docker-publish): pin actions to commit SHAs (#205)
  .github/workflows/docker-publish.yml
Due: none

ci(stale): pin actions/stale to commit SHA (#205)
  .github/workflows/stale.yml
Due: none

docs(changelog): note SHA-pinning hardening (#205)
  CHANGELOG.md
Due: none

docs(changelog): clarify SHA-pinning scope and same-org exception
  CHANGELOG.md
Due: none

fix(admin): surface backend error details in admin mutation failures
  src/app/(app)/(admin)/analytics/page.tsx
  src/app/(app)/(admin)/approvals/page.tsx
  src/app/(app)/(admin)/backups/page.tsx
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/app/(app)/(admin)/monitoring/page.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/app/(app)/(admin)/quality-gates/page.tsx
  src/app/(app)/(admin)/security/dt-projects/[uuid]/page.tsx
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/security/policies/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
  src/app/(app)/(admin)/users/page.tsx
Due: Require E2E for page changes

fix(protected): surface backend error details in user mutation failures
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/app/(app)/(protected)/peers/page.tsx
  src/app/(app)/(protected)/plugins/page.tsx
  src/app/(app)/(protected)/profile/page.tsx
  src/app/(app)/(protected)/replication/page.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/components/common/repo-selector-form.tsx
Due: Require E2E for page changes, Label UI component changes

test(permissions): adjust test for toUserMessage string-error pass-through
  src/app/(app)/(admin)/permissions/page.test.tsx
Due: Require E2E for page changes

ci: pin third-party GitHub Actions to commit SHAs (#353)
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker-publish.yml
  .github/workflows/stale.yml
  CHANGELOG.md
Due: none

test(repo-selector-form): cover newly-added onError handler
  src/components/common/__tests__/repo-selector-form.test.tsx
Due: Label UI component changes

fix(error-utils): read FastAPI .detail field; disambiguate SSO toasts
  CHANGELOG.md
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes

fix(a11y): pair form inputs with labels via htmlFor/id (#208)
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/(admin)/monitoring/page.tsx
  src/app/(app)/(admin)/quality-gates/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/components/package/__tests__/file-viewer.test.tsx
Due: Require E2E for page changes, Label UI component changes

fix(a11y): label Switch components (#208)
  src/app/(app)/(admin)/quality-gates/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
Due: Require E2E for page changes

fix(a11y): replace title with aria-label on icon-only buttons (#208)
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/(admin)/monitoring/page.tsx
  src/app/(app)/(admin)/quality-gates/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
  src/components/package/file-viewer.tsx
Due: Require E2E for page changes, Label UI component changes

fix(a11y): include row entity name in table-action aria-labels
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/(admin)/quality-gates/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
Due: Require E2E for page changes

fix(a11y): cover scope gaps surfaced by R3 review
  CHANGELOG.md
  src/app/(app)/(admin)/approvals/page.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/app/(app)/(admin)/monitoring/page.tsx
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/components/package/__tests__/file-viewer.test.tsx
  src/components/package/file-viewer.tsx
Due: Require E2E for page changes, Label UI component changes

fix: surface backend error details in mutation toasts (#357)
  CHANGELOG.md
  src/app/(app)/(admin)/analytics/page.tsx
  src/app/(app)/(admin)/approvals/page.tsx
  src/app/(app)/(admin)/backups/page.tsx
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/app/(app)/(admin)/monitoring/page.tsx
  src/app/(app)/(admin)/permissions/page.test.tsx
  src/app/(app)/(admin)/permissions/page.tsx
  src/app/(app)/(admin)/quality-gates/page.tsx
  src/app/(app)/(admin)/security/dt-projects/[uuid]/page.tsx
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/security/policies/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/security/scans/page.tsx
  src/app/(app)/(admin)/service-accounts/page.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/app/(app)/(protected)/peers/page.tsx
  src/app/(app)/(protected)/plugins/page.tsx
  src/app/(app)/(protected)/profile/page.tsx
  src/app/(app)/(protected)/replication/page.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/components/common/__tests__/repo-selector-form.test.tsx
  src/components/common/repo-selector-form.tsx
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes, Label UI component changes

fix(a11y): aria attribute coverage audit on admin pages (#358)
  CHANGELOG.md
  src/app/(app)/(admin)/approvals/page.tsx
  src/app/(app)/(admin)/groups/page.tsx
  src/app/(app)/(admin)/lifecycle/page.tsx
  src/app/(app)/(admin)/migration/page.tsx
  src/app/(app)/(admin)/monitoring/page.tsx
  src/app/(app)/(admin)/quality-gates/page.tsx
  src/app/(app)/(admin)/security/page.tsx
  src/app/(app)/(admin)/security/scans/[id]/page.tsx
  src/app/(app)/(admin)/settings/sso/page.tsx
  src/app/(app)/(admin)/telemetry/page.tsx
  src/app/(app)/(admin)/users/page.tsx
  src/components/package/__tests__/file-viewer.test.tsx
  src/components/package/file-viewer.tsx
Due: Require E2E for page changes, Label UI component changes

refactor(api/totp): replace double-casts with SDK types and zod schemas (#206)
  src/lib/api/totp.ts
Due: none

refactor(api/auth,fetch): replace double-casts with SDK types and zod schemas (#206)
  src/lib/api/auth.ts
  src/lib/api/fetch.ts
Due: none

refactor(api/uploads): replace double-casts with SDK types and zod schemas (#206)
  src/lib/api/uploads.ts
Due: none

refactor(api/packages): replace double-casts with SDK types and zod schemas (#206)
  src/lib/api/packages.ts
Due: none

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
