Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

test(search): expect facets + quarantine fields from advancedSearch (#463)
  src/lib/api/__tests__/search.test.ts
Due: none

fix(repositories): cache-UI review fixes for TTL a11y, invalidate confirm, dead code
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/lib/cache-time.ts
Due: Require E2E for page changes

test(e2e): fix repo-create field + force flat view for maven artifact-table tests
  e2e/suites/interactions/dashboard/api-comprehensive.spec.ts
  e2e/suites/interactions/repositories/artifact-download.spec.ts
  e2e/suites/interactions/repositories/download-url-and-version.spec.ts
Due: Label E2E test changes

test: raise new-code coverage to >=80% for the v1.2.0 release batch
  src/app/(app)/repositories/_components/release-target-settings.test.tsx
  src/app/(app)/repositories/_components/routing-rules-settings.test.tsx
  src/lib/api/__tests__/migration-stream.test.ts
  src/lib/api/__tests__/migration.test.ts
  src/lib/api/__tests__/rate-limits.test.ts
  src/lib/api/__tests__/repositories.test.ts
  src/lib/api/__tests__/settings.test.ts
Due: Require E2E for page changes

test(e2e): make v1.2.0 feature specs robust against the e2e environment
  e2e/suites/interactions/admin/backups.spec.ts
  e2e/suites/interactions/admin/rate-limits.spec.ts
  e2e/suites/interactions/admin/system-config-feature-flags.spec.ts
  e2e/suites/interactions/dashboard/search.spec.ts
  e2e/suites/interactions/repositories/maven-gav-search-pom.spec.ts
  e2e/suites/interactions/repositories/maven-grouped-browser.spec.ts
  e2e/suites/interactions/repositories/remote-cached-artifacts.spec.ts
  e2e/suites/interactions/repositories/repo-dialog-a11y.spec.ts
Due: Label E2E test changes

test(e2e): fix remaining v1.2.0 interactions spec failures
  e2e/suites/interactions/admin/system-config-feature-flags.spec.ts
  e2e/suites/interactions/operations/analytics.spec.ts
  e2e/suites/interactions/repositories/maven-grouped-browser.spec.ts
  e2e/suites/interactions/repositories/remote-cached-artifacts.spec.ts
  e2e/suites/interactions/repositories/repo-dialog-a11y.spec.ts
Due: Label E2E test changes

fix(repo-browser): confirm + a11y live region for cache invalidation
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

test(e2e): bind repo-dialog-a11y to the actual actions trigger
  e2e/suites/interactions/repositories/repo-dialog-a11y.spec.ts
Due: Label E2E test changes

test(auth): wait for authenticated state before changePassword
  src/providers/__tests__/auth-provider.test.tsx
Due: none

fix(repositories): seed routing rules table from initial server fetch
  src/app/(app)/repositories/_components/routing-rules-settings.test.tsx
  src/app/(app)/repositories/_components/routing-rules-settings.tsx
Due: Require E2E for page changes

test(auth): wait for authenticated state before changePassword (#469)
  src/providers/__tests__/auth-provider.test.tsx
Due: none

fix(repositories): seed routing rules table from initial server fetch (#470)
  src/app/(app)/repositories/_components/routing-rules-settings.test.tsx
  src/app/(app)/repositories/_components/routing-rules-settings.tsx
Due: Require E2E for page changes

Replacing Maven detail popup GAV Version by Version
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

fix(repositories): add icons to the Artifacts and Upload tabs
  src/app/(app)/repositories/_components/repo-detail-content.test.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
Due: Require E2E for page changes

fix(repositories): drop /simple suffix from default PyPI upstream URL
  src/app/(app)/repositories/_components/repo-dialogs.test.tsx
  src/app/(app)/repositories/_lib/default-upstream-urls.ts
Due: Require E2E for page changes

feat(setup): add npm and PyPI client variants in setup pag
  src/app/(app)/setup/page.test.tsx
  src/app/(app)/setup/page.tsx
Due: Require E2E for page changes

chore(release): bump version to 1.2.1
  package-lock.json
  package.json
Due: none

feat: age-gate UI — admin review queue and per-repo config panel
  e2e/suites/interactions/operations/age-gate.spec.ts
  src/app/(app)/(admin)/age-gate/__tests__/page.test.tsx
  src/app/(app)/(admin)/age-gate/page.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/app/(app)/repositories/_components/age-gate-settings.test.tsx
  src/app/(app)/repositories/_components/age-gate-settings.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.test.tsx
  src/app/(app)/repositories/_components/notifications-tab-content.tsx
  src/app/(app)/repositories/_components/repo-settings-tab.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/age-gate.ts
  src/lib/api/index.ts
  src/lib/api/webhooks.ts
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

fix(age-gate-ui): address review — a11y, history filter, min-age validation, encode review IDs
  src/app/(app)/(admin)/age-gate/page.tsx
  src/app/(app)/repositories/_components/age-gate-settings.tsx
  src/components/common/data-table.tsx
  src/lib/api/age-gate.ts
Due: Require E2E for page changes, Label UI component changes

fix(repositories): refetch on login (#487) and show error state on list failure (#478)
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/app/(app)/repositories/page.test.tsx
  src/providers/__tests__/auth-provider.test.tsx
  src/providers/auth-provider.tsx
Due: Require E2E for page changes

ci: add release.yml so v* tags create GitHub Releases (#440)
  .github/workflows/release.yml
Due: none

fix(middleware): proxy /lxc/* to the backend (artifact-keeper#1272)
  src/__tests__/middleware.test.ts
  src/middleware.ts
Due: none

feat: upgrade to @artifact-keeper/sdk 1.2.1 + PyPI tracks UI (PEP 708)
  package.json
  src/app/(app)/repositories/_components/pypi-tracks-panel.tsx
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/lib/api/__tests__/promotion.test.ts
  src/lib/api/__tests__/pypi-tracks.test.ts
  src/lib/api/__tests__/replication.test.ts
  src/lib/api/__tests__/security.test.ts
  src/lib/api/__tests__/sso.test.ts
  src/lib/api/__tests__/webhooks.test.ts
  src/lib/api/admin.ts
  src/lib/api/index.ts
  src/lib/api/pypi-tracks.ts
  src/lib/api/replication.ts
  src/lib/api/sbom.ts
Due: Require E2E for page changes

feat(setup): add npm and PyPI client variants in setup pag (#485)
  src/app/(app)/setup/page.test.tsx
  src/app/(app)/setup/page.tsx
Due: Require E2E for page changes

fix(repositories): refetch on login (#487) and show error state on list failure (#478) (#502)
  src/app/(app)/repositories/_components/repositories-content.tsx
  src/app/(app)/repositories/page.test.tsx
  src/providers/__tests__/auth-provider.test.tsx
  src/providers/auth-provider.tsx
Due: Require E2E for page changes

chore: lock @artifact-keeper/sdk to published 1.2.1
  package-lock.json
Due: none

ci: add release.yml so v* tags create GitHub Releases (#440) (#503)
  .github/workflows/release.yml
Due: none

test(pypi-tracks): cover PypiTracksPanel render, form submit, and delete flow
  src/app/(app)/repositories/_components/pypi-tracks-panel.test.tsx
Due: Require E2E for page changes

feat(signing): add Artifact Signing keys admin UI
  src/app/(app)/(admin)/signing/page.test.tsx
  src/app/(app)/(admin)/signing/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/signing.test.ts
  src/lib/api/index.ts
  src/lib/api/signing.ts
Due: Require E2E for page changes, Label UI component changes

refactor(signing): address review nits (drop cast, strip blank UIDs, error fallback)
  src/app/(app)/(admin)/signing/page.tsx
  src/lib/api/signing.ts
Due: Require E2E for page changes

feat(curation): add Package Curation review queue UI
  src/app/(app)/(admin)/curation/page.test.tsx
  src/app/(app)/(admin)/curation/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/curation.test.ts
  src/lib/api/curation.ts
  src/lib/api/index.ts
Due: Require E2E for page changes, Label UI component changes

refactor(curation): address review — status-aware actions, status column, reason-gate tests
  src/app/(app)/(admin)/curation/page.test.tsx
  src/app/(app)/(admin)/curation/page.tsx
Due: Require E2E for page changes

chore: drop sync-policies.ts (belongs to a separate PR, not curation)
  src/lib/api/sync-policies.ts
Due: none

feat(sync-policies): add typed sync-policies API adapter (WIP — page + tests next)
  src/lib/api/sync-policies.ts
Due: none

feat(sync-policies): add Replication Sync Policies admin UI
  src/app/(app)/(admin)/sync-policies/page.test.tsx
  src/app/(app)/(admin)/sync-policies/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/sync-policies.test.ts
  src/lib/api/index.ts
Due: Require E2E for page changes, Label UI component changes

fix(sync-policies): address review blocker — translate filter->artifact_filter on update; harden priority input
  src/app/(app)/(admin)/sync-policies/page.test.tsx
  src/app/(app)/(admin)/sync-policies/page.tsx
  src/lib/api/sync-policies.ts
Due: Require E2E for page changes

feat(promotion-rules): add Promotion Rules admin UI
  src/app/(app)/(admin)/promotion-rules/page.test.tsx
  src/app/(app)/(admin)/promotion-rules/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/promotion-rules.test.ts
  src/lib/api/index.ts
  src/lib/api/promotion-rules.ts
Due: Require E2E for page changes, Label UI component changes

fix(promotion-rules): address review blocker — surface + round-trip allowed_licenses & max_artifact_age_days (PUT-replace would wipe them)
  src/app/(app)/(admin)/promotion-rules/page.test.tsx
  src/app/(app)/(admin)/promotion-rules/page.tsx
Due: Require E2E for page changes

test(promotion-rules): cover all gate fields to clear 80% new-code coverage gate
  src/app/(app)/(admin)/promotion-rules/page.test.tsx
  src/app/(app)/(admin)/promotion-rules/page.tsx
Due: Require E2E for page changes

feat(format-handlers): add Format Handlers admin UI
  src/app/(app)/(admin)/format-handlers/page.test.tsx
  src/app/(app)/(admin)/format-handlers/page.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/api/__tests__/format-handlers.test.ts
  src/lib/api/format-handlers.ts
  src/lib/api/index.ts
Due: Require E2E for page changes, Label UI component changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
