Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

feat: add payload template selector to webhook create dialog (#261)
  src/app/(app)/(protected)/webhooks/__tests__/page.test.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/lib/api/webhooks.ts
  src/lib/constants/__tests__/webhook.test.ts
  src/lib/constants/webhook.ts
Due: Require E2E for page changes

Display password reuse rejection message on change password
  src/app/(app)/(protected)/profile/__tests__/page.test.tsx
  src/app/(app)/(protected)/profile/page.tsx
  src/app/(auth)/change-password/__tests__/page.test.tsx
  src/app/(auth)/change-password/page.tsx
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes

Display password reuse rejection message on change password (#296)
  src/app/(app)/(protected)/profile/__tests__/page.test.tsx
  src/app/(app)/(protected)/profile/page.tsx
  src/app/(auth)/change-password/__tests__/page.test.tsx
  src/app/(auth)/change-password/page.tsx
  src/lib/__tests__/error-utils.test.ts
  src/lib/error-utils.ts
Due: Require E2E for page changes

feat: add payload template selector to webhook create dialog (#261) (#295)
  src/app/(app)/(protected)/webhooks/__tests__/page.test.tsx
  src/app/(app)/(protected)/webhooks/page.tsx
  src/lib/api/webhooks.ts
  src/lib/constants/__tests__/webhook.test.ts
  src/lib/constants/webhook.ts
Due: Require E2E for page changes

feat: add repository-scoped access token management (#250) (#294)
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/lib/api/__tests__/profile.test.ts
  src/lib/api/index.ts
  src/lib/api/profile.ts
Due: Require E2E for page changes

fix: disambiguate E2E selectors for access token dialog name field
  e2e/fixtures/test-fixtures.ts
  e2e/suites/interactions/admin/backups.spec.ts
  e2e/suites/interactions/auth/access-tokens.spec.ts
  e2e/suites/interactions/integrations/access-tokens.spec.ts
Due: Label E2E test changes

fix: disambiguate E2E selectors for access token dialog name field (#301)
  e2e/fixtures/test-fixtures.ts
  e2e/suites/interactions/admin/backups.spec.ts
  e2e/suites/interactions/auth/access-tokens.spec.ts
  e2e/suites/interactions/integrations/access-tokens.spec.ts
Due: Label E2E test changes

fix: cap access token create dialog height to prevent viewport overflow
  src/app/(app)/(protected)/access-tokens/page.tsx
Due: Require E2E for page changes

fix: cap access token create dialog height to prevent viewport overflow (#312)
  src/app/(app)/(protected)/access-tokens/page.tsx
Due: Require E2E for page changes

fix: call refreshUser after SSO token exchange
  src/app/(auth)/callback/page.tsx
Due: Require E2E for page changes

test: add chunked-upload coverage for FileUpload component
  src/components/common/__tests__/file-upload.test.tsx
Due: Label UI component changes

feat: chunked upload support in web UI for large artifacts (#563) (#218)
  src/app/(app)/repositories/_components/repo-detail-content.tsx
  src/components/common/__tests__/file-upload.test.tsx
  src/components/common/file-upload.tsx
  src/hooks/__tests__/use-chunked-upload.test.ts
  src/hooks/use-chunked-upload.ts
  src/lib/api/__tests__/uploads.test.ts
  src/lib/api/uploads.ts
Due: Require E2E for page changes, Label UI component changes

fix: make code duplication gate result visible and fail-fast
  .github/workflows/ci.yml
Due: none

fix: call refreshUser after SSO token exchange (#276)
  src/app/(auth)/callback/page.tsx
Due: Require E2E for page changes

fix: make code duplication gate result visible and fail-fast (#313)
  .github/workflows/ci.yml
Due: none

docs: add [1.1.0] changelog entry
  CHANGELOG.md
Due: none

docs: add [1.1.0] changelog entry (#314)
  CHANGELOG.md
Due: none

fix: bust Docker build cache when APP_VERSION changes (#315)
  Dockerfile
Due: none

fix: bust Docker build cache when APP_VERSION changes (#315) (#316)
  Dockerfile
Due: none

chore: bump package.json version to 1.1.2
  package.json
Due: none

chore: bump package.json version to 1.1.3
  package.json
Due: none

chore: bump package.json to 1.1.3
  package.json
Due: none

chore: bump package.json to 1.1.3 (#318)
  package.json
Due: none

fix(settings): wire Storage tab to runtime config
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes

fix(settings): surface storage query failures, reuse formatBytes helper
  src/app/(app)/(admin)/settings/__tests__/page.test.tsx
  src/app/(app)/(admin)/settings/page.tsx
  src/lib/api/__tests__/settings.test.ts
  src/lib/api/settings.ts
Due: Require E2E for page changes

fix: skip trailing-slash redirect so /v2/ reaches docker proxy
  next.config.ts
  src/__tests__/middleware.test.ts
Due: none

refactor: consolidate /v2 ping test with shared rewrite assertion helper
  src/__tests__/middleware.test.ts
Due: none

fix: skip trailing-slash redirect so /v2/ reaches docker proxy (#338)
  next.config.ts
  src/__tests__/middleware.test.ts
Due: none

test(middleware): add failing regression test for SSE trailing-slash variant
  src/__tests__/middleware.test.ts
Due: none

fix(middleware): treat SSE trailing-slash variant as equivalent
  src/middleware.ts
Due: none

test(middleware): lock in multi-slash variant of SSE early-return
  src/__tests__/middleware.test.ts
Due: none

test(e2e): add fixture HTTP registry for /v2/* header forwarding tests
  e2e/fixtures/docker-registry-fixture.ts
  e2e/fixtures/run-docker-registry-fixture.ts
Due: Label E2E test changes

test(e2e): add Playwright spec asserting Docker /v2/* header pass-through (#336)
  e2e/suites/docker-proxy/header-forwarding.spec.ts
  package.json
  playwright-docker-proxy.config.ts
Due: Label E2E test changes

ci: add e2e-docker-proxy job to CI workflow
  .github/workflows/ci.yml
Due: none

ci(docker-publish): add release/1.1.x branch + :1.1-dev tag rule (#331)
  .github/workflows/docker-publish.yml
Due: none

docs: postmortem for v1.1.8 web image publish gap (#320)
  docs/release-history/v1.1.8-web-postmortem.md
Due: none

chore(changelog): note v1.1.8 web image is documented as missing
  CHANGELOG.md
Due: none

test(e2e): apply round-1 review fixes for Docker /v2/* header tests
  .github/workflows/ci.yml
  .gitignore
  e2e/fixtures/run-docker-registry-fixture.ts
  e2e/suites/docker-proxy/header-forwarding.spec.ts
  playwright-docker-proxy.config.ts
Due: Label E2E test changes

refactor(e2e): simplify docker-proxy fixture and spec
  e2e/fixtures/docker-registry-fixture.ts
  e2e/suites/docker-proxy/header-forwarding.spec.ts
Due: Label E2E test changes

chore(eslint): also ignore .claude/worktrees nested copies
  eslint.config.mjs
Due: none

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
