Repository artifact-keeper/artifact-keeper-web: changes, and which Mergify rules are due for each by the changed paths.
All: Require E2E for page changes, Label UI component changes, Label E2E test changes

Require E2E for page changes:
  label:
    add:
    - needs-e2e
  comment:
    message: 'This PR modifies app pages. Please ensure Playwright E2E tests cover the changes.
  
      '

Label UI component changes:
  label:
    add:
    - ui

Label E2E test changes:
  label:
    add:
    - e2e

chore: bump to 1.1.0-rc.4, update changelog
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: bump to 1.1.0-rc.4 (#99)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: replace networkidle waits with domcontentloaded to fix E2E CI timeouts
  .github/workflows/ci.yml
  e2e/fixtures/test-fixtures.ts
  e2e/suites/interactions/admin/permissions.spec.ts
  e2e/suites/interactions/admin/users.spec.ts
  e2e/suites/interactions/auth/change-password.spec.ts
  e2e/suites/interactions/auth/error-pages.spec.ts
  e2e/suites/interactions/auth/logout.spec.ts
  e2e/suites/interactions/dashboard/api-integration.spec.ts
  e2e/suites/interactions/operations/analytics.spec.ts
  e2e/suites/interactions/operations/lifecycle.spec.ts
  e2e/suites/interactions/operations/monitoring.spec.ts
  e2e/suites/interactions/packages/package-browse.spec.ts
  e2e/suites/interactions/packages/package-detail.spec.ts
  e2e/suites/interactions/repositories/repo-detail.spec.ts
  e2e/suites/interactions/security/dependency-track.spec.ts
  e2e/suites/interactions/security/license-policies.spec.ts
  e2e/suites/interactions/security/security-policies.spec.ts
  e2e/suites/interactions/security/security-scans.spec.ts
  e2e/suites/roles/admin.spec.ts
  e2e/suites/roles/regular-user.spec.ts
  e2e/suites/roles/restricted.spec.ts
  e2e/suites/roles/security-auditor.spec.ts
  e2e/suites/roles/unauthenticated.spec.ts
  e2e/suites/roles/viewer.spec.ts
  e2e/suites/visual/components/components.spec.ts
  e2e/suites/visual/pages/admin-pages.spec.ts
  e2e/suites/visual/pages/core-pages.spec.ts
  e2e/suites/visual/states/states.spec.ts
  e2e/tutorials/01-getting-started.tutorial.ts
  e2e/tutorials/02-create-repositories.tutorial.ts
  e2e/tutorials/03-proxy-setup.tutorial.ts
  e2e/tutorials/04-virtual-repositories.tutorial.ts
  e2e/tutorials/05-security-quality-gates.tutorial.ts
  e2e/tutorials/06-user-management.tutorial.ts
  playwright.config.ts
Due: Label E2E test changes

fix: replace instant isVisible() checks with retrying expect().toBeVisible()
  e2e/suites/interactions/admin/permissions.spec.ts
  e2e/suites/interactions/operations/analytics.spec.ts
  e2e/suites/interactions/operations/lifecycle.spec.ts
  e2e/suites/interactions/operations/monitoring.spec.ts
  e2e/suites/interactions/security/dependency-track.spec.ts
  e2e/suites/interactions/security/license-policies.spec.ts
  e2e/suites/interactions/security/security-policies.spec.ts
  e2e/suites/interactions/security/security-scans.spec.ts
Due: Label E2E test changes

ci: publish Docker images to Docker Hub alongside ghcr.io
  .github/workflows/docker-publish.yml
Due: none

ci: publish Docker images to Docker Hub alongside ghcr.io (#101)
  .github/workflows/docker-publish.yml
Due: none

fix: avoid strict mode violation in lifecycle stat cards test
  e2e/suites/interactions/operations/lifecycle.spec.ts
Due: Label E2E test changes

fix: accept skeleton loaders in lifecycle stat cards test
  e2e/suites/interactions/operations/lifecycle.spec.ts
Due: Label E2E test changes

fix: add supply chain attestations to Docker builds
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
Due: none

fix: add supply chain attestations to Docker builds (#102)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
Due: none

fix: use data-slot selector for skeleton detection in lifecycle test
  e2e/suites/interactions/operations/lifecycle.spec.ts
Due: Label E2E test changes

fix(e2e): use retrying assertion for lifecycle stat cards test
  e2e/suites/interactions/operations/lifecycle.spec.ts
Due: Label E2E test changes

Fix E2E CI timeouts caused by SSE blocking networkidle (#100)
  .github/workflows/ci.yml
  e2e/fixtures/test-fixtures.ts
  e2e/suites/interactions/admin/permissions.spec.ts
  e2e/suites/interactions/admin/users.spec.ts
  e2e/suites/interactions/auth/change-password.spec.ts
  e2e/suites/interactions/auth/error-pages.spec.ts
  e2e/suites/interactions/auth/logout.spec.ts
  e2e/suites/interactions/dashboard/api-integration.spec.ts
  e2e/suites/interactions/operations/analytics.spec.ts
  e2e/suites/interactions/operations/lifecycle.spec.ts
  e2e/suites/interactions/operations/monitoring.spec.ts
  e2e/suites/interactions/packages/package-browse.spec.ts
  e2e/suites/interactions/packages/package-detail.spec.ts
  e2e/suites/interactions/repositories/repo-detail.spec.ts
  e2e/suites/interactions/security/dependency-track.spec.ts
  e2e/suites/interactions/security/license-policies.spec.ts
  e2e/suites/interactions/security/security-policies.spec.ts
  e2e/suites/interactions/security/security-scans.spec.ts
  e2e/suites/roles/admin.spec.ts
  e2e/suites/roles/regular-user.spec.ts
  e2e/suites/roles/restricted.spec.ts
  e2e/suites/roles/security-auditor.spec.ts
  e2e/suites/roles/unauthenticated.spec.ts
  e2e/suites/roles/viewer.spec.ts
  e2e/suites/visual/components/components.spec.ts
  e2e/suites/visual/pages/admin-pages.spec.ts
  e2e/suites/visual/pages/core-pages.spec.ts
  e2e/suites/visual/states/states.spec.ts
  e2e/tutorials/01-getting-started.tutorial.ts
  e2e/tutorials/02-create-repositories.tutorial.ts
  e2e/tutorials/03-proxy-setup.tutorial.ts
  e2e/tutorials/04-virtual-repositories.tutorial.ts
  e2e/tutorials/05-security-quality-gates.tutorial.ts
  e2e/tutorials/06-user-management.tutorial.ts
  playwright.config.ts
Due: Label E2E test changes

fix: use percentage strings for resizable panel sizes
  src/app/(app)/repositories/page.tsx
  src/app/(app)/staging/page.tsx
Due: Require E2E for page changes

fix: use percentage strings for resizable panel sizes (#103)
  src/app/(app)/repositories/page.tsx
  src/app/(app)/staging/page.tsx
Due: Require E2E for page changes

fix: hide system health from anonymous dashboard users
  src/app/(app)/page.tsx
Due: Require E2E for page changes

fix: hide system health from anonymous dashboard users (#104)
  src/app/(app)/page.tsx
Due: Require E2E for page changes

feat: show both web and API versions in sidebar
  package.json
  src/components/layout/app-sidebar.tsx
Due: Label UI component changes

fix: rename API to Server in sidebar version display
  src/components/layout/app-sidebar.tsx
Due: Label UI component changes

chore: bump version to 1.1.0-rc.8
  package.json
Due: none

test: add Playwright tests for private repo visibility enforcement
  e2e/setup/seed-data.ts
  e2e/suites/roles/private-repo-visibility.spec.ts
  playwright.config.ts
Due: Label E2E test changes

test: add Playwright tests for private repo visibility enforcement (#105)
  e2e/setup/seed-data.ts
  e2e/suites/roles/private-repo-visibility.spec.ts
  playwright.config.ts
Due: Label E2E test changes

fix: use correct response field name for API token listing
  src/lib/api/profile.ts
Due: none

test: verify API key and access token details after creation
  e2e/suites/interactions/integrations/access-tokens.spec.ts
Due: Label E2E test changes

fix: read token field from create API response
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/lib/api/profile.ts
Due: Require E2E for page changes

fix: proxy native format endpoints to backend
  src/middleware.ts
Due: none

test: update middleware matcher test for native format routes
  src/__tests__/middleware.test.ts
Due: none

test: add coverage for native format proxy paths in middleware
  src/__tests__/middleware.test.ts
Due: none

fix: API keys/access tokens not showing after creation (#106)
  e2e/suites/interactions/integrations/access-tokens.spec.ts
  src/__tests__/middleware.test.ts
  src/app/(app)/(protected)/access-tokens/page.tsx
  src/lib/api/profile.ts
  src/middleware.ts
Due: Require E2E for page changes, Label E2E test changes

fix: add /v2 to middleware matcher for Docker login
  src/middleware.ts
Due: none

fix: add /v2 to middleware matcher for Docker login (#108)
  src/middleware.ts
Due: none

test: add unit tests for dashboard, sidebar, and profile API to meet 80% new code coverage
  package-lock.json
  package.json
  src/app/(app)/__tests__/page.test.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/lib/api/__tests__/profile.test.ts
Due: Require E2E for page changes, Label UI component changes

fix: disable no-explicit-any and no-img-element lint rules for test files
  eslint.config.mjs
Due: none

test: improve new code coverage to meet 80% quality gate (#112)
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/(app)/__tests__/page.test.tsx
  src/components/layout/__tests__/app-sidebar.test.tsx
  src/lib/api/__tests__/profile.test.ts
Due: Require E2E for page changes, Label UI component changes

test: add comprehensive tests for coverage quality gate (round 2)
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/components/common/__tests__/repo-selector-form.test.tsx
  src/components/common/__tests__/token-create-form.test.tsx
  src/components/common/__tests__/token-created-alert.test.tsx
  src/lib/__tests__/sdk-client.test.ts
  src/lib/api/__tests__/fetch.test.ts
  src/lib/api/__tests__/service-accounts.test.ts
  src/providers/__tests__/instance-provider.test.tsx
Due: Require E2E for page changes, Label UI component changes

fix(e2e): resolve strict mode violation in security scans test
  e2e/suites/interactions/security/security-scans.spec.ts
Due: Label E2E test changes

test: improve new code coverage to meet 80% quality gate (round 2) (#113)
  e2e/suites/interactions/security/security-scans.spec.ts
  src/app/(app)/(protected)/access-tokens/__tests__/page.test.tsx
  src/components/common/__tests__/repo-selector-form.test.tsx
  src/components/common/__tests__/token-create-form.test.tsx
  src/components/common/__tests__/token-created-alert.test.tsx
  src/lib/__tests__/sdk-client.test.ts
  src/lib/api/__tests__/fetch.test.ts
  src/lib/api/__tests__/service-accounts.test.ts
  src/providers/__tests__/instance-provider.test.tsx
Due: Require E2E for page changes, Label UI component changes, Label E2E test changes

Add CodeQL workflow for code analysis
  .github/workflows/codeql.yml
Due: none

Add Dependency Review Action workflow
  .github/workflows/dependency-review.yml
Due: none

fix: correct download URL pattern to match backend route (#313)
  e2e/suites/interactions/repositories/artifact-download.spec.ts
  src/lib/api/artifacts.ts
Due: Label E2E test changes

Path conditions:
  Require E2E for page changes: any of: ^src/app/
  Label UI component changes: any of: ^src/components/
  Label E2E test changes: any of: ^e2e/
